In [1]:
import pandas as pd
import numpy as np

import requests
import csv
import json
import random
from bs4 import BeautifulSoup
from pprint import pprint
from fake_useragent import UserAgent, VERSION
import time
from datetime import datetime
from multiprocessing import Pool  #предоставляет возможность параллельных процессов

AREAS = ['moskva', 'moskovskaya_oblast']
ROOT_URL = 'https://auto.ru/'
ALL_MODELS_URL = 'https://auto.ru/htmlsitemap/mark_model_catalog.html'
CATALOG_URL = 'https://auto.ru/htmlsitemap/mark_model_catalog.html'
LISTING_URL = 'https://auto.ru/-/ajax/desktop/listing/'

## Парсинг данных с auto.ru через ajax-запрос с последующей обработкой ответа формата json.

In [126]:
# # Парсим список наименований моделей sitemap
# CATALOG_URL = 'https://auto.ru/htmlsitemap/mark_model_catalog.html'



# # def parse_models_list(url, brand):
# def parse_models_list(url):
#     """
#     Парсит названия моделей авто производителя
#     :param url: url
#     :param manufacturer_name: name of the manufacturer
#     :return: list of model names
#     """
#     response = requests.get(url)
#     soup = BeautifulSoup(response.text, 'html.parser')

#     sitemap_block = soup.find('div', class_='sitemap')
#     all_models_links = sitemap_block.find_all('a')
    
#     # Соберем все названия брендов
#     brands_lst = list(set([item['href'].split('/')[-3] for item in all_models_links]))
    
#     models_dict = {}
#     for brand_item in brands_lst:
#         models_dict[brand_item] = [item['href'].split('/')[-2] for item in all_models_links if brand_item in item.text.lower()]
#     # Сохраним модели только определенного производителя
#     # brand_models = [item['href'].split('/')[-2] for item in all_models_links if brand in item.text.lower()]
    
# #     return brand_models
#     return models_dict

In [127]:
# models_dct = parse_models_list(CATALOG_URL)

In [1]:
equipments_dict = {
    # Безопасность
    'airbag-driver': {'name': 'Подушка безопасности водителя', 'category': 'Безопасность'},
    'airbag-passenger': {'name': 'Подушка безопасности пассажира', 'category': 'Безопасность'},
    'airbag-side': {'name': 'Подушки безопасности боковые', 'category': 'Безопасность'},
    'airbag-rear-side': {'name': 'Подушки безопасности боковые задние', 'category': 'Безопасность'},
    'airbag-curtain': {'name': 'Подушки безопасности оконные (шторки)', 'category': 'Безопасность'},
    'knee-airbag': {'name': 'Подушки безопасности коленей водителя', 'category': 'Безопасность'},
    'isofix': {'name': 'Крепление детского кресла (задний ряд) ISOFIX', 'category': 'Безопасность'},
    'isofix-front': {'name': 'Крепление детского кресла (передний ряд) ISOFIX', 'category': 'Безопасность'},
    'asr': {'name': 'Антипробуксовочная система (ASR)', 'category': 'Безопасность'},
    'esp': {'name': 'Система стабилизации (ESP)', 'category': 'Безопасность'},
    'bas': {'name': 'Система помощи при торможении (BAS, EBD)', 'category': 'Безопасность'},
    'hsa': {'name': 'Система помощи при старте в гору (HSA)', 'category': 'Безопасность'},
    'abs': {'name': 'Антиблокировочная система (ABS)', 'category': 'Безопасность'},
    'glonass': {'name': 'ЭРА-ГЛОНАСС', 'category': 'Безопасность'},
    'drive-mode-sys': {'name': 'Система выбора режима движения', 'category': 'Безопасность'},
    'power-child-locks-rear-doors': {'name': 'Блокировка замков задних дверей', 'category': 'Безопасность'},
    'tyre-pressure': {'name': 'Датчик давления в шинах', 'category': 'Безопасность'},
    'drowsy-driver-alert-system': {'name': 'Датчик усталости водителя', 'category': 'Безопасность'},
    'laminated-safety-glass': {'name': 'Ламинированные боковые стекла', 'category': 'Безопасность'},
    'lane-keeping-assist': {'name': 'Система контроля за полосой движения', 'category': 'Безопасность'},
    'blind-spot': {'name': 'Система контроля слепых зон', 'category': 'Безопасность'},
    'night-vision': {'name': 'Система ночного видения', 'category': 'Безопасность'},
    'collision-prevention-assist': {'name': 'Система предотвращения столкновения', 'category': 'Безопасность'},
    'traffic-sign-recognition': {'name': 'Система распознавания дорожных знаков', 'category': 'Безопасность'},
    'vsm': {'name': 'Система стабилизации рулевого управления (VSM)', 'category': 'Безопасность'},
    'hdc': {'name': 'Система помощи при спуске', 'category': 'Безопасность'},
    
    # Мультимедиа 
    'aux': {'name': 'AUX', 'category': 'Мультимедиа'},
    'android-auto': {'name': 'Android Auto', 'category': 'Мультимедиа'},
    'bluetooth': {'name': 'Bluetooth', 'category': 'Мультимедиа'},
    'apple-carplay': {'name': 'CarPlay', 'category': 'Мультимедиа'},
    'usb': {'name': 'USB', 'category': 'Мультимедиа'},
    'audiopreparation': {'name': 'Аудиоподготовка', 'category': 'Мультимедиа'},
    'audiosystem-cd': {'name': 'Аудиосистема', 'category': 'Мультимедиа'},
    'music-super': {'name': 'Аудиосистема Hi-Fi', 'category': 'Мультимедиа'},
    'audiosystem-tv': {'name': 'Аудиосистема с TV', 'category': 'Мультимедиа'},
    'wireless-charger': {'name': 'Беспроводная зарядка для смартфона', 'category': 'Мультимедиа'},
    'voice-recognition': {'name': 'Голосовое управление', 'category': 'Мультимедиа'},
    'entertainment-system-for-rear-seat-passengers': {'name': 'Мультимедиа система для задних пассажиров', 'category': 'Мультимедиа'},
    'navigation': {'name': 'Навигационная система', 'category': 'Мультимедиа'},
    '12v-socket': {'name': 'Розетка 12V', 'category': 'Мультимедиа'},
    '220v-socket': {'name': 'Розетка 220V', 'category': 'Мультимедиа'},
    'ya-auto': {'name': 'Яндекс.Авто', 'category': 'Мультимедиа'},
    
    # Комфорт
    'auto-cruise': {'name': 'Адаптивный круиз-контроль', 'category': 'Комфорт'},
    'wheel-power': {'name': 'Активный усилитель руля', 'category': 'Комфорт'},
    'computer': {'name': 'Бортовой компьютер', 'category': 'Комфорт'},
    'remote-engine-start': {'name': 'Дистанционный запуск двигателя', 'category': 'Комфорт'},
    'power-latching-doors': {'name': 'Доводчик дверей', 'category': 'Комфорт'},
    'start-button': {'name': 'Запуск двигателя с кнопки', 'category': 'Комфорт'},
    '360-camera': {'name': 'Камера 360°', 'category': 'Комфорт'},
    'rear-camera': {'name': 'Камера задняя', 'category': 'Комфорт'},
    'front-camera': {'name': 'Камера передняя', 'category': 'comfort'},
    'climate-control-1': {'name': 'Климат-контроль 1-зонный', 'category': 'Комфорт'},
    'climate-control-2': {'name': 'Климат-контроль 2-зонный', 'category': 'Комфорт'},
    'multizone-climate-control': {'name': 'Климат-контроль многозонный', 'category': 'Комфорт'},
    'condition': {'name': 'Кондиционер', 'category': 'Комфорт'},
    'cruise-control': {'name': 'Круиз-контроль', 'category': 'Комфорт'},
    'multi-wheel': {'name': 'Мультифункциональное рулевое колесо', 'category': 'Комфорт'},
    'easy-trunk-opening': {'name': 'Открытие багажника без помощи рук', 'category': 'Комфорт'},
    'cooling-box': {'name': 'Охлаждаемый перчаточный ящик', 'category': 'Комфорт'},
    'park-assist-r': {'name': 'Парктроник задний', 'category': 'Комфорт'},
    'park-assist-f': {'name': 'Парктроник передний', 'category': 'Комфорт'},
    'steering-wheel-gear-shift-paddles': {'name': 'Подрулевые лепестки переключения передач', 'category': 'Комфорт'},
    'ashtray-and-cigarette-lighter': {'name': 'Прикуриватель и пепельница', 'category': 'Комфорт'},
    'programmed-block-heater': {'name': 'Программируемый предпусковой отопитель', 'category': 'Комфорт'},
    'projection-display': {'name': 'Проекционный дисплей', 'category': 'Комфорт'},
    'wheel-configuration1': {'name': 'Регулировка руля по вылету', 'category': 'Комфорт'},
    'wheel-configuration2': {'name': 'Регулировка руля по высоте', 'category': 'Комфорт'},
    'adj-pedals': {'name': 'Регулируемый педальный узел', 'category': 'Комфорт'},
    'wheel-memory': {'name': 'Рулевая колонка с памятью положения', 'category': 'Комфорт'},
    'start-stop-function': {'name': 'Система «старт-стоп»', 'category': 'Комфорт'},
    'auto-park': {'name': 'Система автоматической парковки', 'category': 'Комфорт'},
    'keyless-entry': {'name': 'Система доступа без ключа', 'category': 'Комфорт'},
    'wheel-power': {'name': 'Усилитель руля', 'category': 'Комфорт'},
    'electronic-gage-panel': {'name': 'Электронная приборная панель', 'category': 'Комфорт'},
    'electro-mirrors': {'name': 'Электропривод зеркал', 'category': 'Комфорт'},
    'electro-trunk': {'name': 'Электропривод крышки багажника', 'category': 'Комфорт'},
    'e-adjustment-wheel': {'name': 'Электрорегулировка руля', 'category': 'Комфорт'},
    'auto-mirrors': {'name': 'Электроскладывание зеркал', 'category': 'Комфорт'},
    'electro-window-back': {'name': 'Электростеклоподъёмники задние', 'category': 'Комфорт'},
    'electro-window-front': {'name': 'Электростеклоподъёмники передние', 'category': 'Комфорт'},
    
    # Салон
    'alcantara': {'name': 'Алькантара (Материал салона)', 'category': 'Салон'},
    'velvet-seats': {'name': 'Велюр (Материал салона)', 'category': 'Салон'},
    'rear-seat-heat-vent': {'name': 'Вентиляция задних сидений', 'category': 'Салон'},
    'front-seats-heat-vent': {'name': 'Вентиляция передних сидений', 'category': 'Салон'},
    'decorative-interior-lighting': {'name': 'Декоративная подсветка салона', 'category': 'Салон'},
    'sport-pedals': {'name': 'Декоративные накладки на педали', 'category': 'Салон'},
    'eco-leather': {'name': 'Искусственная кожа (Материал салона)', 'category': 'Салон'},
    'leather': {'name': 'Кожа (Материал салона)', 'category': 'Салон'},
    'seats-2': {'name': 'Количество мест: 2', 'category': 'Салон'},
    'seats-4': {'name': 'Количество мест: 4', 'category': 'Салон'},
    'seats-5': {'name': 'Количество мест: 5', 'category': 'Салон'},
    'seats-6': {'name': 'Количество мест: 6', 'category': 'Салон'},
    'seats-7': {'name': 'Количество мест: 7', 'category': 'Салон'},
    'combo-interior': {'name': 'Комбинированный (Материал салона)', 'category': 'Салон'},
    'servo': {'name': 'Люк', 'category': 'Салон'},
    'door-sill-panel': {'name': 'Накладки на пороги', 'category': 'Салон'},
    'wheel-heat': {'name': 'Обогрев рулевого колеса', 'category': 'Салон'},
    'wheel-leather': {'name': 'Отделка кожей рулевого колеса', 'category': 'Салон'},
    'leather-gear-stick': {'name': 'Отделка кожей рычага КПП', 'category': 'Салон'},
    'black-roof': {'name': 'Отделка потолка чёрной тканью', 'category': 'Салон'},
    'seat-memory': {'name': 'Память передних сидений', 'category': 'Салон'},
    'driver-seat-memory': {'name': 'Память сиденья водителя', 'category': 'Салон'},
    'panorama-roof': {'name': 'Панорамная крыша / лобовое стекло', 'category': 'Салон'},
    'front-centre-armrest': {'name': 'Передний центральный подлокотник', 'category': 'Салон'},
    'rear-seats-heat': {'name': 'Подогрев задних сидений', 'category': 'Салон'},
    'front-seats-heat': {'name': 'Подогрев передних сидений', 'category': 'Салон'},
    'passenger-seat-updown': {'name': 'Регулировка передних сидений по высоте', 'category': 'Салон'},
    'driver-seat-updown': {'name': 'Регулировка сиденья водителя по высоте', 'category': 'Салон'},
    'light-interior': {'name': 'Светлый салон', 'category': 'Салон'},
    'massage-seats': {'name': 'Сиденья с массажем', 'category': 'Салон'},
    # 'xxx': {'name': 'Складной столик на спинках передних сидений', 'category': 'Салон'},
    'folding-tables-rear': {'name': 'Складывающееся заднее сиденье', 'category': 'Салон'},
    'roller-blind-for-rear-window': {'name': 'Солнцезащитная шторка на заднем стекле', 'category': 'Салон'},
    'roller-blinds-for-rear-side-windows': {'name': 'Солнцезащитные шторки в задних дверях', 'category': 'Салон'},
    'sport-seats': {'name': 'Спортивные передние сиденья', 'category': 'Салон'},
    'fabric-seats': {'name': 'Ткань (Материал салона)', 'category': 'Салон'},
    'tinted-glass': {'name': 'Тонированные стекла', 'category': 'Салон'},
    'third-rear-headrest': {'name': 'Третий задний подголовник', 'category': 'Салон'},
    'third-row-seats': {'name': 'Третий ряд сидений', 'category': 'Салон'},
    'dark-interior': {'name': 'Тёмный салон', 'category': 'Салон'},
    'folding-front-passenger-seat': {'name': 'Функция складывания спинки сиденья пассажира', 'category': 'Салон'},
    'electro-rear-seat': {'name': 'Электрорегулировка задних сидений', 'category': 'Салон'},
    # 'xxx': {'name': 'Электрорегулировка передних сидений', 'category': 'Салон'},
    'driver-seat-electric': {'name': 'Электрорегулировка сиденья водителя', 'category': 'Салон'},
    
    # Защита от угона
    'volume-sensor': {'name': 'Датчик проникновения в салон (датчик объема)', 'category': 'Защита от угона'},
    'immo': {'name': 'Иммобилайзер', 'category': 'Защита от угона'},
    'alarm': {'name': 'Сигнализация', 'category': 'Защита от угона'},
    'feedback-alarm': {'name': 'Сигнализация с обратной связью', 'category': 'Защита от угона'},
    'lock': {'name': 'Центральный замок', 'category': 'Защита от угона'},
    
    # Обзор
    'automatic-lighting-control': {'name': 'Автоматический корректор фар', 'category': 'Обзор'},
    'rain-sensor': {'name': 'Датчик дождя', 'category': 'Обзор'},
    'light-sensor': {'name': 'Датчик света', 'category': 'Обзор'},
    'drl': {'name': 'Дневные ходовые огни', 'category': 'Обзор'},
    'xenon': {'name': 'Ксеноновые/Биксеноновые фары', 'category': 'Обзор'},
    'laser-lights': {'name': 'Лазерные фары', 'category': 'Обзор'},
    'light-cleaner': {'name': 'Омыватель фар', 'category': 'Обзор'},
    'ptf': {'name': 'Противотуманные фары', 'category': 'Обзор'},
    'led-lights': {'name': 'Светодиодные фары', 'category': 'Обзор'},
    'adaptive-light': {'name': 'Система адаптивного освещения', 'category': 'Обзор'},
    'high-beam-assist': {'name': 'Система управления дальним светом', 'category': 'Обзор'},
    'electro-mirrors': {'name': 'Электрообогрев боковых зеркал', 'category': 'Обзор'},
    'windscreen-heat': {'name': 'Электрообогрев зоны стеклоочистителей', 'category': 'Обзор'},
    'electro-window-front': {'name': 'Электрообогрев лобового стекла', 'category': 'Обзор'},
    'electro-window-back': {'name': 'Электрообогрев заднего стекла', 'category': 'Обзор'},
    'windcleaner-heat': {'name': 'Электрообогрев форсунок стеклоомывателей', 'category': 'Обзор'},
    
    #  Элементы экстерьера
    'airbrush': {'name': 'Аэрография', 'category': 'Элементы экстерьера'},
    'body-mouldings': {'name': 'Декоративные молдинги', 'category': 'Элементы экстерьера'},
    '14-inch-wheels': {'name': 'Диски 14', 'category': 'Элементы экстерьера'},
    '15-inch-wheels': {'name': 'Диски 15', 'category': 'Элементы экстерьера'},
    '16-inch-wheels': {'name': 'Диски 16', 'category': 'Элементы экстерьера'},
    '17-inch-wheels': {'name': 'Диски 17', 'category': 'Элементы экстерьера'},
    '18-inch-wheels': {'name': 'Диски 18', 'category': 'Элементы экстерьера'},
    '19-inch-wheels': {'name': 'Диски 19', 'category': 'Элементы экстерьера'},
    '20-inch-wheels': {'name': 'Диски 20', 'category': 'Элементы экстерьера'},
    '21-inch-wheels': {'name': 'Диски 21', 'category': 'Элементы экстерьера'},
    '22-inch-wheels': {'name': 'Диски 22', 'category': 'Элементы экстерьера'},
    'alloy-wheel-disks': {'name': 'Легкосплавные диски', 'category': 'Элементы экстерьера'},
    'paint-metallic': {'name': 'Металлик', 'category': 'Элементы экстерьера'},
    'body-kit': {'name': 'Обвес кузова', 'category': 'Элементы экстерьера'},
    'roof-rails': {'name': 'Рейлинги на крыше', 'category': 'Элементы экстерьера'},
    'steel-wheels': {'name': 'Стальные диски', 'category': 'Элементы экстерьера'},
    
    # Прочее
    'activ-suspension': {'name': 'Активная подвеска', 'category': 'Прочее'},
    # 'xxx': {'name': 'Газобаллонное оборудование', 'category': 'Прочее'},
    'reduce-spare-wheel': {'name': 'Докатка', 'category': 'Прочее'},
    # 'xxx': {'name': 'Защита картера', 'category': 'Прочее'},
    'air-suspension': {'name': 'Пневмоподвеска', 'category': 'Прочее'},
    'spare-wheel': {'name': 'Полноразмерное запасное колесо', 'category': 'Прочее'},
    'sport-suspension': {'name': 'Спортивная подвеска', 'category': 'Прочее'},
    # 'xxx': {'name': 'Фаркоп', 'category': 'Прочее'},
}

In [3]:
len(equipments_dict.keys())

160

In [129]:
# def parse_equipments(data):
#     """
#     Создает из переданных данные список словарей по категориям 
#     оборудования. 
#     :param data: a dicts
#     :return: a list of dicts 
#     """
#     if not data:
#         return None
    
#     # инициализируем словари
#     multimedia = {'name': 'Мультимедиа', 'values': []}
#     comfort = {'name': 'Комфорт', 'values': []}
#     salon = {'name': 'Салон', 'values': []}
#     safety = {'name': 'Безопасность', 'values': []}
#     other = {'name': 'Прочее', 'values': []}
#     overview = {'name': 'Обзор', 'values': []}
#     exterior = {'name': 'Элементы экстерьера', 'values': []}
#     theft_protection = {'name': 'Защита от угона', 'values': []}
    
    
#     # Проходимся по каждому ключу из
#     for key in data.keys():
#         if key in equipments_dict:
#             cat = equipments_dict[key]['category']
#             if cat == 'Мультимедиа':
#                 multimedia['values'].append(equipments_dict[key]['name'])
#             elif cat == 'Комфорт':
#                 comfort['values'].append(equipments_dict[key]['name'])
#             elif cat == 'Салон':
#                 salon['values'].append(equipments_dict[key]['name'])
#             elif cat == 'Безопасность':
#                 safety['values'].append(equipments_dict[key]['name'])
#             elif cat == 'Прочее':
#                 other['values'].append(equipments_dict[key]['name'])
#             elif cat == 'Обзор':
#                 overview['values'].append(equipments_dict[key]['name'])
#             elif cat == 'Элементы экстерьера':
#                 exterior['values'].append(equipments_dict[key]['name'])
#             elif cat == 'Защита от угона':
#                 theft_protection['values'].append(equipments_dict[key]['name'])
    
#     # prepare final list of dicts
#     cat_dicts = [multimedia, comfort, salon, safety, other, overview,
#                  exterior, theft_protection]
#     equipments = [tmp_dict for tmp_dict in cat_dicts if tmp_dict['values']]
    
#     return equipments

In [184]:
# def parse_offer(offer):
#     """
#     Парсит объявление и создает объект типа словарь с жесткой структурой
#     :param offer: dict like object
#     :return: fixed structure dictionary object
#     """
#     item_dict = {}
    
#     try:
#         item_dict['bodyType'] = offer['vehicle_info']['configuration']['human_name'].lower()
#     except:
#         item_dict['bodyType'] = None
        
#     try:
#         item_dict['brand'] = offer['vehicle_info']['mark_info']['code']
#     except:
#         item_dict['brand'] = None
        
#     try:    
#         item_dict['color_hex'] = offer['color_hex']
#     except:
#         item_dict['color_hex'] = None
        
#     try:
#         item_dict['description'] = offer['description']
#     except:
#         item_dict['description'] = None
        
#     try:
#         item_dict['engineDisplacement'] = offer['vehicle_info']['tech_param']['displacement']
#     except:
#         item_dict['engineDisplacement'] = None
        
#     try:
#         item_dict['enginePower'] = offer['vehicle_info']['tech_param']['power']
#     except:
#         item_dict['enginePower'] = None
        
#     try:
#         if offer['vehicle_info']['equipment'] != {}:
#             item_dict['equipment_dict'] = offer['vehicle_info']['equipment']
#         else:
#            item_dict['equipment_dict'] = None 
#     except:
#         item_dict['equipment_dict'] = None
        
        
        
#     try:
#         item_dict['model'] = offer['vehicle_info']['model_info']['code']
#     except:
#         item_dict['model'] = None

# # рабочий вариант, но требует дополнительной обработки значений признака
# #     try:
# #         item_dict['fuelType'] = offer['vehicle_info']['tech_param']['engine_type']
# #     except:
# #         item_dict['fuelType'] = None

#     try:
#         item_dict['fuelType'] = offer['vehicle_info']['tech_param']['engine_type']
#     except:
#         item_dict['fuelType'] = None
        
#     try:
#         item_dict['image'] = offer['state']['image_urls'][0]['sizes']['320x240']
#     except:
#         item_dict['image'] = None
        
#     try:
#         item_dict['mileage'] = offer['state']['mileage']
#     except:
#         item_dict['mileage'] = None

#     try:
#         item_dict['modelDate'] = offer['vehicle_info']['super_gen']['year_from']
#     except:
#         item_dict['modelDate'] = None
        
#     try:
#         item_dict['model_info'] = offer['vehicle_info']['model_info']
#     except:
#         item_dict['model_info'] = None
        
#     try:
#         item_dict['model_name'] = offer['vehicle_info']['model_info']['code']
#     except:
#         item_dict['model_name'] = None    
    
#     try:
#         item_dict['name'] = offer['vehicle_info']['tech_param']['human_name']
#     except:
#         item_dict['name'] = None
    
#     try:
#         item_dict['numberOfDoors'] = offer['vehicle_info']['configuration']['doors_count']
#     except:
#         item_dict['numberOfDoors'] = None
        
#     item_dict['parsing_unixtime'] = datetime.timestamp(datetime.today())   
        
#     try:
#         item_dict['priceCurrency'] = offer['price_info']['currency']
#     except:
#         item_dict['priceCurrency'] = None
        
#     try:
#         item_dict['productionDate'] = offer['documents']['year']
#     except:
#         item_dict['productionDate'] = None
        
#     try:
#         item_dict['sell_id'] = int(offer['id'])
#     except:
#         item_dict['sell_id'] = None
        
#     try:
#         item_dict['super_gen'] = offer['vehicle_info']['tech_param']
#     except:
#         item_dict['super_gen'] = None
        
#     try:
#         part_1 = offer['vehicle_info']['configuration']['body_type']
#         part_2 = offer['vehicle_info']['tech_param']['transmission']
# #         part_3 = str(float(round(int(offer['vehicle_info']['tech_param']['displacement'])/1000, 1)))
#         part_3 = str(offer['lk_summary'].split(' ')[0])
#         item_dict['vehicleConfiguration'] = f"{part_1} {part_2} {part_3}"
#     except:
#         item_dict['vehicleConfiguration'] = None       
        
#     try:
#         item_dict['vehicleTransmission'] = offer['vehicle_info']['tech_param']['transmission']
#     except:
#         item_dict['vehicleTransmission'] = None

#     try:
#         item_dict['vendor'] = offer['vehicle_info']['vendor']
#     except:
#         item_dict['vendor'] = None
        
#     try:
#         item_dict['Владельцы'] = round(float(offer['documents']['owners_number']))
#     except:
#         item_dict['Владельцы'] = None

#     if 'pts_original' in offer['documents']:
#         item_dict['ПТС'] = 'Оригинал' if offer['documents']['pts_original'] else 'Дубликат'
#     else:
#         item_dict['ПТС'] = None
        
#     try:
#         item_dict['Привод'] = offer['vehicle_info']['tech_param']['gear_type']
#     except:
#         item_dict['Привод'] = None
        
#     try:
#         item_dict['Руль'] = offer['vehicle_info']['steering_wheel']
#     except:
#         item_dict['Руль'] = None
        
#     try:
#         item_dict['Состояние'] = 'Не требует ремонта' if offer['state']['state_not_beaten'] else 'Битый / не на ходу'
#         # старая версия - удалить после отладки
#         #         item_dict['Состояние'] = 'Не требует ремонта' if 'state_not_beaten' in offer['state'] else 'Битый / не на ходу'
#     except:
#         item_dict['Состояние'] = None
    
#     try:
#         item_dict['Таможня'] = 'Растаможен' if offer['documents']['custom_cleared'] else 'Не растаможен'
#     except:
#         item_dict['Таможня'] = None
    
#     try:
#         item_dict['price'] = offer['price_info']['price']
#     except:
#         item_dict['price'] = None
        
#     try:
#         item_dict['price_timestamp'] = int(str(offer['price_history'][-1]['create_timestamp'])[:10])
#     except:
#         item_dict['price_timestamp'] = None
    
#     # Additional features
#     try:
#         item_dict['auto_class'] = offer['vehicle_info']['configuration']['auto_class']
#     except:
#         item_dict['auto_class'] = None
        
#     try:
#         item_dict['price_segment'] = offer['vehicle_info']['super_gen']['price_segment']
#     except:
#         item_dict['price_segment'] = None
        
#     try:
#         item_dict['seller_type'] = offer['seller_type']
#     except:
#         item_dict['seller_type'] = None
        

    

# # отказался парсить, ввиду большого кол-ва пропусков как в трейне и тесте    
# #     if 'purchase_date' in offer['documents']:
# #         item_dict['purchase_date'] = f"{offer['documents']['purchase_date']['month']}.{offer['documents']['purchase_date']['year']}"
# #     else:
# #         item_dict['purchase_date'] = None
        
# #  заменили на ключ equipment_dict
# #     try:
# #         item_dict['Комплектация'] = parse_equipments(offer['vehicle_info']['equipment'])
# #     except:
# #         item_dict['Комплектация'] = None
    
#     return item_dict

In [185]:
# def parse_offers_on_page(data):
#     """
#     Парсит данные с каждого объявления
#     :param data: dict like object
#     :return: list of offers
#     """
#     offers_on_page = []
#     for offer in data['offers']:
#         offers_on_page.append(parse_offer(offer))
    
#     return offers_on_page

In [186]:
# url = 'https://auto.ru/-/ajax/desktop/listing/'

# # параметры запроса по Москве и +200 км.
# # params = {
# #     "category":"cars",
# #     "section":"used",
# #     'damage_group': 'ANY',
# #     "output_type":"list",
# #     "top_days":"600",
# #     "page":1,
# #     'geo_radius':200,
# #     "page_size":50,
# #     "catalog_filter":[{
# #         "mark":"BMW",
# #         "model":"1ER"}],
# #     "geo_id":[213],
# # }

# # параметры запроса все авто + вся территория
# params = {
#     "category":"cars",
#     "section":"all",
#     'damage_group': 'ANY',
#     "output_type":"list",
#     "top_days":"600",
#     "page":1,
#     # 'geo_radius':200,
#     "page_size":50,
#     "catalog_filter":[{
#         "mark":"BMW",
#         "model":"1ER"}],
#     # "geo_id":[213],
# }

# headers = """
# Host: auto.ru
# User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:80.0) Gecko/20100101 Firefox/80.0
# Accept: */*
# Accept-Language: ru-RU,ru;q=0.8,en-US;q=0.5,en;q=0.3
# Accept-Encoding: gzip, deflate, br
# Referer: https://auto.ru/moskovskaya_oblast/cars/bmw/1er/used/?output_type=list&page=2
# x-client-app-version: 202009.16.194507
# x-page-request-id: 849e1e014809b180dd6369ef515781b9
# x-client-date: 1600424297130
# x-csrf-token: 9619e4bde43b838e51fb6ec88f45abb5c1375dcf65e03e52
# x-requested-with: fetch
# content-type: application/json
# Origin: https://auto.ru
# Content-Length: 127
# Connection: keep-alive
# Cookie: _csrf_token=9619e4bde43b838e51fb6ec88f45abb5c1375dcf65e03e52; autoru_sid=a%3Ag5f6475822vadaim944uvk3m9k38df0q.ad1235e8bfb82d2e6ccc4e02279be7b8%7C1600419202951.604800.xvQtMDl8gSfu5EwSfkaggw.PAfJWMn3fHWWEPTK-mwweLB582QEQmHtFJ1FSi42Ji8; autoruuid=g5f6475822vadaim944uvk3m9k38df0q.ad1235e8bfb82d2e6ccc4e02279be7b8; suid=eb6987df5285415441449e94a1b41c80.d49f33fd60e906b91504804f403170d7; from_lifetime=1600424294237; from=direct; yuidcs=1; X-Vertis-DC=myt; yuidlt=1; yandexuid=4092999901600419204; counter_ga_all7=2; _ym_uid=1600419208166105885; _ym_d=1600424294; _ym_isad=2; crookie=tA8s7HCAVpgyzbZkV3K3hwGTs1rRKZRrq7yjQ6jXpUo/h4XStsR35QSw2azg6f2daVQSwtDViKNra0er/NkQPZYfcqM=; cmtchd=MTYwMDQxOTIwODYyMA==; _ga=GA1.2.464157848.1600422869; _gid=GA1.2.61052704.1600422869; _ym_wasSynced=%7B%22time%22%3A1600422869584%2C%22params%22%3A%7B%22eu%22%3A0%7D%2C%22bkParams%22%3A%7B%7D%7D; gdpr=0; _ym_visorc_22753222=b; cycada=fGsHIePtGydQvy2cOf9SC3d5qV8+cFZcW+Z4bWJWuno=; _ym_visorc_148422=w; _ym_visorc_148383=w"""
# headers = headers.strip().split('\n')

# dict_headers = {}
# for header in headers:
#     key, value = header.split(': ')
#     dict_headers[key] = value

    
# def collect_car_brand_ads(brand, brand_models):
#     """
#     Основная функция парсинга всех объявлений по продаже
#     моделей авто, переданного в параметре бренда.
#     :param brand: string
#     :return: list of dicts
#     """
#     start_time = datetime.now()  # tracking the time
#     brand_offers = []
#     # brand_models = parse_models_list(CATALOG_URL, brand)
#     # total_count = len(brand_models)

#     params['catalog_filter'][0]['mark'] = brand.upper()
#     for model in brand_models:
        
#         offers_by_model = []
#         # print(f"Model: {model}, осталось: {total_count}")
#         # total_count -= 1
#         params['catalog_filter'][0]['model'] = model.upper()
#         params['page'] = 1
        
#         try:
#             response = requests.post(url, json=params, headers=dict_headers)
#         except ConnectionError:
#             print(f"ConnectionError: {brand} {model}")
#             continue
#         except MaxRetryError:
#             print(f"MaxRetryError: {brand} {model}")
#             continue
#         except NewConnectionError:
#             print(f"NewConnectionError: {brand} {model}")
#             continue
            
#         try:
#             data = response.json()
#         except:
#             print(f"Raise error to read JSON obj by {brand} {model}.")
#             continue

#         if 'offers' not in data or len(data['offers']) == 0:  # объявлений нет
#             print(f"\n{model.upper()} - no offers.")
#             continue

#         # total_page_count
#         print(f"\nCollecting model: {model.upper()}...", end='')
#         total_page_count = int(data['pagination']['total_page_count'])

#         if total_page_count <= 1:
#             if len(data['offers']) == 0:
#                 continue
#             # offers_on_page = parse_offers_on_page(data)
#             offers_by_model += parse_offers_on_page(data)
#         else:
#             # Если страниц больше чем 1
#             for page in range(1, total_page_count + 1):
#                 # print(f"page: {page}")
#                 print(f".", end='')
#                 params['page'] = page
#                 response = requests.post(url, json=params, headers=dict_headers)
#                 data = response.json()
                
#                 if 'offers' not in data or len(data['offers']) == 0:  # дошли до конца списка предложений
#                     break
#                 # offers_on_page = parse_offers_on_page(data)
#                 offers_by_model += parse_offers_on_page(data)
#                 time.sleep(1)
#         print()
#         print(f"Collected: {len(offers_by_model)} offers.")
#         brand_offers += offers_by_model

#     print(f"{brand.upper()}: total collected {len(brand_offers)} offers.")
#     end_time = datetime.now()
#     print(f"Duration: {end_time - start_time}")
    
#     return brand_offers

## Парсим объявления по Европейским и Японским авто.

In [144]:
# РАБОЧИЙ КОД ПАРСИНГА - ГЛАВНАЯ ФУНКЦИЯ

# start = datetime.now()

# def get_models_dict():
#     models_dict = parse_models_list(CATALOG_URL)  # словарь "бренд": ["марка авто", "марка авто",]

#     # test_brands = ['SKODA', 'AUDI', 'HONDA', 'VOLVO', 'BMW', 'NISSAN', 'INFINITI',
#     #                'MERCEDES', 'TOYOTA', 'LEXUS', 'VOLKSWAGEN', 'MITSUBISHI']
#     european_brands = ['SKODA', 'PORSCHE', 'CITROEN', 'JAGUAR', 'RENAULT',
#                        'VOLKSWAGEN', 'VOLVO', 'MERCEDES', 'OPEL', 'BMW',
#                        'FIAT', 'MINI', 'AUDI', 'PEUGEOT']

#     japanese_brands = ['SUZUKI', 'HONDA', 'INFINITI', 'LEXUS', 'TOYOTA', 'SUBARU',
#                        'NISSAN', 'MITSUBISHI', 'MAZDA']

#     selected_brands = european_brands + japanese_brands

#     selected_brands = list(map(str.lower, selected_brands))  # перевели строки в нижний регистр

#     # all_models_dict.keys()

#     # Удалим из словаря те бренды, которых нет в тестовой выборке
#     items_to_delete = list(set(models_dict.keys()) - set(selected_brands))

#     for item in items_to_delete:
#         _ = models_dict.pop(item)
        
#     return models_dict
    
# # парсинг объявлений
# new_total_offers = []

# for brand, models in all_models_dict.items():
#     print(f"\nCurrent brand: {brand.upper()}")
#     new_total_offers += collect_car_brand_ads(brand, models)
#     time.sleep(10)
    
# print(f"Parsing done")
# print(f"Total offers count: {len(new_total_offers)}")

# end = datetime.now()
# delta = end - start
# print(f"Total time: {(end - start).seconds} sec.")

Current brand: MERCEDES

Collecting model: W201...
Collected: 29 offers.

Collecting model: 190_SL...
Collected: 2 offers.

Collecting model: A_KLASSE.....
Collected: 95 offers.

Collecting model: A_KLASSE_AMG...
Collected: 22 offers.

Collecting model: AMG_GT...
Collected: 23 offers.

Collecting model: B_KLASSE.....
Collected: 81 offers.

Collecting model: C_KLASSE...............
Collected: 596 offers.

Collecting model: C_KLASSE_AMG...
Collected: 28 offers.

Collecting model: CITAN...
Collected: 3 offers.

Collecting model: CL_KLASSE...
Collected: 48 offers.

Collecting model: CL_KLASSE_AMG...
Collected: 7 offers.

Collecting model: CLA_KLASSE.......
Collected: 185 offers.

Collecting model: CLA_KLASSE_AMG...
Collected: 16 offers.

Collecting model: CLC_KLASSE...
Collected: 10 offers.

Collecting model: CLK_KLASSE...
Collected: 40 offers.

CLK_KLASSE_AMG - no offers.

Collecting model: CLS_KLASSE......
Collected: 104 offers.

Collecting model: CLS_KLASSE_AMG...
Collected: 10 offers.

Collecting model: E_KLASSE......................................
Collected: 1753 offers.

Collecting model: E_KLASSE_AMG...
Collected: 47 offers.

Collecting model: EQC...
Collected: 1 offers.

Collecting model: G_KLASSE.........
Collected: 259 offers.

Collecting model: G_KLASSE_AMG......
Collected: 147 offers.

G_KLASSE_AMG_6X6 - no offers.

Collecting model: GL_KLASSE.........
Collected: 268 offers.

Collecting model: GL_KLASSE_AMG...
Collected: 6 offers.

Collecting model: GLA_CLASS.........
Collected: 285 offers.

Collecting model: GLA_CLASS_AMG...
Collected: 19 offers.

Collecting model: GLB_KLASSE.........
Collected: 270 offers.

GLB_AMG - no offers.

Collecting model: GLC_KLASSE................
Collected: 617 offers.

Collecting model: GLC_KLASSE_AMG...
Collected: 5 offers.

Collecting model: GLC_COUPE........
Collected: 237 offers.

Collecting model: AMG_GLC_COUPE...
Collected: 11 offers.

Collecting model: GLE_KLASSE.......................
Collected: 991 offers.

Collecting model: GLE_KLASSE_AMG.....
Collected: 59 offers.

Collecting model: GLE_KLASSE_COUPE............
Collected: 445 offers.

Collecting model: GLE_KLASSE_COUPE_AMG.....
Collected: 72 offers.

Collecting model: GLK_KLASSE......
Collected: 129 offers.

Collecting model: GLS_KLASSE................
Collected: 567 offers.

Collecting model: GLS_KLASSE_AMG...
Collected: 15 offers.

Collecting model: M_KLASSE...........
Collected: 387 offers.

Collecting model: M_KLASSE_AMG...
Collected: 34 offers.

MAYBACH_G_650 - no offers.

Collecting model: MAYBACH_GLS...
Collected: 11 offers.

Collecting model: S_CLASS_MAYBACH.......
Collected: 162 offers.

METRIS - no offers.

Collecting model: R_KLASSE...
Collected: 32 offers.

R_KLASSE_AMG - no offers.

Collecting model: S_KLASSE..................
Collected: 717 offers.

Collecting model: S_KLASSE_AMG.....
Collected: 71 offers.

Collecting model: SIMPLEX...
Collected: 1 offers.

Collecting model: SL_KLASSE...
Collected: 32 offers.

Collecting model: SL_KLASSE_AMG...
Collected: 8 offers.

Collecting model: SLC_KLASSE...
Collected: 1 offers.

SLC_KLASSE_AMG - no offers.

Collecting model: SLK_KLASSE...
Collected: 35 offers.

SLK_KLASSE_AMG - no offers.

Collecting model: SLR_KLASSE...
Collected: 2 offers.

Collecting model: SLS_AMG...
Collected: 4 offers.

Collecting model: V_KLASSE.......
Collected: 185 offers.

Collecting model: VANEO...
Collected: 4 offers.

Collecting model: VIANO.....
Collected: 81 offers.

Collecting model: VITO.....
Collected: 101 offers.

W100 - no offers.

W105 - no offers.

W108 - no offers.

W110 - no offers.

Collecting model: W111...
Collected: 4 offers.

W114 - no offers.

W115 - no offers.

W120 - no offers.

W121 - no offers.

Collecting model: W123...
Collected: 31 offers.

Collecting model: W124.....
Collected: 68 offers.

Collecting model: W128...
Collected: 4 offers.

Collecting model: W136...
Collected: 2 offers.

W142 - no offers.

Collecting model: W186...
Collected: 1 offers.

Collecting model: W188...
Collected: 1 offers.

W189 - no offers.

W191 - no offers.

W29 - no offers.

Collecting model: X_KLASSE...
Collected: 2 offers.
MERCEDES: total collected 9483 offers.
Duration: 0:06:21.328135

Current brand: OPEL

ADAM - no offers.

ADMIRAL - no offers.

Collecting model: AGILA...
Collected: 2 offers.

AMPERA - no offers.

Collecting model: ANTARA......
Collected: 118 offers.

Collecting model: ASCONA...
Collected: 3 offers.

Collecting model: ASTRA............................
Collected: 1234 offers.

Collecting model: ASTRA_OPC...
Collected: 14 offers.

Collecting model: CALIBRA...
Collected: 6 offers.

CAMPO - no offers.

CASCADA - no offers.

Collecting model: COMBO...
Collected: 12 offers.

COMMODORE - no offers.

Collecting model: CORSA.........
Collected: 258 offers.

Collecting model: CORSA_OPC...
Collected: 3 offers.

CROSSLAND_X - no offers.

DIPLOMAT - no offers.

Collecting model: FRONTERA...
Collected: 32 offers.

Collecting model: GRANDLAND_X...
Collected: 6 offers.

Collecting model: GT...
Collected: 1 offers.

Collecting model: INSIGNIA.......
Collected: 157 offers.

Collecting model: INSIGNIA_OPC...
Collected: 8 offers.

Collecting model: KADETT...
Collected: 11 offers.

KAPITAN - no offers.

KARL - no offers.

MANTA - no offers.

Collecting model: MERIVA.....
Collected: 88 offers.

MERIVA_OPC - no offers.

Collecting model: MOKKA......
Collected: 112 offers.

Collecting model: MONTEREY...
Collected: 4 offers.

Collecting model: MONZA...
Collected: 1 offers.

OLYMPIA - no offers.

Collecting model: OMEGA.....
Collected: 68 offers.

P4 - no offers.

Collecting model: REKORD...
Collected: 4 offers.

SENATOR - no offers.

Collecting model: SIGNUM...
Collected: 3 offers.

Collecting model: SINTRA...
Collected: 7 offers.

SPEEDSTER - no offers.

Collecting model: SUPER_SIX...
Collected: 1 offers.

Collecting model: TIGRA...
Collected: 12 offers.

Collecting model: VECTRA........
Collected: 220 offers.

Collecting model: VECTRA_OPC...
Collected: 2 offers.

Collecting model: VITA...
Collected: 7 offers.

Collecting model: VIVARO...
Collected: 12 offers.

Collecting model: ZAFIRA........
Collected: 223 offers.

Collecting model: ZAFIRA_LIFE...
Collected: 25 offers.

ZAFIRA_OPC - no offers.
OPEL: total collected 2654 offers.
Duration: 0:01:46.582486

Current brand: HONDA

145 - no offers.

Collecting model: ACCORD........
Collected: 215 offers.

Collecting model: ACTY...
Collected: 1 offers.

Collecting model: AIRWAVE...
Collected: 2 offers.

Collecting model: ASCOT...
Collected: 2 offers.

ASCOT_INNOVA - no offers.

Collecting model: AVANCIER...
Collected: 3 offers.

BALLADE - no offers.

BEAT - no offers.

BRIO - no offers.

CAPA - no offers.

Collecting model: CITY...
Collected: 1 offers.

Collecting model: CIVIC........
Collected: 242 offers.

Collecting model: CIVIC_FERIO...
Collected: 3 offers.

Collecting model: CIVIC_TYPE_R...
Collected: 4 offers.

Collecting model: CONCERTO...
Collected: 4 offers.

Collecting model: CR_V.......
Collected: 197 offers.

Collecting model: CR_X...
Collected: 1 offers.

Collecting model: CR_Z...
Collected: 4 offers.

Collecting model: CROSSROAD...
Collected: 2 offers.

Collecting model: CROSSTOUR...
Collected: 7 offers.

Collecting model: DOMANI...
Collected: 2 offers.

E - no offers.

EDIX - no offers.

Collecting model: ELEMENT...
Collected: 4 offers.

Collecting model: ELYSION...
Collected: 1 offers.

FCX_CLARITY - no offers.

Collecting model: FIT...
Collected: 14 offers.

FIT_ARIA - no offers.

FIT_SHUTTLE - no offers.

Collecting model: FR_V...
Collected: 3 offers.

Collecting model: FREED...
Collected: 5 offers.

GRACE - no offers.

HORIZON - no offers.

Collecting model: HR_V...
Collected: 36 offers.

Collecting model: INSIGHT...
Collected: 2 offers.

Collecting model: INSPIRE...
Collected: 7 offers.

Collecting model: INTEGRA...
Collected: 6 offers.

INTEGRA_SJ - no offers.

JADE - no offers.

Collecting model: JAZZ...
Collected: 17 offers.

LAGREAT - no offers.

Collecting model: LEGEND...
Collected: 13 offers.

LIFE - no offers.

Collecting model: LOGO...
Collected: 2 offers.

MDX - no offers.

Collecting model: MOBILIO...
Collected: 3 offers.

Collecting model: MOBILIO_SPIKE...
Collected: 1 offers.

Collecting model: N_BOX...
Collected: 6 offers.

N_BOX_SLASH - no offers.

N_ONE - no offers.

Collecting model: N_WGN...
Collected: 3 offers.

N360 - no offers.

NSX - no offers.

Collecting model: ODYSSEY...
Collected: 6 offers.

Collecting model: ODYSSEY_NA...
Collected: 1 offers.

Collecting model: ORTHIA...
Collected: 2 offers.

Collecting model: PARTNER...
Collected: 1 offers.

PASSPORT - no offers.

Collecting model: PILOT...
Collected: 39 offers.

Collecting model: PRELUDE...
Collected: 17 offers.

QUINT - no offers.

Collecting model: RAFAGA...
Collected: 2 offers.

Collecting model: RIDGELINE...
Collected: 2 offers.

S_MX - no offers.

Collecting model: S2000...
Collected: 4 offers.

S500 - no offers.

S600 - no offers.

Collecting model: S660...
Collected: 1 offers.

Collecting model: SABER...
Collected: 2 offers.

Collecting model: SHUTTLE...
Collected: 11 offers.

Collecting model: STEPWAGON...
Collected: 15 offers.

Collecting model: STREAM...
Collected: 11 offers.

STREET - no offers.

THATS - no offers.

TODAY - no offers.

Collecting model: TORNEO...
Collected: 1 offers.

VAMOS - no offers.

Collecting model: VEZEL...
Collected: 2 offers.

Collecting model: VIGOR...
Collected: 1 offers.

Collecting model: Z...
Collected: 3 offers.

Collecting model: ZEST...
Collected: 3 offers.
HONDA: total collected 937 offers.
Duration: 0:00:44.849797

Current brand: TOYOTA

2000GT - no offers.

Collecting model: 4RUNNER...
Collected: 23 offers.

Collecting model: ALLEX...
Collected: 2 offers.

ALLION - no offers.

Collecting model: ALPHARD...
Collected: 24 offers.

Collecting model: ALTEZZA...
Collected: 7 offers.

Collecting model: AQUA...
Collected: 6 offers.

Collecting model: ARISTO...
Collected: 7 offers.

AURION - no offers.

Collecting model: AURIS.....
Collected: 65 offers.

Collecting model: AVALON...
Collected: 5 offers.

AVANZA - no offers.

Collecting model: AVENSIS......
Collected: 121 offers.

Collecting model: AVENSIS_VERSO...
Collected: 3 offers.

Collecting model: AYGO...
Collected: 1 offers.

Collecting model: BB...
Collected: 5 offers.

BELTA - no offers.

Collecting model: BLADE...
Collected: 5 offers.

BLIZZARD - no offers.

BREVIS - no offers.

Collecting model: C_HR...
Collected: 8 offers.

Collecting model: CALDINA...
Collected: 26 offers.

Collecting model: CAMI...
Collected: 6 offers.

Collecting model: CAMRY...............
Collected: 561 offers.

Collecting model: CAMRY_SOLARA...
Collected: 6 offers.

Collecting model: CARINA...
Collected: 26 offers.

Collecting model: CARINA_E...
Collected: 19 offers.

Collecting model: CARINA_ED...
Collected: 4 offers.

Collecting model: CAVALIER...
Collected: 1 offers.

Collecting model: CELICA...
Collected: 42 offers.

CELSIOR - no offers.

CENTURY - no offers.

Collecting model: CHASER...
Collected: 25 offers.

CLASSIC - no offers.

COMFORT - no offers.

COMS - no offers.

Collecting model: COROLLA...........
Collected: 394 offers.

COROLLA_CROSS - no offers.

Collecting model: COROLLA_II...
Collected: 1 offers.

Collecting model: COROLLA_LEVIN...
Collected: 10 offers.

Collecting model: COROLLA_RUMION...
Collected: 2 offers.

Collecting model: COROLLA_SPACIO...
Collected: 6 offers.

Collecting model: COROLLA_VERSO...
Collected: 4 offers.

Collecting model: CORONA...
Collected: 17 offers.

Collecting model: CORONA_EXIV...
Collected: 3 offers.

Collecting model: CORSA...
Collected: 4 offers.

CRESSIDA - no offers.

Collecting model: CRESTA...
Collected: 20 offers.

Collecting model: CROWN...
Collected: 31 offers.

Collecting model: CROWN_MAJESTA...
Collected: 2 offers.

Collecting model: CURREN...
Collected: 1 offers.

Collecting model: CYNOS...
Collected: 3 offers.

Collecting model: DUET...
Collected: 1 offers.

Collecting model: ECHO...
Collected: 3 offers.

Collecting model: ESQUIRE...
Collected: 3 offers.

Collecting model: ESTIMA...
Collected: 10 offers.

ETIOS - no offers.

Collecting model: FJ_CRUISER...
Collected: 7 offers.

Collecting model: FORTUNER...
Collected: 17 offers.

Collecting model: FUNCARGO...
Collected: 5 offers.

Collecting model: GAIA...
Collected: 1 offers.

Collecting model: GRAND_HIACE...
Collected: 2 offers.

Collecting model: GRANVIA...
Collected: 1 offers.

Collecting model: GT86...
Collected: 6 offers.

Collecting model: HARRIER...
Collected: 10 offers.

Collecting model: HIACE...
Collected: 39 offers.

Collecting model: HIGHLANDER.....
Collected: 88 offers.

Collecting model: HILUX...
Collected: 50 offers.

Collecting model: HILUX_SURF...
Collected: 4 offers.

INNOVA - no offers.

Collecting model: IPSUM...
Collected: 5 offers.

Collecting model: IQ...
Collected: 2 offers.

Collecting model: ISIS...
Collected: 2 offers.

Collecting model: IST...
Collected: 1 offers.

KLUGER - no offers.

Collecting model: LAND_CRUISER............
Collected: 424 offers.

Collecting model: LAND_CRUISER_PRADO..........
Collected: 325 offers.

Collecting model: LITE_ACE...
Collected: 15 offers.

Collecting model: MARK_II...
Collected: 51 offers.

Collecting model: MARK_X...
Collected: 4 offers.

Collecting model: MARK_X_ZIO...
Collected: 1 offers.

Collecting model: MASTER_ACE_SURF...
Collected: 1 offers.

Collecting model: MATRIX...
Collected: 9 offers.

Collecting model: MEGA_CRUISER...
Collected: 1 offers.

MIRAI - no offers.

MODEL_F - no offers.

Collecting model: MR_S...
Collected: 1 offers.

Collecting model: MR2...
Collected: 3 offers.

Collecting model: NADIA...
Collected: 2 offers.

Collecting model: NOAH...
Collected: 6 offers.

Collecting model: OPA...
Collected: 2 offers.

Collecting model: ORIGIN...
Collected: 1 offers.

Collecting model: PASEO...
Collected: 1 offers.

Collecting model: PASSO...
Collected: 5 offers.

PASSO_SETTE - no offers.

Collecting model: PICNIC...
Collected: 2 offers.

PIXIS_EPOCH - no offers.

PIXIS_JOY - no offers.

PIXIS_MEGA - no offers.

PIXIS_SPACE - no offers.

PIXIS_VAN - no offers.

Collecting model: PLATZ...
Collected: 1 offers.

Collecting model: PORTE...
Collected: 1 offers.

Collecting model: PREMIO...
Collected: 4 offers.

Collecting model: PREVIA...
Collected: 8 offers.

Collecting model: PRIUS...
Collected: 36 offers.

Collecting model: PRIUS_ALPHA...
Collected: 6 offers.

PRIUS_C - no offers.

Collecting model: PRIUSPLUS...
Collected: 3 offers.

PROACE - no offers.

Collecting model: PROBOX...
Collected: 5 offers.

Collecting model: PROGRES...
Collected: 1 offers.

PRONARD - no offers.

PUBLICA - no offers.

Collecting model: RACTIS...
Collected: 1 offers.

RAIZE - no offers.

Collecting model: RAUM...
Collected: 2 offers.

Collecting model: RAV_4...........
Collected: 383 offers.

Collecting model: REGIUS...
Collected: 4 offers.

REGIUSACE - no offers.

ROOMY - no offers.

RUSH - no offers.

SAI - no offers.

Collecting model: SCEPTER_SEDAN...
Collected: 1 offers.

Collecting model: SEQUOIA...
Collected: 16 offers.

Collecting model: SERA...
Collected: 1 offers.

Collecting model: SIENNA...
Collected: 23 offers.

Collecting model: SIENTA...
Collected: 1 offers.

Collecting model: SOARER...
Collected: 6 offers.

SOLUNA - no offers.

Collecting model: SPADE...
Collected: 1 offers.

SPARKY - no offers.

SPORTS_800 - no offers.

Collecting model: SPRINTER...
Collected: 12 offers.

Collecting model: SPRINTER_CARIB...
Collected: 3 offers.

Collecting model: SPRINTER_MARINO...
Collected: 2 offers.

Collecting model: SPRINTER_TRUENO...
Collected: 1 offers.

Collecting model: STARLET...
Collected: 7 offers.

Collecting model: SUCCEED...
Collected: 3 offers.

Collecting model: SUPRA...
Collected: 5 offers.

TACOMA - no offers.

TANK - no offers.

Collecting model: TERCEL...
Collected: 4 offers.

TOURING_HIACE - no offers.

Collecting model: TOWN_ACE...
Collected: 14 offers.

Collecting model: TUNDRA...
Collected: 26 offers.

URBAN_CRUISER - no offers.

Collecting model: VANGUARD...
Collected: 3 offers.

Collecting model: VELLFIRE...
Collected: 1 offers.

Collecting model: VENZA...
Collected: 20 offers.

Collecting model: VEROSSA...
Collected: 4 offers.

Collecting model: VERSO...
Collected: 28 offers.

Collecting model: VERSO_S...
Collected: 1 offers.

VIOS - no offers.

Collecting model: VISTA...
Collected: 10 offers.

Collecting model: VITZ...
Collected: 13 offers.

VOLTZ - no offers.

Collecting model: VOXY...
Collected: 9 offers.

WILL - no offers.

Collecting model: WILL_CYPHA...
Collected: 1 offers.

Collecting model: WINDOM...
Collected: 4 offers.

Collecting model: WISH...
Collected: 4 offers.

Collecting model: YARIS...
Collected: 44 offers.

Collecting model: YARIS_VERSO...
Collected: 1 offers.
TOYOTA: total collected 3331 offers.
Duration: 0:02:20.529827

Current brand: MITSUBISHI

Collecting model: 3000_GT...
Collected: 1 offers.

500 - no offers.

Collecting model: AIRTREK...
Collected: 8 offers.

Collecting model: ASPIRE...
Collected: 3 offers.

Collecting model: ASX.......
Collected: 172 offers.

ATTRAGE - no offers.

BRABO - no offers.

Collecting model: CARISMA......
Collected: 105 offers.

CELESTE - no offers.

CHALLENGER - no offers.

Collecting model: CHARIOT...
Collected: 12 offers.

Collecting model: COLT...
Collected: 42 offers.

CORDIA - no offers.

DEBONAIR - no offers.

Collecting model: DELICA...
Collected: 11 offers.

Collecting model: DELICA_D2...
Collected: 3 offers.

DELICA_D3 - no offers.

Collecting model: DELICA_D_5...
Collected: 3 offers.

Collecting model: DIAMANTE...
Collected: 5 offers.

DIGNITY - no offers.

Collecting model: DINGO...
Collected: 8 offers.

Collecting model: DION...
Collected: 7 offers.

Collecting model: ECLIPSE...
Collected: 23 offers.

Collecting model: ECLIPSE_CROSS...
Collected: 45 offers.

EK_ACTIVE - no offers.

EK_CLASSIC - no offers.

EK_CUSTOM - no offers.

EK_SPACE - no offers.

EK_SPORT - no offers.

Collecting model: EK_WAGON...
Collected: 1 offers.

Collecting model: EMERAUDE...
Collected: 1 offers.

Collecting model: ENDEAVOR...
Collected: 3 offers.

Collecting model: ETERNA...
Collected: 1 offers.

FREECA - no offers.

Collecting model: FTO...
Collected: 2 offers.

Collecting model: GALANT......
Collected: 148 offers.

GALANT_FORTIS - no offers.

Collecting model: GRANDIS...
Collected: 24 offers.

GTO - no offers.

I - no offers.

Collecting model: I_MIEV...
Collected: 1 offers.

JEEP_J - no offers.

Collecting model: L200.....
Collected: 100 offers.

Collecting model: L300...
Collected: 2 offers.

Collecting model: L400...
Collected: 4 offers.

Collecting model: LANCER.................
Collected: 696 offers.

LANCER_CARGO - no offers.

Collecting model: LANCER_EVOLUTION...
Collected: 11 offers.

Collecting model: LANCER_RALLIART...
Collected: 1 offers.

Collecting model: LEGNUM...
Collected: 12 offers.

Collecting model: LIBERO...
Collected: 4 offers.

Collecting model: MINICA...
Collected: 1 offers.

Collecting model: MINICAB...
Collected: 2 offers.

Collecting model: MIRAGE...
Collected: 6 offers.

Collecting model: MONTERO...
Collected: 27 offers.

Collecting model: MONTERO_SPORT...
Collected: 35 offers.

Collecting model: OUTLANDER...........................
Collected: 1172 offers.

Collecting model: PAJERO.........
Collected: 266 offers.

Collecting model: PAJERO_IO...
Collected: 12 offers.

PAJERO_JUNIOR - no offers.

Collecting model: PAJERO_MINI...
Collected: 10 offers.

Collecting model: PAJERO_PININ...
Collected: 21 offers.

Collecting model: PAJERO_SPORT.........
Collected: 260 offers.

PISTACHIO - no offers.

PROUDIA - no offers.

RAIDER - no offers.

Collecting model: RVR...
Collected: 10 offers.

Collecting model: SAPPORO...
Collected: 1 offers.

SAVRIN - no offers.

SIGMA - no offers.

Collecting model: SPACE_GEAR...
Collected: 5 offers.

Collecting model: SPACE_RUNNER...
Collected: 4 offers.

Collecting model: SPACE_STAR...
Collected: 27 offers.

Collecting model: SPACE_WAGON...
Collected: 20 offers.

STARION - no offers.

STRADA - no offers.

TOPPO - no offers.

TOWN_BOX - no offers.

TREDIA - no offers.

TRITON - no offers.

XPANDER - no offers.
MITSUBISHI: total collected 3338 offers.
Duration: 0:02:22.644482

Current brand: PEUGEOT

Collecting model: 1007...
Collected: 1 offers.

104 - no offers.

Collecting model: 106...
Collected: 1 offers.

Collecting model: 107...
Collected: 20 offers.

108 - no offers.

Collecting model: 2008...
Collected: 6 offers.

201 - no offers.

202 - no offers.

Collecting model: 203...
Collected: 1 offers.

204 - no offers.

205 - no offers.

205_GTI - no offers.

Collecting model: 206......
Collected: 125 offers.

Collecting model: 207.....
Collected: 78 offers.

Collecting model: 208...
Collected: 8 offers.

208_GTI - no offers.

Collecting model: 3008.....
Collected: 95 offers.

Collecting model: 301...
Collected: 10 offers.

304 - no offers.

305 - no offers.

Collecting model: 306...
Collected: 7 offers.

Collecting model: 307......
Collected: 129 offers.

Collecting model: 308..........
Collected: 319 offers.

308_GTI - no offers.

309 - no offers.

Collecting model: 4007...
Collected: 26 offers.

Collecting model: 4008...
Collected: 5 offers.

402 - no offers.

403 - no offers.

404 - no offers.

Collecting model: 405...
Collected: 3 offers.

Collecting model: 406.....
Collected: 90 offers.

Collecting model: 407...
Collected: 35 offers.

Collecting model: 408......
Collected: 150 offers.

Collecting model: 5008...
Collected: 14 offers.

504 - no offers.

505 - no offers.

Collecting model: 508...
Collected: 24 offers.

604 - no offers.

Collecting model: 605...
Collected: 2 offers.

Collecting model: 607...
Collected: 15 offers.

Collecting model: 806...
Collected: 2 offers.

Collecting model: 807...
Collected: 2 offers.

BIPPER - no offers.

Collecting model: EXPERT...
Collected: 3 offers.

ION - no offers.

Collecting model: PARTNER......
Collected: 130 offers.

Collecting model: RCZ...
Collected: 4 offers.

RIFTER - no offers.

Collecting model: TRAVELLER.....
Collected: 60 offers.
PEUGEOT: total collected 1365 offers.
Duration: 0:01:06.000004

Current brand: NISSAN

Collecting model: 100NX...
Collected: 1 offers.

180SX - no offers.

Collecting model: 200SX...
Collected: 1 offers.

240SX - no offers.

Collecting model: 280ZX...
Collected: 1 offers.

Collecting model: 300ZX...
Collected: 1 offers.

Collecting model: 350Z...
Collected: 4 offers.

370Z - no offers.

Collecting model: AD...
Collected: 8 offers.

Collecting model: ALMERA.............
Collected: 458 offers.

Collecting model: ALMERA_CLASSIC.......
Collected: 157 offers.

Collecting model: ALMERA_TINO...
Collected: 10 offers.

Collecting model: ALTIMA...
Collected: 5 offers.

ARIYA - no offers.

Collecting model: ARMADA...
Collected: 6 offers.

AUSTER - no offers.

Collecting model: AVENIR...
Collected: 4 offers.

Collecting model: BASSARA...
Collected: 5 offers.

BE_1 - no offers.

Collecting model: BLUEBIRD...
Collected: 7 offers.

BLUEBIRD_MAXIMA - no offers.

Collecting model: BLUEBIRD_SYLPHY...
Collected: 6 offers.

Collecting model: CARAVAN_COACH...
Collected: 1 offers.

Collecting model: CEDRIC...
Collected: 7 offers.

Collecting model: CEFIRO...
Collected: 13 offers.

CHERRY - no offers.

CIMA - no offers.

CLIPPER_RIO - no offers.

CREW - no offers.

Collecting model: CUBE...
Collected: 12 offers.

Collecting model: DATSUN...
Collected: 3 offers.

Collecting model: DAYZ...
Collected: 4 offers.

Collecting model: DAYZ_ROOX...
Collected: 1 offers.

DUALIS - no offers.

Collecting model: ELGRAND...
Collected: 2 offers.

EXA - no offers.

Collecting model: EXPERT...
Collected: 2 offers.

Collecting model: FAIRLADY_Z...
Collected: 1 offers.

FIGARO - no offers.

Collecting model: FUGA...
Collected: 3 offers.

Collecting model: GLORIA...
Collected: 3 offers.

Collecting model: GT_R...
Collected: 6 offers.

HOMY - no offers.

HYPERMINI - no offers.

Collecting model: JUKE........
Collected: 223 offers.

Collecting model: JUKE_NISMO...
Collected: 2 offers.

KICKS - no offers.

Collecting model: KIX...
Collected: 1 offers.

Collecting model: LAFESTA...
Collected: 1 offers.

LANGLEY - no offers.

Collecting model: LARGO...
Collected: 5 offers.

LATIO - no offers.

Collecting model: LAUREL...
Collected: 13 offers.

Collecting model: LEAF...
Collected: 34 offers.

LEOPARD - no offers.

LIBERTA_VILLA - no offers.

Collecting model: LIBERTY...
Collected: 6 offers.

LIVINA - no offers.

LUCINO - no offers.

Collecting model: MARCH...
Collected: 12 offers.

Collecting model: MAXIMA.....
Collected: 92 offers.

Collecting model: MICRA...
Collected: 49 offers.

MISTRAL - no offers.

MOCO - no offers.

Collecting model: MURANO........
Collected: 251 offers.

Collecting model: NAVARA...
Collected: 29 offers.

Collecting model: NOTE......
Collected: 127 offers.

Collecting model: NP300...
Collected: 12 offers.

Collecting model: CLIPPER...
Collected: 1 offers.

Collecting model: NV200...
Collected: 3 offers.

NV350_CARAVAN - no offers.

NX_COUPE - no offers.

Collecting model: OTTI...
Collected: 1 offers.

PAO - no offers.

Collecting model: PATHFINDER......
Collected: 146 offers.

Collecting model: PATROL.....
Collected: 99 offers.

PINO - no offers.

PIXO - no offers.

Collecting model: PRAIRIE...
Collected: 3 offers.

Collecting model: PRESAGE...
Collected: 7 offers.

Collecting model: PRESEA...
Collected: 1 offers.

Collecting model: PRESIDENT...
Collected: 1 offers.

PRIMASTAR - no offers.

Collecting model: PRIMERA........
Collected: 216 offers.

Collecting model: PULSAR...
Collected: 5 offers.

Collecting model: QASHQAI..................
Collected: 715 offers.

Collecting model: QASHQAI_PLUS_2...
Collected: 40 offers.

Collecting model: QUEST...
Collected: 1 offers.

Collecting model: RNESSA...
Collected: 2 offers.

RASHEEN - no offers.

ROGUE - no offers.

ROOX - no offers.

Collecting model: SAFARI...
Collected: 3 offers.

Collecting model: SENTRA...
Collected: 35 offers.

Collecting model: SERENA...
Collected: 42 offers.

Collecting model: SILVIA...
Collected: 3 offers.

Collecting model: SKYLINE...
Collected: 23 offers.

SKYLINE_CROSSOVER - no offers.

Collecting model: STAGEA...
Collected: 2 offers.

STANZA - no offers.

Collecting model: SUNNY...
Collected: 19 offers.

Collecting model: TEANA..........
Collected: 314 offers.

TERRA - no offers.

Collecting model: TERRANO.......
Collected: 201 offers.

Collecting model: TERRANO_REGULUS...
Collected: 1 offers.

Collecting model: TIIDA......
Collected: 133 offers.

Collecting model: TINO...
Collected: 3 offers.

TITAN - no offers.

Collecting model: URVAN...
Collected: 1 offers.

Collecting model: VANETTE...
Collected: 5 offers.

VERSA - no offers.

Collecting model: WINGROAD...
Collected: 9 offers.

Collecting model: X_TRAIL......................
Collected: 906 offers.

XTERRA - no offers.
NISSAN: total collected 4530 offers.
Duration: 0:03:14.766354

Current brand: MAZDA

1000 - no offers.

Collecting model: 121...
Collected: 4 offers.

1300 - no offers.

Collecting model: 2...
Collected: 12 offers.

Collecting model: 3...........
Collected: 401 offers.

Collecting model: 3MPS...
Collected: 11 offers.

Collecting model: 323...
Collected: 44 offers.

Collecting model: 5...
Collected: 21 offers.

Collecting model: 6..............
Collected: 527 offers.

Collecting model: 6_MPS...
Collected: 8 offers.

616 - no offers.

Collecting model: 626.....
Collected: 56 offers.

818 - no offers.

929 - no offers.

Collecting model: ATENZA...
Collected: 1 offers.

Collecting model: AUTOZAM_AZ3...
Collected: 2 offers.

Collecting model: AXELA...
Collected: 2 offers.

AUTOZAM_AZ1 - no offers.

AZ_OFFROAD - no offers.

AZ_WAGON - no offers.

Collecting model: B_SERIES...
Collected: 7 offers.

Collecting model: BIANTE...
Collected: 2 offers.

Collecting model: BONGO...
Collected: 9 offers.

Collecting model: BONGO_FRIENDEE...
Collected: 1 offers.

Collecting model: BT_50...
Collected: 18 offers.

Collecting model: CAPELLA...
Collected: 10 offers.

Collecting model: CAROL...
Collected: 1 offers.

CHANTEZ - no offers.

COSMO - no offers.

CRONOS - no offers.

CX_3 - no offers.

CX_30 - no offers.

Collecting model: CX_5..........
Collected: 352 offers.

Collecting model: CX_7.........
Collected: 281 offers.

CX_8 - no offers.

Collecting model: CX_9...
Collected: 35 offers.

Collecting model: DEMIO...
Collected: 13 offers.

EFINI_MS_6 - no offers.

EFINI_MS_8 - no offers.

EFINI_MS_9 - no offers.

ETUDE - no offers.

EUNOS_100 - no offers.

EUNOS_300 - no offers.

EUNOS_500 - no offers.

EUNOS_800 - no offers.

EUNOS_COSMO - no offers.

Collecting model: FAMILIA...
Collected: 10 offers.

FLAIR - no offers.

FLAIR_CROSSOVER - no offers.

FLAIR_WAGON - no offers.

Collecting model: LANTIS...
Collected: 1 offers.

LAPUTA - no offers.

LUCE - no offers.

Collecting model: MILLENIA...
Collected: 2 offers.

Collecting model: MPV.....
Collected: 54 offers.

Collecting model: MX_3...
Collected: 2 offers.

MX_30 - no offers.

Collecting model: MX_5...
Collected: 5 offers.

MX_6 - no offers.

NAVAJO - no offers.

PERSONA - no offers.

Collecting model: PREMACY...
Collected: 9 offers.

PROCEED - no offers.

PROCEED_LEVANTE - no offers.

Collecting model: PROCEED_MARVIE...
Collected: 1 offers.

Collecting model: PROTEGE...
Collected: 7 offers.

R_360 - no offers.

Collecting model: REVUE...
Collected: 1 offers.

ROADSTER - no offers.

Collecting model: RX_7...
Collected: 2 offers.

Collecting model: RX_8...
Collected: 19 offers.

SCRUM - no offers.

SENTIA - no offers.

SPIANO - no offers.

Collecting model: TRIBUTE...
Collected: 14 offers.

Collecting model: VERISA...
Collected: 2 offers.

Collecting model: XEDOS_6...
Collected: 9 offers.

Collecting model: XEDOS_9...
Collected: 5 offers.
MAZDA: total collected 1961 offers.
Duration: 0:01:30.824571

Current brand: JAGUAR

Collecting model: E_PACE...
Collected: 15 offers.

E_TYPE - no offers.

Collecting model: F_PACE.....
Collected: 68 offers.

Collecting model: F_TYPE...
Collected: 16 offers.

Collecting model: I_PACE...
Collected: 1 offers.

MARK_2 - no offers.

MARK_IX - no offers.

Collecting model: S_TYPE...
Collected: 15 offers.

Collecting model: X_TYPE...
Collected: 23 offers.

Collecting model: XE...
Collected: 12 offers.

Collecting model: XF.....
Collected: 67 offers.

Collecting model: XFR...
Collected: 4 offers.

Collecting model: XJ...
Collected: 33 offers.

XJ220 - no offers.

Collecting model: XJR...
Collected: 1 offers.

XJS - no offers.

Collecting model: XK...
Collected: 7 offers.

Collecting model: XKR...
Collected: 13 offers.
JAGUAR: total collected 275 offers.
Duration: 0:00:13.595007

Current brand: FIAT

124 - no offers.

124_SPIDER - no offers.

Collecting model: 124_SPORT_SPIDER...
Collected: 2 offers.

Collecting model: 125...
Collected: 1 offers.

126 - no offers.

127 - no offers.

Collecting model: 128...
Collected: 1 offers.

130 - no offers.

131 - no offers.

132 - no offers.

238 - no offers.

Collecting model: 500...
Collected: 13 offers.

500L - no offers.

500X - no offers.

508 - no offers.

600 - no offers.

900T - no offers.

Collecting model: ALBEA...
Collected: 42 offers.

ARGENTA - no offers.

BARCHETTA - no offers.

Collecting model: BRAVA...
Collected: 8 offers.

Collecting model: BRAVO...
Collected: 10 offers.

CINQUECENTO - no offers.

Collecting model: COUPE...
Collected: 2 offers.

CROMA - no offers.

Collecting model: DOBLO...
Collected: 46 offers.

DUNA - no offers.

Collecting model: FIORINO...
Collected: 1 offers.

Collecting model: FREEMONT...
Collected: 2 offers.

Collecting model: FULLBACK...
Collected: 2 offers.

IDEA - no offers.

Collecting model: LINEA...
Collected: 3 offers.

Collecting model: MAREA...
Collected: 9 offers.

MULTIPLA - no offers.

Collecting model: PALIO...
Collected: 6 offers.

Collecting model: PANDA...
Collected: 8 offers.

Collecting model: PUNTO...
Collected: 22 offers.

QUBO - no offers.

REGATA - no offers.

RITMO - no offers.

Collecting model: SCUDO...
Collected: 1 offers.

Collecting model: SEDICI...
Collected: 1 offers.

SEICENTO - no offers.

SIENA - no offers.

Collecting model: STILO...
Collected: 2 offers.

STRADA - no offers.

Collecting model: TEMPRA...
Collected: 2 offers.

Collecting model: TIPO...
Collected: 2 offers.

Collecting model: ULYSSE...
Collected: 2 offers.

UNO - no offers.

X_1_9 - no offers.
FIAT: total collected 188 offers.
Duration: 0:00:12.829396

Current brand: RENAULT

10 - no offers.

11 - no offers.

12 - no offers.

14 - no offers.

15 - no offers.

16 - no offers.

17 - no offers.

18 - no offers.

Collecting model: 19...
Collected: 11 offers.

Collecting model: 20...
Collected: 1 offers.

Collecting model: 21...
Collected: 1 offers.

25 - no offers.

30 - no offers.

4 - no offers.

4CV - no offers.

Collecting model: 5...
Collected: 1 offers.

6 - no offers.

8 - no offers.

9 - no offers.

ALASKAN - no offers.

Collecting model: ARKANA.......
Collected: 193 offers.

Collecting model: AVANTIME...
Collected: 1 offers.

CAPTUR - no offers.

CARAVELLE - no offers.

Collecting model: CLIO...
Collected: 33 offers.

Collecting model: CLIO_RS...
Collected: 4 offers.

CLIO_V6 - no offers.

DAUPHINE - no offers.

Collecting model: DOKKER...
Collected: 14 offers.

Collecting model: DUSTER..............
Collected: 501 offers.

Collecting model: ESPACE...
Collected: 14 offers.

FLORIDE - no offers.

Collecting model: FLUENCE.....
Collected: 96 offers.

FREGATE - no offers.

FUEGO - no offers.

KADJAR - no offers.

Collecting model: KANGOO...
Collected: 51 offers.

Collecting model: KAPTUR..........
Collected: 322 offers.

Collecting model: KOLEOS.....
Collected: 56 offers.

KWID - no offers.

Collecting model: LAGUNA.....
Collected: 69 offers.

Collecting model: LATITUDE...
Collected: 12 offers.

LODGY - no offers.

Collecting model: LOGAN...................
Collected: 769 offers.

Collecting model: MEGANE.........
Collected: 252 offers.

Collecting model: MEGANE_RS...
Collected: 1 offers.

Collecting model: MODUS...
Collected: 2 offers.

RODEO - no offers.

Collecting model: SAFRANE...
Collected: 4 offers.

Collecting model: SANDERO..............
Collected: 535 offers.

SANDERO_RS - no offers.

Collecting model: SCENIC......
Collected: 109 offers.

SPORT_SPYDER - no offers.

Collecting model: CLIO_SYMBOL.....
Collected: 75 offers.

TALISMAN - no offers.

Collecting model: TRAFIC...
Collected: 5 offers.

Collecting model: TWINGO...
Collected: 2 offers.

Collecting model: TWIZY...
Collected: 1 offers.

Collecting model: VEL_SATIS...
Collected: 3 offers.

VIVASTELLA - no offers.

WIND - no offers.

ZOE - no offers.

QM5 - no offers.

QM6 - no offers.

SM3 - no offers.

SM5 - no offers.

SM7 - no offers.
RENAULT: total collected 3138 offers.
Duration: 0:02:09.164513

Current brand: AUDI

Collecting model: 100.....
Collected: 99 offers.

Collecting model: 200...
Collected: 3 offers.

50 - no offers.

Collecting model: 80.......
Collected: 173 offers.

Collecting model: 90...
Collected: 9 offers.

Collecting model: 920...
Collected: 1 offers.

Collecting model: A1...
Collected: 35 offers.

Collecting model: A2...
Collected: 2 offers.

Collecting model: A3.........
Collected: 265 offers.

Collecting model: A4..................
Collected: 725 offers.

Collecting model: A4_ALLROAD.....
Collected: 53 offers.

Collecting model: A5.......
Collected: 188 offers.

Collecting model: A6................
Collected: 650 offers.

Collecting model: ALLROAD.....
Collected: 71 offers.

Collecting model: A7.....
Collected: 76 offers.

Collecting model: A8........
Collected: 205 offers.

CABRIOLET - no offers.

Collecting model: COUPE...
Collected: 5 offers.

Collecting model: E_TRON.....
Collected: 59 offers.

E_TRON_SPORTBACK - no offers.

NSU_RO_80 - no offers.

Q2 - no offers.

Collecting model: Q3......
Collected: 144 offers.

Collecting model: Q3_SPORTBACK...
Collected: 39 offers.

Collecting model: Q5...............
Collected: 559 offers.

Collecting model: Q7.........
Collected: 259 offers.

Collecting model: Q8...
Collected: 23 offers.

QUATTRO - no offers.

Collecting model: R8...
Collected: 5 offers.

R8_LMP - no offers.

RS2 - no offers.

Collecting model: RS3...
Collected: 1 offers.

Collecting model: RS4...
Collected: 2 offers.

Collecting model: RS5...
Collected: 2 offers.

Collecting model: RS6...
Collected: 11 offers.

Collecting model: RS7...
Collected: 3 offers.

Collecting model: RSQ3...
Collected: 3 offers.

RS_Q3_SPORTBACK - no offers.

RS_Q8 - no offers.

S1 - no offers.

S2 - no offers.

Collecting model: S3...
Collected: 3 offers.

Collecting model: S4...
Collected: 8 offers.

Collecting model: S5...
Collected: 11 offers.

Collecting model: S6...
Collected: 5 offers.

Collecting model: S7...
Collected: 1 offers.

Collecting model: S8...
Collected: 12 offers.

SQ2 - no offers.

Collecting model: SQ5...
Collected: 3 offers.

SQ7 - no offers.

Collecting model: SQ8...
Collected: 1 offers.

Collecting model: TT...
Collected: 36 offers.

TT_RS - no offers.

Collecting model: TTS...
Collected: 2 offers.

TYP_R - no offers.

V8 - no offers.
AUDI: total collected 3752 offers.
Duration: 0:02:40.263111

Current brand: BMW

Collecting model: 02...
Collected: 1 offers.

Collecting model: 1ER.......
Collected: 193 offers.

M1 - no offers.

Collecting model: 2ER.....
Collected: 87 offers.

Collecting model: 2ACTIVETOURER...
Collected: 2 offers.

Collecting model: 2GRANDTOURER...
Collected: 3 offers.

2000_C_CS - no offers.

Collecting model: 3ER............................
Collected: 1207 offers.

3_15 - no offers.

315 - no offers.

3200 - no offers.

Collecting model: 321...
Collected: 2 offers.

Collecting model: 326...
Collected: 1 offers.

327 - no offers.

Collecting model: 340...
Collected: 2 offers.

Collecting model: 4.....
Collected: 62 offers.

Collecting model: 5ER.......................
Collected: 975 offers.

501 - no offers.

502 - no offers.

503 - no offers.

507 - no offers.

Collecting model: 6ER......
Collected: 111 offers.

600 - no offers.

Collecting model: 7ER...........
Collected: 398 offers.

700 - no offers.

Collecting model: 8ER...
Collected: 43 offers.

Collecting model: E3...
Collected: 2 offers.

E9 - no offers.

Collecting model: I3...
Collected: 18 offers.

Collecting model: I8...
Collected: 2 offers.

IX3 - no offers.

Collecting model: M2...
Collected: 5 offers.

Collecting model: M3...
Collected: 11 offers.

Collecting model: M4...
Collected: 3 offers.

Collecting model: M5...
Collected: 36 offers.

Collecting model: M6...
Collected: 11 offers.

Collecting model: M8...
Collected: 4 offers.

NEW_CLASS - no offers.

Collecting model: X1.........
Collected: 269 offers.

Collecting model: X2...
Collected: 23 offers.

Collecting model: X3...............
Collected: 570 offers.

Collecting model: X3_M...
Collected: 2 offers.

Collecting model: X4.......
Collected: 176 offers.

X4_M - no offers.

Collecting model: X5....................
Collected: 837 offers.

Collecting model: X5_M.....
Collected: 73 offers.

Collecting model: X6.............
Collected: 472 offers.

Collecting model: X6_M......
Collected: 127 offers.

Collecting model: X7.......
Collected: 190 offers.

Z1 - no offers.

Collecting model: Z3...
Collected: 2 offers.

Collecting model: Z3M...
Collected: 1 offers.

Collecting model: Z4...
Collected: 12 offers.

Z4_M - no offers.

Z8 - no offers.
BMW: total collected 5933 offers.
Duration: 0:03:56.395455

Current brand: SUZUKI

Collecting model: AERIO...
Collected: 4 offers.

Collecting model: ALTO...
Collected: 3 offers.

ALTO_LAPIN - no offers.

APV - no offers.

Collecting model: BALENO...
Collected: 12 offers.

CAPPUCCINO - no offers.

CARA - no offers.

CARRY - no offers.

CELERIO - no offers.

CERVO_CLASSIC - no offers.

Collecting model: CULTUS...
Collected: 2 offers.

EQUATOR - no offers.

ERTIGA - no offers.

Collecting model: ESCUDO...
Collected: 11 offers.

Collecting model: ESTEEM...
Collected: 1 offers.

Collecting model: EVERY...
Collected: 1 offers.

Collecting model: FORENZA...
Collected: 1 offers.

FRONTE - no offers.

Collecting model: GRAND_VITARA.........
Collected: 270 offers.

Collecting model: HUSTLER...
Collected: 3 offers.

Collecting model: IGNIS...
Collected: 14 offers.

Collecting model: JIMNY.......
Collected: 178 offers.

Collecting model: KEI...
Collected: 2 offers.

Collecting model: KIZASHI...
Collected: 3 offers.

LANDY - no offers.

Collecting model: LIANA...
Collected: 48 offers.

MR_WAGON - no offers.

PALETTE - no offers.

RENO - no offers.

SAMURAI - no offers.

Collecting model: SIDEKICK...
Collected: 1 offers.

Collecting model: SOLIO...
Collected: 1 offers.

SPACIA - no offers.

Collecting model: SPLASH...
Collected: 7 offers.

Collecting model: SWIFT...
Collected: 47 offers.

Collecting model: SX4......
Collected: 146 offers.

TWIN - no offers.

VERONA - no offers.

Collecting model: VITARA......
Collected: 140 offers.

Collecting model: WAGON_R...
Collected: 4 offers.

Collecting model: WAGON_R_PLUS...
Collected: 2 offers.

X_90 - no offers.

XBEE - no offers.

XL_7 - no offers.
SUZUKI: total collected 901 offers.
Duration: 0:00:39.292981

Current brand: MINI

MINI - no offers.

MINI - no offers.

GEMINI - no offers.

FLAMINIA - no offers.

Collecting model: CABRIO...
Collected: 3 offers.

Collecting model: CLUBMAN...
Collected: 44 offers.

Collecting model: COUNTRYMAN.......
Collected: 173 offers.

Collecting model: COUPE...
Collected: 4 offers.

Collecting model: HATCH.......
Collected: 201 offers.

Collecting model: PACEMAN...
Collected: 3 offers.

ROADSTER - no offers.

MINICA - no offers.

MINICAB - no offers.

PAJERO_MINI - no offers.

HYPERMINI - no offers.

PADMINI - no offers.

MINI - no offers.
MINI: total collected 428 offers.
Duration: 0:00:19.704677

Current brand: VOLVO

120_SERIES - no offers.

Collecting model: 140...
Collected: 1 offers.

164 - no offers.

Collecting model: 240_SERIES...
Collected: 7 offers.

260 - no offers.

Collecting model: 300_SERIES...
Collected: 2 offers.

Collecting model: 440...
Collected: 3 offers.

Collecting model: 460...
Collected: 11 offers.

480 - no offers.

66 - no offers.

Collecting model: 740...
Collected: 17 offers.

Collecting model: 760...
Collected: 4 offers.

780 - no offers.

Collecting model: 850...
Collected: 34 offers.

Collecting model: 940...
Collected: 25 offers.

Collecting model: 960...
Collected: 19 offers.

Collecting model: C30...
Collected: 28 offers.

Collecting model: C70...
Collected: 13 offers.

LAPLANDER - no offers.

P1800 - no offers.

P1900 - no offers.

Collecting model: S40......
Collected: 105 offers.

Collecting model: S60.......
Collected: 200 offers.

Collecting model: S60_CROSS_COUNTRY...
Collected: 1 offers.

Collecting model: S70...
Collected: 13 offers.

Collecting model: S80......
Collected: 148 offers.

Collecting model: S90.....
Collected: 56 offers.

Collecting model: V40...
Collected: 15 offers.

Collecting model: V40_CC...
Collected: 23 offers.

Collecting model: V50...
Collected: 7 offers.

Collecting model: V60...
Collected: 3 offers.

Collecting model: V60_CROSS_COUNTRY...
Collected: 31 offers.

Collecting model: V70...
Collected: 18 offers.

V90 - no offers.

Collecting model: V90_CROSS_COUNTRY...
Collected: 15 offers.

Collecting model: XC40.....
Collected: 58 offers.

Collecting model: XC60...........
Collected: 387 offers.

Collecting model: XC70.....
Collected: 71 offers.

Collecting model: XC90............
Collected: 451 offers.
VOLVO: total collected 1766 offers.
Duration: 0:01:11.807511

Current brand: PORSCHE

Collecting model: 356...
Collected: 3 offers.

718_SPYDER - no offers.

Collecting model: 911...
Collected: 48 offers.

Collecting model: 911_GT2...
Collected: 1 offers.

Collecting model: 911_GT3...
Collected: 2 offers.

911_R - no offers.

912 - no offers.

914 - no offers.

918_SPYDER - no offers.

Collecting model: 924...
Collected: 1 offers.

Collecting model: 928...
Collected: 1 offers.

944 - no offers.

959 - no offers.

Collecting model: 968...
Collected: 1 offers.

Collecting model: BOXSTER...
Collected: 14 offers.

CARRERA_GT - no offers.

Collecting model: CAYENNE..........
Collected: 328 offers.

Collecting model: CAYENNE_COUPE...
Collected: 26 offers.

Collecting model: CAYMAN...
Collected: 8 offers.

Collecting model: CAYMAN_GT4...
Collected: 3 offers.

Collecting model: MACAN.....
Collected: 59 offers.

Collecting model: PANAMERA......
Collected: 116 offers.

Collecting model: TAYCAN...
Collected: 1 offers.
PORSCHE: total collected 612 offers.
Duration: 0:00:27.695901

Current brand: INFINITI

Collecting model: EX...
Collected: 37 offers.

Collecting model: FX........
Collected: 224 offers.

Collecting model: G35.....
Collected: 80 offers.

Collecting model: I...
Collected: 1 offers.

J30 - no offers.

Collecting model: JX...
Collected: 21 offers.

Collecting model: M.....
Collected: 58 offers.

Collecting model: Q...
Collected: 2 offers.

Collecting model: Q30...
Collected: 2 offers.

Q40 - no offers.

Collecting model: Q50...
Collected: 43 offers.

Collecting model: Q60...
Collected: 4 offers.

Collecting model: Q70...
Collected: 12 offers.

Collecting model: QX30...
Collected: 1 offers.

Collecting model: QX4...
Collected: 6 offers.

Collecting model: QX50.....
Collected: 84 offers.

Collecting model: QX56.....
Collected: 64 offers.

Collecting model: QX60...
Collected: 39 offers.

Collecting model: QX70.....
Collected: 75 offers.

Collecting model: QX80...
Collected: 26 offers.
INFINITI: total collected 779 offers.
Duration: 0:00:34.494540

Current brand: SUBARU

1000 - no offers.

360 - no offers.

ALCYONE - no offers.

ASCENT - no offers.

Collecting model: BAJA...
Collected: 1 offers.

BIGHORN - no offers.

BISTRO - no offers.

BRAT - no offers.

BRZ - no offers.

DEX - no offers.

DIAS_WAGON - no offers.

Collecting model: DOMINGO...
Collected: 1 offers.

Collecting model: EXIGA...
Collected: 1 offers.

Collecting model: FORESTER.........
Collected: 261 offers.

Collecting model: IMPREZA.....
Collected: 76 offers.

Collecting model: IMPREZA_WRX...
Collected: 40 offers.

Collecting model: IMPREZA_WRX_STI...
Collected: 18 offers.

JUSTY - no offers.

Collecting model: LEGACY......
Collected: 111 offers.

Collecting model: LEGACY_LANCASTER...
Collected: 1 offers.

LEONE - no offers.

Collecting model: LEVORG...
Collected: 1 offers.

Collecting model: LIBERO...
Collected: 1 offers.

LUCRA - no offers.

Collecting model: OUTBACK.....
Collected: 77 offers.

PLEO - no offers.

Collecting model: R1...
Collected: 1 offers.

Collecting model: R2...
Collected: 4 offers.

REX - no offers.

Collecting model: SAMBAR...
Collected: 1 offers.

Collecting model: STELLA...
Collected: 2 offers.

Collecting model: SVX...
Collected: 1 offers.

Collecting model: TRAVIQ...
Collected: 1 offers.

TREZIA - no offers.

Collecting model: B9_TRIBECA...
Collected: 31 offers.

VIVIO - no offers.

Collecting model: WRX...
Collected: 7 offers.

Collecting model: WRX_STI...
Collected: 2 offers.

XT - no offers.

Collecting model: XV...
Collected: 42 offers.
SUBARU: total collected 681 offers.
Duration: 0:00:32.701669

Current brand: SKODA

Collecting model: 100_SERIES...
Collected: 1 offers.

Collecting model: 120...
Collected: 1 offers.

1200 - no offers.

CITIGO - no offers.

Collecting model: FABIA........
Collected: 209 offers.

Collecting model: FABIA_RS...
Collected: 2 offers.

Collecting model: FAVORIT...
Collected: 1 offers.

Collecting model: FELICIA...
Collected: 48 offers.

FORMAN - no offers.

KAMIQ - no offers.

Collecting model: KAROQ.....
Collected: 67 offers.

Collecting model: KODIAQ.......
Collected: 178 offers.

KODIAQ_RS - no offers.

Collecting model: OCTAVIA...........................
Collected: 1188 offers.

Collecting model: OCTAVIA_RS...
Collected: 26 offers.

Collecting model: POPULAR...
Collected: 1 offers.

Collecting model: RAPID...........
Collected: 374 offers.

Collecting model: ROOMSTER...
Collected: 17 offers.

SCALA - no offers.

Collecting model: SUPERB........
Collected: 206 offers.

Collecting model: YETI.......
Collected: 199 offers.
SKODA: total collected 2518 offers.
Duration: 0:01:41.432694

Current brand: CITROEN

2CV - no offers.

AMI - no offers.

AX - no offers.

Collecting model: BERLINGO......
Collected: 117 offers.

Collecting model: BX...
Collected: 1 offers.

Collecting model: C_CROSSER...
Collected: 32 offers.

Collecting model: C_ELYSEE...
Collected: 22 offers.

C_QUATRE - no offers.

C_TRIOMPHE - no offers.

C_ZERO - no offers.

Collecting model: C1...
Collected: 6 offers.

Collecting model: C2...
Collected: 9 offers.

Collecting model: C3.....
Collected: 58 offers.

Collecting model: C3_AIRCROSS...
Collected: 11 offers.

Collecting model: C3_PICASSO...
Collected: 17 offers.

Collecting model: C4..........
Collected: 319 offers.

Collecting model: C4_AIRCROSS...
Collected: 5 offers.

C4_CACTUS - no offers.

Collecting model: C4_PICASSO.....
Collected: 77 offers.

C4_SPACETOURER - no offers.

Collecting model: C5.....
Collected: 95 offers.

Collecting model: C5_AIRCROSS...
Collected: 46 offers.

Collecting model: C6...
Collected: 1 offers.

Collecting model: C8...
Collected: 1 offers.

CX - no offers.

Collecting model: DS...
Collected: 1 offers.

Collecting model: DS3...
Collected: 8 offers.

Collecting model: DS4...
Collected: 25 offers.

Collecting model: DS5...
Collected: 6 offers.

DYANE - no offers.

E_MEHARI - no offers.

EVASION - no offers.

GS - no offers.

Collecting model: JUMPY...
Collected: 9 offers.

LN - no offers.

NEMO - no offers.

SAXO - no offers.

SM - no offers.

Collecting model: SPACETOURER.....
Collected: 89 offers.

TRACTION_AVANT - no offers.

VISA - no offers.

Collecting model: XANTIA...
Collected: 3 offers.

XM - no offers.

Collecting model: XSARA...
Collected: 6 offers.

Collecting model: XSARA_PICASSO...
Collected: 26 offers.

Collecting model: ZX...
Collected: 1 offers.
CITROEN: total collected 991 offers.
Duration: 0:00:47.195592

Current brand: LEXUS

Collecting model: CT...
Collected: 7 offers.

Collecting model: ES.....
Collected: 78 offers.

Collecting model: GS.....
Collected: 78 offers.

GS_F - no offers.

Collecting model: GX...
Collected: 47 offers.

Collecting model: HS...
Collected: 1 offers.

Collecting model: IS...
Collected: 45 offers.

IS_F - no offers.

LC - no offers.

LFA - no offers.

Collecting model: LM...
Collected: 1 offers.

Collecting model: LS.....
Collected: 69 offers.

Collecting model: LX......
Collected: 150 offers.

Collecting model: NX.....
Collected: 67 offers.

RC - no offers.

RC_F - no offers.

Collecting model: RX.......
Collected: 201 offers.

Collecting model: SC...
Collected: 4 offers.

Collecting model: UX...
Collected: 3 offers.
LEXUS: total collected 751 offers.
Duration: 0:00:35.635639

Current brand: VOLKSWAGEN

181 - no offers.

Collecting model: AMAROK.....
Collected: 54 offers.

Collecting model: ARTEON...
Collected: 1 offers.

Collecting model: ATLAS...
Collected: 1 offers.

Collecting model: BEETLE...
Collected: 20 offers.

Collecting model: BORA...
Collected: 39 offers.

Collecting model: CADDY.......
Collected: 182 offers.

Collecting model: CALIFORNIA...
Collected: 3 offers.

Collecting model: CARAVELLE........
Collected: 219 offers.

Collecting model: CORRADO...
Collected: 4 offers.

DERBY - no offers.

Collecting model: EOS...
Collected: 2 offers.

Collecting model: EUROVAN...
Collected: 2 offers.

Collecting model: FOX...
Collected: 1 offers.

GOL - no offers.

Collecting model: GOLF............
Collected: 448 offers.

GOLF_COUNTRY - no offers.

Collecting model: GOLF_GTI...
Collected: 24 offers.

Collecting model: GOLF_PLUS.....
Collected: 66 offers.

Collecting model: GOLF_R...
Collected: 7 offers.

Collecting model: GOLF_R32...
Collected: 1 offers.

GOLF_SPORTSVAN - no offers.

ID3 - no offers.

ID4 - no offers.

ILTIS - no offers.

Collecting model: JETTA.............
Collected: 476 offers.

K70 - no offers.

Collecting model: KARMANN_GHIA...
Collected: 1 offers.

Collecting model: LAVIDA...
Collected: 1 offers.

Collecting model: LUPO...
Collected: 5 offers.

LUPO_GTI - no offers.

Collecting model: MULTIVAN.......
Collected: 175 offers.

PARATI - no offers.

Collecting model: PASSAT.......................
Collected: 1000 offers.

PASSAT_NA - no offers.

Collecting model: PASSAT_CC......
Collected: 132 offers.

Collecting model: PHAETON...
Collected: 15 offers.

Collecting model: POINTER...
Collected: 14 offers.

Collecting model: POLO.........................
Collected: 1081 offers.

Collecting model: POLO_GTI...
Collected: 1 offers.

POLO_R_WRC - no offers.

QUANTUM - no offers.

ROUTAN - no offers.

SANTANA - no offers.

Collecting model: SCIROCCO...
Collected: 15 offers.

SCIROCCO_R - no offers.

Collecting model: SHARAN.....
Collected: 72 offers.

T_CROSS - no offers.

T_ROC - no offers.

T_ROC_R - no offers.

Collecting model: TARO...
Collected: 1 offers.

Collecting model: TERAMONT...
Collected: 10 offers.

Collecting model: TIGUAN...................
Collected: 801 offers.

Collecting model: TOUAREG...............
Collected: 566 offers.

Collecting model: TOURAN.....
Collected: 66 offers.

Collecting model: TRANSPORTER.......
Collected: 177 offers.

Collecting model: TYPE_1...
Collected: 6 offers.

TYPE_166 - no offers.

Collecting model: TYPE_2...
Collected: 1 offers.

TYPE_3 - no offers.

TYPE_4 - no offers.

UP - no offers.

Collecting model: VENTO...
Collected: 13 offers.

XL1 - no offers.
VOLKSWAGEN: total collected 5703 offers.
Duration: 0:03:45.192625
Parsing done
Total offers count: 56015
Total time: 2592 sec.

# Многопоточный парсер объявлений с auto.ru только Европейских и Японских авто

In [2]:
def parse_models_list(url):
    """
    Парсит названия моделей авто производителя
    :param url: url
    :param manufacturer_name: name of the manufacturer
    :return: list of model names
    """
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    sitemap_block = soup.find('div', class_='sitemap')
    all_models_links = sitemap_block.find_all('a')
    
    # Соберем все названия брендов
    brands_lst = list(set([item['href'].split('/')[-3] for item in \
                           all_models_links]))
    
    models_dict = {}
    for brand_item in brands_lst:
        models_dict[brand_item] = [item['href'].split('/')[-2] for item in \
                                   all_models_links if brand_item in \
                                   item.text.lower()]

    return models_dict

In [3]:
def parse_offer(offer):
    """
    Парсит объявление и создает объект типа словарь с жесткой структурой
    :param offer: dict like object
    :return: fixed structure dictionary object
    """
    item_dict = {}
    
    try:
        item_dict['bodyType'] = offer['vehicle_info']['configuration']['human_name'].lower()
    except:
        item_dict['bodyType'] = None
        
    try:
        item_dict['brand'] = offer['vehicle_info']['mark_info']['code']
    except:
        item_dict['brand'] = None
        
    try:    
        item_dict['color_hex'] = offer['color_hex']
    except:
        item_dict['color_hex'] = None
        
    try:
        item_dict['description'] = offer['description']
    except:
        item_dict['description'] = None
        
    try:
        item_dict['engineDisplacement'] = offer['vehicle_info']['tech_param']['displacement']
    except:
        item_dict['engineDisplacement'] = None
        
    try:
        item_dict['enginePower'] = offer['vehicle_info']['tech_param']['power']
    except:
        item_dict['enginePower'] = None
        
    try:
        if offer['vehicle_info']['equipment'] != {}:
            item_dict['equipment_dict'] = offer['vehicle_info']['equipment']
        else:
            item_dict['equipment_dict'] = None 
    except:
        item_dict['equipment_dict'] = None
        
    # Уже получаем признак model_info ниже 
#     try:
#         item_dict['model'] = offer['vehicle_info']['model_info']['code']
#     except:
#         item_dict['model'] = None

    try:
        item_dict['fuelType'] = offer['vehicle_info']['tech_param']['engine_type']
    except:
        item_dict['fuelType'] = None
        
    try:
        item_dict['image'] = offer['state']['image_urls'][0]['sizes']['320x240']
    except:
        item_dict['image'] = None
        
    try:
        item_dict['mileage'] = offer['state']['mileage']
    except:
        item_dict['mileage'] = None

    try:
        item_dict['modelDate'] = offer['vehicle_info']['super_gen']['year_from']
    except:
        item_dict['modelDate'] = None
        
    try:
        item_dict['model_info'] = offer['vehicle_info']['model_info']
    except:
        item_dict['model_info'] = None
        
    try:
        item_dict['model_name'] = offer['vehicle_info']['model_info']['code']
    except:
        item_dict['model_name'] = None    
    
    try:
        item_dict['name'] = offer['vehicle_info']['tech_param']['human_name']
    except:
        item_dict['name'] = None
    
    try:
        item_dict['numberOfDoors'] = offer['vehicle_info']['configuration']['doors_count']
    except:
        item_dict['numberOfDoors'] = None
        
    item_dict['parsing_unixtime'] = datetime.timestamp(datetime.today())   
        
    try:
        item_dict['priceCurrency'] = offer['price_info']['currency']
    except:
        item_dict['priceCurrency'] = None
        
    try:
        item_dict['productionDate'] = offer['documents']['year']
    except:
        item_dict['productionDate'] = None
        
    try:
        item_dict['sell_id'] = int(offer['id'])
    except:
        item_dict['sell_id'] = None
        
    try:
        item_dict['section'] = offer['section']
    except:
        item_dict['section'] = None
        
    # saleId
    try:
        item_dict['url_saleid'] = offer['saleId']
    except:
        item_dict['url_saleid'] = None
    
        
    try:
        item_dict['super_gen'] = offer['vehicle_info']['tech_param']
    except:
        item_dict['super_gen'] = None
        
    try:
        part_1 = offer['vehicle_info']['configuration']['body_type']
        part_2 = offer['vehicle_info']['tech_param']['transmission']
        part_3 = str(offer['lk_summary'].split(' ')[0])
        item_dict['vehicleConfiguration'] = f"{part_1} {part_2} {part_3}"
    except:
        item_dict['vehicleConfiguration'] = None       
        
    try:
        item_dict['vehicleTransmission'] = offer['vehicle_info']['tech_param']['transmission']
    except:
        item_dict['vehicleTransmission'] = None

    try:
        item_dict['vendor'] = offer['vehicle_info']['vendor']
    except:
        item_dict['vendor'] = None
        
    try:
        item_dict['Владельцы'] = round(float(offer['documents']['owners_number']))
    except:
        item_dict['Владельцы'] = None

    if 'pts' in offer['documents']:
        item_dict['ПТС'] = offer['documents']['pts']
    else:
        item_dict['ПТС'] = None
        
    try:
        item_dict['Привод'] = offer['vehicle_info']['tech_param']['gear_type']
    except:
        item_dict['Привод'] = None
        
    try:
        item_dict['Руль'] = offer['vehicle_info']['steering_wheel']
    except:
        item_dict['Руль'] = None
        
    try:
        item_dict['Состояние'] = 'Не требует ремонта' if offer['state']['state_not_beaten'] else 'Битый / не на ходу'
    except:
        item_dict['Состояние'] = None
    
    try:
        item_dict['Таможня'] = 'Растаможен' if offer['documents']['custom_cleared'] else 'Не растаможен'
    except:
        item_dict['Таможня'] = None
    
    try:
        item_dict['price'] = offer['price_info']['price']
    except:
        item_dict['price'] = None
        
#     try:
#         item_dict['price_timestamp'] = int(str(offer['price_history'][-1]['create_timestamp'])[:10])
#     except:
#         item_dict['price_timestamp'] = None
    
    try:
        item_dict['auto_class'] = offer['vehicle_info']['configuration']['auto_class']
    except:
        item_dict['auto_class'] = None
        
    try:
        item_dict['price_segment'] = offer['vehicle_info']['super_gen']['price_segment']
    except:
        item_dict['price_segment'] = None
        
    try:
        item_dict['seller_type'] = offer['seller_type']
    except:
        item_dict['seller_type'] = None
    
    return item_dict

In [4]:
def parse_offers_on_page(data):
    """
    Парсит данные с каждого объявления
    :param data: dict like object
    :return: list of offers
    """
    offers_on_page = []
    for offer in data['offers']:
        offers_on_page.append(parse_offer(offer))
    
    return offers_on_page

In [5]:
# параметры запроса все авто + вся территория
params = {
    "category":"cars",
    "section":"all",
    'damage_group': 'ANY',
    "output_type":"list",
    "top_days":"600",
    "page":1,
    "page_size":50,
    "catalog_filter":[{
        "mark":"BMW",
        "model":"1ER"}],
}

headers = """
Host: auto.ru
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:80.0) Gecko/20100101 Firefox/80.0
Accept: */*
Accept-Language: ru-RU,ru;q=0.8,en-US;q=0.5,en;q=0.3
Accept-Encoding: gzip, deflate, br
Referer: https://auto.ru/moskovskaya_oblast/cars/bmw/1er/used/?output_type=list&page=2
x-client-app-version: 202009.16.194507
x-page-request-id: 849e1e014809b180dd6369ef515781b9
x-client-date: 1600424297130
x-csrf-token: 9619e4bde43b838e51fb6ec88f45abb5c1375dcf65e03e52
x-requested-with: fetch
content-type: application/json
Origin: https://auto.ru
Content-Length: 127
Connection: keep-alive
Cookie: _csrf_token=9619e4bde43b838e51fb6ec88f45abb5c1375dcf65e03e52; autoru_sid=a%3Ag5f6475822vadaim944uvk3m9k38df0q.ad1235e8bfb82d2e6ccc4e02279be7b8%7C1600419202951.604800.xvQtMDl8gSfu5EwSfkaggw.PAfJWMn3fHWWEPTK-mwweLB582QEQmHtFJ1FSi42Ji8; autoruuid=g5f6475822vadaim944uvk3m9k38df0q.ad1235e8bfb82d2e6ccc4e02279be7b8; suid=eb6987df5285415441449e94a1b41c80.d49f33fd60e906b91504804f403170d7; from_lifetime=1600424294237; from=direct; yuidcs=1; X-Vertis-DC=myt; yuidlt=1; yandexuid=4092999901600419204; counter_ga_all7=2; _ym_uid=1600419208166105885; _ym_d=1600424294; _ym_isad=2; crookie=tA8s7HCAVpgyzbZkV3K3hwGTs1rRKZRrq7yjQ6jXpUo/h4XStsR35QSw2azg6f2daVQSwtDViKNra0er/NkQPZYfcqM=; cmtchd=MTYwMDQxOTIwODYyMA==; _ga=GA1.2.464157848.1600422869; _gid=GA1.2.61052704.1600422869; _ym_wasSynced=%7B%22time%22%3A1600422869584%2C%22params%22%3A%7B%22eu%22%3A0%7D%2C%22bkParams%22%3A%7B%7D%7D; gdpr=0; _ym_visorc_22753222=b; cycada=fGsHIePtGydQvy2cOf9SC3d5qV8+cFZcW+Z4bWJWuno=; _ym_visorc_148422=w; _ym_visorc_148383=w"""
headers = headers.strip().split('\n')

dict_headers = {}
for header in headers:
    key, value = header.split(': ')
    dict_headers[key] = value

    
def collect_car_brand_ads(brand, model, section):
    """
    Основная функция парсинга всех объявлений по продаже
    моделей авто, переданного в параметре бренда.
    :param brand: string
    :return: list of dicts
    """
    # brand_offers = []

    params['catalog_filter'][0]['mark'] = brand.upper()
        
    offers_by_model = []
    params['catalog_filter'][0]['model'] = model.upper()
    params['section'] = section
    params['page'] = 1

    try:
        response = requests.post(LISTING_URL, json=params,
                                 headers=dict_headers)
    except:
        print(f"Requests: raised exception by {brand} {model}")

    try:
        data = response.json()
    except:
        print(f"Raise error to read JSON obj by {brand} {model}.")
        return

    if 'offers' not in data or len(data['offers']) == 0:  # объявлений нет
        print(f"{brand.upper()} {model.upper()} {section}: no offers.")
        return 

    total_page_count = int(data['pagination']['total_page_count'])
    # print(f"TOTAL PAGE COUNT: {total_page_count} шт.")
#     if total_page_count <= 1:  # !!!!!!!!!!!!!!!!!!!!!!
#         if len(data['offers']) == 0:  # Удалить строчку, так как она есть выше
#             return
#         offers_by_model += parse_offers_on_page(data)
#     else:
    # Cтраниц 1 и больше
    for page in range(1, total_page_count + 1):
        # print(f".", end='')
        params['page'] = page
        response = requests.post(LISTING_URL, json=params,
                                 headers=dict_headers)
        data = response.json()

        if 'offers' not in data or len(data['offers']) == 0:  # дошли до конца списка
            break
        offers_by_model += parse_offers_on_page(data)
        time.sleep(random.randint(1, 3))

    # print(f"{brand} {model}: collected: {len(offers_by_model)} offers.")
    # brand_offers += offers_by_model

    print(f"{brand.upper()} {model.upper()} {section}: collected {len(offers_by_model)} offers.")
    
    return offers_by_model

In [6]:
def parse_models_dict():
    """
    Парсит наименования моделей по брендам.
    :return: a dict
    """
    models_dict = parse_models_list(CATALOG_URL)

    european_brands = ['SKODA', 'PORSCHE', 'CITROEN', 'JAGUAR', 'RENAULT',
                       'VOLKSWAGEN', 'VOLVO', 'MERCEDES', 'OPEL', 'BMW',
                       'FIAT', 'MINI', 'AUDI', 'PEUGEOT']

    japanese_brands = ['SUZUKI', 'HONDA', 'INFINITI', 'LEXUS', 'TOYOTA', 'SUBARU',
                       'NISSAN', 'MITSUBISHI', 'MAZDA']

    selected_brands = european_brands + japanese_brands

    # переведем строки в нижний регистр
    selected_brands = list(map(str.lower, selected_brands))

    # Удалим из словаря те бренды, которых нет в selected_brands
    items_to_delete = list(set(models_dict.keys()) - set(selected_brands))

    for item in items_to_delete:
        _ = models_dict.pop(item)
        
    return models_dict

def write_csv(data_list):
    """
    Получает список словарей и записывает
    в csv-файл
    :param data_list: a list of dicts
    """
    with open('cars_prices_multiprocessing_08_11_2020.csv', 'a') as csv_file:
        fieldnames = data_list[0].keys()
        writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
        
        writer.writeheader()
        for item_dict in data_list:
            writer.writerow(item_dict)
            
    
    
    
def parse_model_offers(data):
    """
    Парсит все объявления по переданному
    бренду и модели авто. Записывает в csv-файлю.
    :param data: tuple of 2 strings
    :return: nothing
    """
    brand, model = data
    sections = ['new', 'used']
    for section in sections:
        data = collect_car_brand_ads(brand, model, section)
        if data:
            write_csv(data)

In [7]:
def get_cars_list():
    """
    Создает и возращает список кортежей (бренд, модель)
    :return: list of tuples
    """
    data_dict = parse_models_dict()
    tmp_lst = []
    
    for brand, models in data_dict.items():
        tmp_lst += [(brand, model) for model in models]
        
    return tmp_lst

In [8]:
def main():
    """
    Основная функция многопоточного парсера.
    """
    start = datetime.now()
    model_brand_tuples_lst = get_cars_list()
    
    with Pool(4) as p:           
       p.map(parse_model_offers, model_brand_tuples_lst)
    
    end = datetime.now()
    delta = end - start
    print(f"Total time: {round((end - start).seconds/60)} mins.")

In [449]:
main()

MERCEDES W201 new: no offers.TOYOTA CELICA new: no offers.

MERCEDES W191 new: no offers.
HONDA FR_V new: no offers.
MERCEDES W191 used: no offers.
MERCEDES W29 new: no offers.
MERCEDES W29 used: no offers.
MERCEDES X_KLASSE new: no offers.
MERCEDES W201 used: collected 25 offers.
TOYOTA CELICA used: collected 39 offers.
MERCEDES 190_SL new: no offers.
TOYOTA CELSIOR new: no offers.
TOYOTA CELSIOR used: no offers.
TOYOTA CENTURY new: no offers.
TOYOTA CENTURY used: no offers.
TOYOTA CHASER new: no offers.
MERCEDES X_KLASSE used: collected 2 offers.
OPEL ADAM new: no offers.
HONDA FR_V used: collected 2 offers.
OPEL ADAM used: no offers.
OPEL ADMIRAL new: no offers.HONDA FREED new: no offers.

OPEL ADMIRAL used: no offers.
OPEL AGILA new: no offers.
MERCEDES 190_SL used: collected 2 offers.
HONDA FREED used: collected 5 offers.
HONDA GRACE new: no offers.
OPEL AGILA used: collected 2 offers.
TOYOTA CHASER used: collected 25 offers.
HONDA GRACE used: no offers.
OPEL AMPERA new: no offers.
TOYOTA CLASSIC new: no offers.
HONDA HORIZON new: no offers.
OPEL AMPERA used: no offers.
OPEL ANTARA new: no offers.TOYOTA CLASSIC used: no offers.

HONDA HORIZON used: no offers.
HONDA HR_V new: no offers.
TOYOTA COMFORT new: no offers.
TOYOTA COMFORT used: no offers.
TOYOTA COMS new: no offers.
TOYOTA COMS used: no offers.
TOYOTA COROLLA new: no offers.
MERCEDES A_KLASSE new: collected 7 offers.
HONDA HR_V used: collected 34 offers.
HONDA INSIGHT new: no offers.
HONDA INSIGHT used: collected 2 offers.
HONDA INSPIRE new: no offers.
MERCEDES A_KLASSE used: collected 83 offers.
HONDA INSPIRE used: collected 7 offers.
HONDA INTEGRA new: no offers.
OPEL ANTARA used: collected 124 offers.
OPEL ASCONA new: no offers.
OPEL ASCONA used: collected 3 offers.
OPEL ASTRA new: no offers.
HONDA INTEGRA used: collected 6 offers.
MERCEDES A_KLASSE_AMG new: collected 13 offers.
HONDA INTEGRA_SJ new: no offers.
HONDA INTEGRA_SJ used: no offers.
HONDA JADE new: no offers.
HONDA JADE used: no offers.
HONDA JAZZ new: no offers.
MERCEDES A_KLASSE_AMG used: collected 6 offers.
HONDA JAZZ used: collected 17 offers.
HONDA LAGREAT new: no offers.
HONDA LAGREAT used: no offers.
HONDA LEGEND new: no offers.
MERCEDES AMG_GT new: collected 9 offers.
HONDA LEGEND used: collected 14 offers.
HONDA LIFE new: no offers.
MERCEDES AMG_GT used: collected 12 offers.
HONDA LIFE used: no offers.
HONDA LOGO new: no offers.
MERCEDES B_KLASSE new: collected 2 offers.
HONDA LOGO used: collected 1 offers.
HONDA MDX new: no offers.
HONDA MDX used: no offers.
HONDA MOBILIO new: no offers.
HONDA MOBILIO used: collected 3 offers.
TOYOTA COROLLA used: collected 381 offers.
HONDA MOBILIO_SPIKE new: no offers.
TOYOTA COROLLA_CROSS new: no offers.
TOYOTA COROLLA_CROSS used: no offers.
TOYOTA COROLLA_II new: no offers.
MERCEDES B_KLASSE used: collected 77 offers.
HONDA MOBILIO_SPIKE used: collected 2 offers.
HONDA N_BOX new: no offers.
TOYOTA COROLLA_II used: collected 2 offers.
TOYOTA COROLLA_LEVIN new: no offers.
HONDA N_BOX used: collected 6 offers.
HONDA N_BOX_SLASH new: no offers.
HONDA N_BOX_SLASH used: no offers.
TOYOTA COROLLA_LEVIN used: collected 8 offers.
HONDA N_ONE new: no offers.
TOYOTA COROLLA_RUMION new: no offers.
HONDA N_ONE used: no offers.
HONDA N_WGN new: no offers.
TOYOTA COROLLA_RUMION used: collected 3 offers.
TOYOTA COROLLA_SPACIO new: no offers.
MERCEDES C_KLASSE new: collected 85 offers.
HONDA N_WGN used: collected 3 offers.
HONDA N360 new: no offers.
TOYOTA COROLLA_SPACIO used: collected 5 offers.
HONDA N360 used: no offers.
TOYOTA COROLLA_VERSO new: no offers.
HONDA NSX new: no offers.
HONDA NSX used: no offers.
TOYOTA COROLLA_VERSO used: collected 5 offers.
TOYOTA CORONA new: no offers.
HONDA ODYSSEY new: collected 2 offers.
TOYOTA CORONA used: collected 19 offers.
TOYOTA CORONA_EXIV new: no offers.
HONDA ODYSSEY used: collected 6 offers.
HONDA ODYSSEY_NA new: no offers.
TOYOTA CORONA_EXIV used: collected 4 offers.
HONDA ODYSSEY_NA used: no offers.
TOYOTA CORSA new: no offers.
HONDA ORTHIA new: no offers.
TOYOTA CORSA used: collected 4 offers.
TOYOTA CRESSIDA new: no offers.
TOYOTA CRESSIDA used: no offers.
HONDA ORTHIA used: collected 2 offers.
HONDA PARTNER new: no offers.
TOYOTA CRESTA new: no offers.
HONDA PARTNER used: collected 2 offers.
HONDA PASSPORT new: no offers.
HONDA PASSPORT used: no offers.
TOYOTA CRESTA used: collected 22 offers.
TOYOTA CROWN new: no offers.
TOYOTA CROWN used: collected 28 offers.
TOYOTA CROWN_MAJESTA new: no offers.
HONDA PILOT new: collected 8 offers.
TOYOTA CROWN_MAJESTA used: collected 2 offers.
TOYOTA CURREN new: no offers.
TOYOTA CURREN used: collected 1 offers.
TOYOTA CYNOS new: no offers.
HONDA PILOT used: collected 29 offers.
HONDA PRELUDE new: no offers.
TOYOTA CYNOS used: collected 3 offers.
TOYOTA DUET new: no offers.
HONDA PRELUDE used: collected 16 offers.
HONDA QUINT new: no offers.
HONDA QUINT used: no offers.
HONDA RAFAGA new: no offers.
HONDA RAFAGA used: collected 2 offers.
TOYOTA DUET used: collected 1 offers.
HONDA RIDGELINE new: no offers.
TOYOTA ECHO new: no offers.
TOYOTA ECHO used: collected 4 offers.
TOYOTA ESQUIRE new: no offers.
HONDA RIDGELINE used: collected 2 offers.
HONDA S_MX new: no offers.
HONDA S_MX used: no offers.
HONDA S2000 new: no offers.
TOYOTA ESQUIRE used: collected 3 offers.
TOYOTA ESTIMA new: no offers.
MERCEDES C_KLASSE used: collected 509 offers.
MERCEDES C_KLASSE_AMG new: collected 6 offers.
HONDA S2000 used: collected 5 offers.
HONDA S500 new: no offers.
HONDA S500 used: no offers.
HONDA S600 new: no offers.
HONDA S600 used: no offers.
TOYOTA ESTIMA used: collected 12 offers.
HONDA S660 new: no offers.
HONDA S660 used: no offers.
MERCEDES C_KLASSE_AMG used: collected 22 offers.
HONDA SABER new: no offers.
TOYOTA ETIOS new: no offers.
MERCEDES CITAN new: no offers.
TOYOTA ETIOS used: no offers.
TOYOTA FJ_CRUISER new: no offers.
MERCEDES CITAN used: collected 2 offers.
MERCEDES CL_KLASSE new: no offers.
HONDA SABER used: collected 2 offers.
HONDA SHUTTLE new: no offers.
TOYOTA FJ_CRUISER used: collected 6 offers.
HONDA SHUTTLE used: collected 9 offers.
HONDA STEPWAGON new: no offers.
MERCEDES CL_KLASSE used: collected 45 offers.
MERCEDES CL_KLASSE_AMG new: no offers.
TOYOTA FORTUNER new: collected 1 offers.
OPEL ASTRA used: collected 1208 offers.
OPEL ASTRA_OPC new: no offers.
MERCEDES CL_KLASSE_AMG used: collected 9 offers.
HONDA STEPWAGON used: collected 13 offers.
TOYOTA FORTUNER used: collected 21 offers.
HONDA STREAM new: no offers.
TOYOTA FUNCARGO new: no offers.
OPEL ASTRA_OPC used: collected 12 offers.
OPEL CALIBRA new: no offers.
HONDA STREAM used: collected 11 offers.
HONDA STREET new: no offers.
HONDA STREET used: no offers.
HONDA THATS new: no offers.
HONDA THATS used: no offers.
OPEL CALIBRA used: collected 6 offers.
TOYOTA FUNCARGO used: collected 4 offers.
HONDA TODAY new: no offers.
OPEL CAMPO new: no offers.
TOYOTA GAIA new: no offers.
OPEL CAMPO used: no offers.
HONDA TODAY used: no offers.
OPEL CASCADA new: no offers.
HONDA TORNEO new: no offers.
OPEL CASCADA used: no offers.
OPEL COMBO new: no offers.
TOYOTA GAIA used: collected 1 offers.
TOYOTA GRAND_HIACE new: no offers.
HONDA TORNEO used: collected 1 offers.
HONDA VAMOS new: no offers.
TOYOTA GRAND_HIACE used: collected 2 offers.
HONDA VAMOS used: no offers.
TOYOTA GRANVIA new: no offers.
HONDA VEZEL new: no offers.
MERCEDES CLA_KLASSE new: collected 150 offers.
OPEL COMBO used: collected 12 offers.
OPEL COMMODORE new: no offers.
HONDA VEZEL used: collected 2 offers.
OPEL COMMODORE used: no offers.
OPEL CORSA new: no offers.
HONDA VIGOR new: no offers.
HONDA VIGOR used: collected 0 offers.
HONDA Z new: no offers.
TOYOTA GRANVIA used: collected 1 offers.
TOYOTA GT86 new: no offers.
HONDA Z used: collected 2 offers.
HONDA ZEST new: no offers.
TOYOTA GT86 used: collected 5 offers.
TOYOTA HARRIER new: no offers.
MERCEDES CLA_KLASSE used: collected 82 offers.
HONDA ZEST used: collected 3 offers.
TOYOTA 2000GT new: no offers.
TOYOTA 2000GT used: no offers.
MERCEDES CLA_KLASSE_AMG new: collected 24 offers.
TOYOTA HARRIER used: collected 10 offers.
TOYOTA 4RUNNER new: collected 1 offers.
TOYOTA HIACE new: no offers.
MERCEDES CLA_KLASSE_AMG used: collected 2 offers.
MERCEDES CLC_KLASSE new: no offers.
TOYOTA HIACE used: collected 37 offers.
TOYOTA HIGHLANDER new: no offers.
TOYOTA 4RUNNER used: collected 25 offers.
TOYOTA ALLEX new: no offers.
OPEL CORSA used: collected 242 offers.
OPEL CORSA_OPC new: no offers.
MERCEDES CLC_KLASSE used: collected 10 offers.
MERCEDES CLK_KLASSE new: no offers.
OPEL CORSA_OPC used: collected 4 offers.
OPEL CROSSLAND_X new: no offers.
OPEL CROSSLAND_X used: no offers.
TOYOTA ALLEX used: collected 2 offers.
OPEL DIPLOMAT new: no offers.
TOYOTA ALLION new: no offers.
OPEL DIPLOMAT used: no offers.
TOYOTA ALLION used: no offers.
OPEL FRONTERA new: no offers.
MERCEDES CLK_KLASSE used: collected 44 offers.
TOYOTA ALPHARD new: no offers.
MERCEDES CLK_KLASSE_AMG new: no offers.
MERCEDES CLK_KLASSE_AMG used: no offers.
OPEL FRONTERA used: collected 32 offers.
TOYOTA ALPHARD used: collected 22 offers.
TOYOTA ALTEZZA new: no offers.
MERCEDES CLS_KLASSE new: collected 2 offers.
TOYOTA ALTEZZA used: collected 7 offers.
TOYOTA AQUA new: no offers.
TOYOTA HIGHLANDER used: collected 99 offers.
TOYOTA AQUA used: collected 7 offers.
TOYOTA ARISTO new: no offers.
OPEL GRANDLAND_X new: collected 6 offers.
OPEL GRANDLAND_X used: no offers.
OPEL GT new: no offers.
TOYOTA HILUX new: collected 1 offers.
MERCEDES CLS_KLASSE used: collected 97 offers.
MERCEDES CLS_KLASSE_AMG new: no offers.
TOYOTA ARISTO used: collected 6 offers.
TOYOTA AURION new: no offers.
TOYOTA AURION used: no offers.
TOYOTA AURIS new: no offers.
OPEL GT used: collected 1 offers.
MERCEDES CLS_KLASSE_AMG used: collected 12 offers.
OPEL INSIGNIA new: no offers.
TOYOTA HILUX used: collected 45 offers.
TOYOTA HILUX_SURF new: no offers.
TOYOTA HILUX_SURF used: collected 4 offers.
TOYOTA INNOVA new: no offers.
TOYOTA INNOVA used: no offers.
TOYOTA IPSUM new: no offers.
TOYOTA AURIS used: collected 60 offers.
TOYOTA AVALON new: no offers.
TOYOTA AVALON used: collected 4 offers.
TOYOTA AVANZA new: no offers.
TOYOTA AVANZA used: no offers.
TOYOTA AVENSIS new: no offers.
TOYOTA IPSUM used: collected 7 offers.
TOYOTA IQ new: no offers.
OPEL INSIGNIA used: collected 150 offers.
OPEL INSIGNIA_OPC new: no offers.
TOYOTA IQ used: collected 2 offers.
TOYOTA ISIS new: no offers.
OPEL INSIGNIA_OPC used: collected 7 offers.
OPEL KADETT new: no offers.
TOYOTA ISIS used: collected 2 offers.
TOYOTA IST new: no offers.
OPEL KADETT used: collected 11 offers.
OPEL KAPITAN new: no offers.
OPEL KAPITAN used: no offers.
TOYOTA IST used: collected 1 offers.
OPEL KARL new: no offers.
TOYOTA KLUGER new: no offers.
OPEL KARL used: no offers.
OPEL MANTA new: no offers.
OPEL MANTA used: no offers.
TOYOTA AVENSIS used: collected 127 offers.
TOYOTA AVENSIS_VERSO new: no offers.
OPEL MERIVA new: no offers.
TOYOTA KLUGER used: no offers.
TOYOTA LAND_CRUISER new: no offers.
TOYOTA AVENSIS_VERSO used: collected 5 offers.
TOYOTA AYGO new: no offers.
TOYOTA AYGO used: collected 1 offers.
TOYOTA BB new: no offers.
OPEL MERIVA used: collected 76 offers.
OPEL MERIVA_OPC new: no offers.
OPEL MERIVA_OPC used: no offers.
OPEL MOKKA new: no offers.
TOYOTA BB used: collected 8 offers.
TOYOTA BELTA new: no offers.
TOYOTA BELTA used: no offers.
TOYOTA BLADE new: no offers.
TOYOTA BLADE used: collected 5 offers.
TOYOTA BLIZZARD new: no offers.
TOYOTA BLIZZARD used: no offers.
TOYOTA BREVIS new: no offers.
TOYOTA BREVIS used: no offers.
TOYOTA C_HR new: no offers.
TOYOTA C_HR used: collected 9 offers.
TOYOTA CALDINA new: no offers.
OPEL MOKKA used: collected 127 offers.
OPEL MONTEREY new: no offers.
TOYOTA CALDINA used: collected 22 offers.
TOYOTA CAMI new: no offers.
OPEL MONTEREY used: collected 4 offers.
OPEL MONZA new: no offers.
TOYOTA LAND_CRUISER used: collected 413 offers.
TOYOTA LAND_CRUISER_PRADO new: no offers.
TOYOTA CAMI used: collected 6 offers.
OPEL MONZA used: collected 1 offers.
OPEL OLYMPIA new: no offers.
OPEL OLYMPIA used: no offers.
OPEL OMEGA new: no offers.
TOYOTA CAMRY new: collected 6 offers.
OPEL OMEGA used: collected 63 offers.
OPEL P4 new: no offers.
OPEL P4 used: no offers.
OPEL REKORD new: no offers.
MERCEDES E_KLASSE new: collected 824 offers.
OPEL REKORD used: collected 4 offers.
OPEL SENATOR new: no offers.
OPEL SENATOR used: no offers.
OPEL SIGNUM new: no offers.
OPEL SIGNUM used: collected 3 offers.
OPEL SINTRA new: no offers.
OPEL SINTRA used: collected 8 offers.
OPEL SPEEDSTER new: no offers.
OPEL SPEEDSTER used: no offers.
OPEL SUPER_SIX new: no offers.
OPEL SUPER_SIX used: collected 1 offers.
OPEL TIGRA new: no offers.
TOYOTA LAND_CRUISER_PRADO used: collected 298 offers.
TOYOTA LITE_ACE new: no offers.
TOYOTA LITE_ACE used: collected 15 offers.
TOYOTA MARK_II new: no offers.
OPEL TIGRA used: collected 12 offers.
OPEL VECTRA new: no offers.
TOYOTA MARK_II used: collected 50 offers.
TOYOTA MARK_X new: no offers.
TOYOTA MARK_X used: collected 4 offers.
TOYOTA MARK_X_ZIO new: no offers.
TOYOTA MARK_X_ZIO used: collected 1 offers.
TOYOTA MASTER_ACE_SURF new: no offers.
TOYOTA MASTER_ACE_SURF used: collected 2 offers.
TOYOTA MATRIX new: no offers.
TOYOTA MATRIX used: collected 8 offers.
TOYOTA MEGA_CRUISER new: no offers.
TOYOTA CAMRY used: collected 547 offers.
TOYOTA CAMRY_SOLARA new: no offers.
OPEL VECTRA used: collected 223 offers.
OPEL VECTRA_OPC new: no offers.
TOYOTA MEGA_CRUISER used: collected 1 offers.
TOYOTA MIRAI new: no offers.
TOYOTA MIRAI used: no offers.
TOYOTA MODEL_F new: no offers.
TOYOTA MODEL_F used: no offers.
TOYOTA MR_S new: no offers.
TOYOTA CAMRY_SOLARA used: collected 8 offers.
TOYOTA CARINA new: no offers.
TOYOTA MR_S used: collected 1 offers.
TOYOTA MR2 new: no offers.
OPEL VECTRA_OPC used: collected 2 offers.
TOYOTA CARINA used: collected 25 offers.
TOYOTA CARINA_E new: no offers.
OPEL VITA new: no offers.
TOYOTA MR2 used: collected 2 offers.
TOYOTA NADIA new: no offers.
TOYOTA CARINA_E used: collected 19 offers.
TOYOTA NADIA used: collected 2 offers.
TOYOTA CARINA_ED new: no offers.
OPEL VITA used: collected 6 offers.
TOYOTA NOAH new: no offers.
OPEL VIVARO new: no offers.
TOYOTA CARINA_ED used: collected 4 offers.
TOYOTA NOAH used: collected 5 offers.
TOYOTA CAVALIER new: no offers.
TOYOTA OPA new: no offers.
OPEL VIVARO used: collected 9 offers.
OPEL ZAFIRA new: no offers.
TOYOTA OPA used: collected 2 offers.
TOYOTA ORIGIN new: no offers.
TOYOTA ORIGIN used: collected 1 offers.
TOYOTA PASEO new: no offers.
TOYOTA PASEO used: no offers.
TOYOTA CAVALIER used: collected 1 offers.
TOYOTA PASSO new: no offers.
TOYOTA PROBOX new: no offers.
TOYOTA PROBOX used: collected 3 offers.
TOYOTA PROGRES new: no offers.TOYOTA PASSO used: collected 3 offers.

TOYOTA PASSO_SETTE new: no offers.
TOYOTA PASSO_SETTE used: no offers.
TOYOTA PICNIC new: no offers.
TOYOTA PROGRES used: collected 1 offers.
TOYOTA PRONARD new: no offers.
TOYOTA PRONARD used: no offers.
TOYOTA PUBLICA new: no offers.
TOYOTA PUBLICA used: no offers.
TOYOTA RACTIS new: no offers.
TOYOTA PICNIC used: collected 3 offers.
TOYOTA PIXIS_EPOCH new: no offers.
TOYOTA PIXIS_EPOCH used: no offers.
TOYOTA PIXIS_JOY new: no offers.
TOYOTA PIXIS_JOY used: no offers.
TOYOTA RACTIS used: collected 1 offers.
TOYOTA PIXIS_MEGA new: no offers.
TOYOTA RAIZE new: no offers.
TOYOTA PIXIS_MEGA used: no offers.
TOYOTA RAIZE used: no offers.
TOYOTA PIXIS_SPACE new: no offers.
TOYOTA RAUM new: no offers.
TOYOTA PIXIS_SPACE used: no offers.
TOYOTA PIXIS_VAN new: no offers.
TOYOTA PIXIS_VAN used: no offers.
TOYOTA PLATZ new: no offers.
TOYOTA RAUM used: collected 2 offers.
OPEL ZAFIRA used: collected 217 offers.
OPEL ZAFIRA_LIFE new: collected 20 offers.
OPEL ZAFIRA_LIFE used: no offers.
TOYOTA RAV_4 new: collected 4 offers.
OPEL ZAFIRA_OPC new: no offers.
TOYOTA PLATZ used: collected 1 offers.
OPEL ZAFIRA_OPC used: no offers.
TOYOTA PORTE new: no offers.
HONDA 145 new: no offers.
HONDA 145 used: no offers.
HONDA ACCORD new: no offers.
MERCEDES E_KLASSE used: collected 937 offers.
TOYOTA PORTE used: collected 1 offers.
TOYOTA PREMIO new: no offers.
MERCEDES E_KLASSE_AMG new: collected 10 offers.
TOYOTA PREMIO used: collected 3 offers.
TOYOTA PREVIA new: no offers.
MERCEDES E_KLASSE_AMG used: collected 38 offers.

MERCEDES EQC new: no offers.
TOYOTA PREVIA used: collected 11 offers.
MERCEDES EQC used: collected 2 offers.
TOYOTA PRIUS new: collected 1 offers.
HONDA ACCORD used: collected 202 offers.
HONDA ACTY new: no offers.
TOYOTA PRIUS used: collected 37 offers.
TOYOTA PRIUS_ALPHA new: no offers.
TOYOTA PRIUS_ALPHA used: collected 6 offers.MERCEDES G_KLASSE new: collected 87 offers.

HONDA ACTY used: collected 1 offers.
TOYOTA PRIUS_C new: no offers.
TOYOTA PRIUS_C used: no offers.
HONDA AIRWAVE new: no offers.
TOYOTA PRIUSPLUS new: no offers.
TOYOTA PRIUSPLUS used: collected 3 offers.
TOYOTA PROACE new: no offers.
TOYOTA PROACE used: no offers.
MITSUBISHI EK_SPACE new: no offers.
MITSUBISHI EK_SPACE used: no offers.
HONDA AIRWAVE used: collected 2 offers.
MITSUBISHI EK_SPORT new: no offers.
HONDA ASCOT new: no offers.
MITSUBISHI EK_SPORT used: no offers.
MITSUBISHI EK_WAGON new: no offers.
HONDA ASCOT used: collected 2 offers.
MITSUBISHI EK_WAGON used: collected 1 offers.
HONDA ASCOT_INNOVA new: no offers.
MITSUBISHI EMERAUDE new: no offers.
HONDA ASCOT_INNOVA used: no offers.
HONDA AVANCIER new: no offers.
TOYOTA RAV_4 used: collected 388 offers.
TOYOTA REGIUS new: no offers.
HONDA AVANCIER used: collected 4 offers.
HONDA BALLADE new: no offers.
HONDA BALLADE used: no offers.
HONDA BEAT new: no offers.
MITSUBISHI EMERAUDE used: collected 1 offers.
HONDA BEAT used: no offers.
MITSUBISHI ENDEAVOR new: no offers.
HONDA BRIO new: no offers.
HONDA BRIO used: no offers.
HONDA CAPA new: no offers.
HONDA CAPA used: no offers.
TOYOTA REGIUS used: collected 3 offers.
HONDA CITY new: no offers.
TOYOTA REGIUSACE new: no offers.
TOYOTA REGIUSACE used: no offers.
TOYOTA ROOMY new: no offers.
TOYOTA ROOMY used: no offers.
MERCEDES G_KLASSE used: collected 147 offers.
TOYOTA RUSH new: no offers.
TOYOTA RUSH used: no offers.
TOYOTA SAI new: no offers.
TOYOTA SAI used: no offers.
HONDA CITY used: collected 1 offers.
HONDA CIVIC new: no offers.
TOYOTA SCEPTER_SEDAN new: no offers.
MITSUBISHI ENDEAVOR used: collected 3 offers.
MITSUBISHI ETERNA new: no offers.
MITSUBISHI ETERNA used: collected 1 offers.
TOYOTA SCEPTER_SEDAN used: collected 1 offers.
MITSUBISHI FREECA new: no offers.
MITSUBISHI FREECA used: no offers.
MERCEDES G_KLASSE_AMG new: collected 78 offers.
MITSUBISHI FTO new: no offers.
MITSUBISHI FTO used: collected 1 offers.
TOYOTA SEQUOIA new: collected 4 offers.
MITSUBISHI GALANT new: no offers.
TOYOTA SEQUOIA used: collected 11 offers.
TOYOTA SERA new: no offers.
MERCEDES G_KLASSE_AMG used: collected 71 offers.
MERCEDES G_KLASSE_AMG_6X6 new: no offers.
MERCEDES G_KLASSE_AMG_6X6 used: no offers.
MERCEDES GL_KLASSE new: no offers.
HONDA CIVIC used: collected 218 offers.
HONDA CIVIC_FERIO new: no offers.
TOYOTA SERA used: collected 1 offers.
HONDA CIVIC_FERIO used: collected 3 offers.
HONDA CIVIC_TYPE_R new: no offers.
MITSUBISHI GALANT used: collected 135 offers.
MITSUBISHI GALANT_FORTIS new: no offers.
MITSUBISHI GALANT_FORTIS used: no offers.
MITSUBISHI GRANDIS new: no offers.
TOYOTA SIENNA new: collected 4 offers.
HONDA CIVIC_TYPE_R used: collected 4 offers.
HONDA CONCERTO new: no offers.
MITSUBISHI GRANDIS used: collected 21 offers.
MITSUBISHI GTO new: no offers.
MITSUBISHI GTO used: no offers.
MITSUBISHI I new: no offers.
MITSUBISHI I used: no offers.
MITSUBISHI I_MIEV new: no offers.
MITSUBISHI I_MIEV used: collected 1 offers.
MITSUBISHI JEEP_J new: no offers.
TOYOTA SIENNA used: collected 22 offers.
HONDA CONCERTO used: collected 3 offers.
MITSUBISHI JEEP_J used: no offers.
TOYOTA SIENTA new: no offers.
TOYOTA SIENTA used: collected 1 offers.
TOYOTA SOARER new: no offers.
MITSUBISHI L200 new: collected 3 offers.
HONDA CR_V new: collected 7 offers.
MERCEDES GL_KLASSE used: collected 251 offers.
MERCEDES GL_KLASSE_AMG new: no offers.
TOYOTA SOARER used: collected 6 offers.
TOYOTA SOLUNA new: no offers.
TOYOTA SOLUNA used: no offers.
TOYOTA SPADE new: no offers.
MITSUBISHI L200 used: collected 74 offers.
MITSUBISHI L300 new: no offers.
MERCEDES GL_KLASSE_AMG used: collected 6 offers.
TOYOTA SPADE used: collected 1 offers.
TOYOTA SPARKY new: no offers.
TOYOTA SPARKY used: no offers.
TOYOTA SPORTS_800 new: no offers.
TOYOTA SPORTS_800 used: no offers.
TOYOTA SPRINTER new: no offers.
MITSUBISHI L300 used: collected 3 offers.
MITSUBISHI L400 new: no offers.
TOYOTA SPRINTER used: collected 10 offers.
MITSUBISHI L400 used: collected 3 offers.
TOYOTA SPRINTER_CARIB new: no offers.
MITSUBISHI LANCER new: no offers.
HONDA CR_V used: collected 198 offers.
HONDA CR_X new: no offers.
HONDA CR_X used: collected 1 offers.
HONDA CR_Z new: no offers.
TOYOTA SPRINTER_CARIB used: collected 2 offers.
TOYOTA SPRINTER_MARINO new: no offers.
HONDA CR_Z used: collected 3 offers.
HONDA CROSSROAD new: no offers.
TOYOTA SPRINTER_MARINO used: collected 2 offers.
TOYOTA SPRINTER_TRUENO new: no offers.
HONDA CROSSROAD used: collected 2 offers.
HONDA CROSSTOUR new: no offers.
TOYOTA SPRINTER_TRUENO used: collected 1 offers.
TOYOTA STARLET new: no offers.
MERCEDES GLA_CLASS new: collected 219 offers.
TOYOTA STARLET used: collected 5 offers.
TOYOTA SUCCEED new: no offers.
HONDA CROSSTOUR used: collected 7 offers.
HONDA DOMANI new: no offers.
TOYOTA SUCCEED used: collected 3 offers.
TOYOTA SUPRA new: no offers.
HONDA DOMANI used: collected 2 offers.
HONDA E new: no offers.
HONDA E used: no offers.
HONDA EDIX new: no offers.
HONDA EDIX used: no offers.
HONDA ELEMENT new: no offers.
MERCEDES GLA_CLASS used: collected 82 offers.
TOYOTA SUPRA used: collected 5 offers.
TOYOTA TACOMA new: no offers.
TOYOTA TACOMA used: collected 0 offers.
TOYOTA TANK new: no offers.
MERCEDES GLA_CLASS_AMG new: collected 14 offers.
HONDA ELEMENT used: collected 5 offers.
HONDA ELYSION new: no offers.
TOYOTA TANK used: collected 1 offers.
TOYOTA TERCEL new: no offers.
MERCEDES GLA_CLASS_AMG used: collected 3 offers.
HONDA ELYSION used: collected 1 offers.
HONDA FCX_CLARITY new: no offers.
HONDA FCX_CLARITY used: no offers.
HONDA FIT new: no offers.
HONDA FIT used: collected 13 offers.
HONDA FIT_ARIA new: no offers.
HONDA FIT_ARIA used: no offers.
HONDA FIT_SHUTTLE new: no offers.
HONDA FIT_SHUTTLE used: no offers.
PEUGEOT 402 new: no offers.
TOYOTA TERCEL used: collected 4 offers.
TOYOTA TOURING_HIACE new: no offers.
TOYOTA TOURING_HIACE used: no offers.
TOYOTA TOWN_ACE new: no offers.
PEUGEOT 402 used: no offers.
PEUGEOT 403 new: no offers.
PEUGEOT 403 used: no offers.
PEUGEOT 404 new: no offers.
PEUGEOT 404 used: no offers.
PEUGEOT 405 new: no offers.
TOYOTA TOWN_ACE used: collected 13 offers.
TOYOTA TUNDRA new: no offers.
PEUGEOT 405 used: collected 3 offers.
PEUGEOT 406 new: no offers.
TOYOTA TUNDRA used: collected 26 offers.
TOYOTA URBAN_CRUISER new: no offers.
TOYOTA URBAN_CRUISER used: no offers.
TOYOTA VANGUARD new: no offers.
TOYOTA VANGUARD used: collected 3 offers.
TOYOTA VELLFIRE new: no offers.
PEUGEOT 406 used: collected 84 offers.
PEUGEOT 407 new: no offers.
TOYOTA VELLFIRE used: collected 1 offers.
TOYOTA VENZA new: no offers.
MERCEDES GLB_KLASSE new: collected 274 offers.
MITSUBISHI LANCER used: collected 683 offers.
MITSUBISHI LANCER_CARGO new: no offers.
MITSUBISHI LANCER_CARGO used: no offers.
MITSUBISHI LANCER_EVOLUTION new: no offers.
PEUGEOT 407 used: collected 35 offers.
TOYOTA VENZA used: collected 17 offers.
TOYOTA VEROSSA new: no offers.
MERCEDES GLB_KLASSE used: collected 4 offers.
MERCEDES GLB_AMG new: no offers.
MERCEDES GLB_AMG used: no offers.
MITSUBISHI LANCER_EVOLUTION used: collected 11 offers.
MITSUBISHI LANCER_RALLIART new: no offers.
TOYOTA VEROSSA used: collected 4 offers.
TOYOTA VERSO new: no offers.
PEUGEOT 408 new: collected 1 offers.
MITSUBISHI LANCER_RALLIART used: collected 1 offers.
MITSUBISHI LEGNUM new: no offers.
TOYOTA VERSO used: collected 25 offers.
TOYOTA VERSO_S new: no offers.
MITSUBISHI LEGNUM used: collected 10 offers.
MITSUBISHI LIBERO new: no offers.
TOYOTA VERSO_S used: collected 1 offers.
TOYOTA VIOS new: no offers.
TOYOTA VIOS used: no offers.
TOYOTA VISTA new: no offers.
MITSUBISHI LIBERO used: collected 4 offers.
MITSUBISHI MINICA new: no offers.
TOYOTA VISTA used: collected 12 offers.
TOYOTA VITZ new: no offers.
MITSUBISHI MINICA used: collected 1 offers.
MITSUBISHI MINICAB new: no offers.
TOYOTA VITZ used: collected 12 offers.
TOYOTA VOLTZ new: no offers.
TOYOTA VOLTZ used: no offers.
TOYOTA VOXY new: no offers.
PEUGEOT 408 used: collected 140 offers.
MITSUBISHI MINICAB used: collected 3 offers.
MITSUBISHI MIRAGE new: no offers.
TOYOTA VOXY used: collected 8 offers.
TOYOTA WILL new: no offers.
TOYOTA WILL used: no offers.
PEUGEOT 5008 new: collected 15 offers.
TOYOTA WILL_CYPHA new: no offers.
MITSUBISHI MIRAGE used: collected 6 offers.
MITSUBISHI MONTERO new: no offers.
TOYOTA WILL_CYPHA used: collected 1 offers.PEUGEOT 5008 used: collected 1 offers.

TOYOTA WINDOM new: no offers.
PEUGEOT 504 new: no offers.
PEUGEOT 504 used: no offers.
PEUGEOT 505 new: no offers.
PEUGEOT 505 used: no offers.
MITSUBISHI MONTERO used: collected 31 offers.
PEUGEOT 508 new: no offers.
MITSUBISHI MONTERO_SPORT new: no offers.
TOYOTA WINDOM used: collected 5 offers.
TOYOTA WISH new: no offers.
PEUGEOT 508 used: collected 25 offers.
MITSUBISHI MONTERO_SPORT used: collected 33 offers.
PEUGEOT 604 new: no offers.
PEUGEOT 604 used: no offers.
PEUGEOT 605 new: no offers.
TOYOTA WISH used: collected 4 offers.
TOYOTA YARIS new: no offers.
PEUGEOT 605 used: collected 2 offers.
PEUGEOT 607 new: no offers.
TOYOTA YARIS used: collected 41 offers.
TOYOTA YARIS_VERSO new: no offers.
PEUGEOT 607 used: collected 15 offers.
PEUGEOT 806 new: no offers.
TOYOTA YARIS_VERSO used: collected 1 offers.
MITSUBISHI 3000_GT new: no offers.
MITSUBISHI 3000_GT used: no offers.
MITSUBISHI 500 new: no offers.
PEUGEOT 806 used: collected 2 offers.
MITSUBISHI 500 used: no offers.
PEUGEOT 807 new: no offers.
MITSUBISHI AIRTREK new: no offers.
MERCEDES GLC_KLASSE new: collected 653 offers.
PEUGEOT 807 used: collected 3 offers.
PEUGEOT BIPPER new: no offers.
PEUGEOT BIPPER used: no offers.
PEUGEOT EXPERT new: no offers.
MITSUBISHI AIRTREK used: collected 8 offers.
MITSUBISHI ASPIRE new: no offers.
PEUGEOT EXPERT used: collected 4 offers.
PEUGEOT ION new: no offers.
PEUGEOT ION used: no offers.
PEUGEOT PARTNER new: no offers.
MITSUBISHI ASPIRE used: collected 3 offers.
MERCEDES GLC_KLASSE used: collected 101 offers.
MERCEDES GLC_KLASSE_AMG new: collected 1 offers.
MITSUBISHI ASX new: collected 62 offers.
MERCEDES GLC_KLASSE_AMG used: collected 4 offers.
PEUGEOT PARTNER used: collected 123 offers.
MITSUBISHI OUTLANDER new: collected 496 offers.
PEUGEOT RCZ new: no offers.
PEUGEOT RCZ used: collected 4 offers.
PEUGEOT RIFTER new: no offers.
PEUGEOT RIFTER used: no offers.
MITSUBISHI ASX used: collected 127 offers.
MITSUBISHI ATTRAGE new: no offers.
MITSUBISHI ATTRAGE used: no offers.
MITSUBISHI BRABO new: no offers.
MITSUBISHI BRABO used: no offers.
PEUGEOT TRAVELLER new: collected 43 offers.
MITSUBISHI CARISMA new: no offers.
PEUGEOT TRAVELLER used: collected 8 offers.
NISSAN 100NX new: no offers.
MERCEDES GLC_COUPE new: collected 247 offers.
NISSAN 100NX used: collected 1 offers.
NISSAN 180SX new: no offers.
MERCEDES GLC_COUPE used: collected 27 offers.
NISSAN 180SX used: no offers.
NISSAN 200SX new: no offers.
MERCEDES AMG_GLC_COUPE new: collected 8 offers.
NISSAN 200SX used: collected 1 offers.
MITSUBISHI CARISMA used: collected 110 offers.
NISSAN 240SX new: no offers.
MITSUBISHI CELESTE new: no offers.
NISSAN 240SX used: no offers.
MITSUBISHI CELESTE used: no offers.
MITSUBISHI CHALLENGER new: no offers.
MITSUBISHI CHALLENGER used: no offers.
NISSAN 280ZX new: no offers.
MERCEDES AMG_GLC_COUPE used: collected 3 offers.
MITSUBISHI CHARIOT new: no offers.
NISSAN 280ZX used: collected 1 offers.
NISSAN 300ZX new: no offers.
MITSUBISHI CHARIOT used: collected 11 offers.
MITSUBISHI COLT new: no offers.
MITSUBISHI OUTLANDER used: collected 443 offers.
MITSUBISHI PAJERO new: no offers.
NISSAN 300ZX used: collected 1 offers.
NISSAN 350Z new: no offers.
MITSUBISHI COLT used: collected 47 offers.
MITSUBISHI CORDIA new: no offers.
MITSUBISHI CORDIA used: no offers.
MITSUBISHI DEBONAIR new: no offers.
MITSUBISHI DEBONAIR used: no offers.NISSAN 350Z used: collected 4 offers.

MITSUBISHI DELICA new: no offers.
NISSAN 370Z new: no offers.
NISSAN 370Z used: no offers.
NISSAN AD new: no offers.
MITSUBISHI DELICA used: collected 10 offers.
MITSUBISHI DELICA_D2 new: no offers.
NISSAN AD used: collected 6 offers.
NISSAN ALMERA new: no offers.
MITSUBISHI DELICA_D2 used: collected 3 offers.
MITSUBISHI DELICA_D3 new: no offers.
MITSUBISHI DELICA_D3 used: no offers.
MITSUBISHI DELICA_D_5 new: no offers.
MITSUBISHI DELICA_D_5 used: collected 2 offers.
MITSUBISHI DIAMANTE new: no offers.
MITSUBISHI DIAMANTE used: collected 5 offers.
MITSUBISHI DIGNITY new: no offers.
MITSUBISHI DIGNITY used: no offers.
MITSUBISHI DINGO new: no offers.
MITSUBISHI DINGO used: collected 6 offers.
MITSUBISHI DION new: no offers.
MITSUBISHI PAJERO used: collected 261 offers.
MITSUBISHI PAJERO_IO new: no offers.
MITSUBISHI DION used: collected 7 offers.
MITSUBISHI ECLIPSE new: no offers.
MITSUBISHI PAJERO_IO used: collected 13 offers.
MITSUBISHI PAJERO_JUNIOR new: no offers.
MITSUBISHI ECLIPSE used: collected 27 offers.
MITSUBISHI PAJERO_JUNIOR used: collected 1 offers.
MITSUBISHI PAJERO_MINI new: no offers.
MITSUBISHI ECLIPSE_CROSS new: collected 26 offers.
MITSUBISHI PAJERO_MINI used: collected 9 offers.
MITSUBISHI PAJERO_PININ new: no offers.
MITSUBISHI ECLIPSE_CROSS used: collected 11 offers.
MITSUBISHI EK_ACTIVE new: no offers.
MITSUBISHI EK_ACTIVE used: no offers.
MITSUBISHI EK_CLASSIC new: no offers.
MITSUBISHI EK_CLASSIC used: no offers.
MITSUBISHI EK_CUSTOM new: no offers.
MITSUBISHI EK_CUSTOM used: no offers.
NISSAN LUCINO new: no offers.
NISSAN LUCINO used: no offers.
MITSUBISHI PAJERO_PININ used: collected 17 offers.
NISSAN MARCH new: no offers.
NISSAN ALMERA used: collected 449 offers.
NISSAN ALMERA_CLASSIC new: no offers.
NISSAN MARCH used: collected 10 offers.
NISSAN MAXIMA new: no offers.
MITSUBISHI PAJERO_SPORT new: collected 84 offers.
NISSAN MAXIMA used: collected 84 offers.
NISSAN MICRA new: no offers.
NISSAN MICRA used: collected 47 offers.
NISSAN MISTRAL new: no offers.
NISSAN ALMERA_CLASSIC used: collected 157 offers.
NISSAN MISTRAL used: no offers.
NISSAN MOCO new: no offers.
NISSAN ALMERA_TINO new: no offers.
NISSAN MOCO used: no offers.
NISSAN ALMERA_TINO used: collected 10 offers.
NISSAN ALTIMA new: no offers.
MITSUBISHI PAJERO_SPORT used: collected 166 offers.
MITSUBISHI PISTACHIO new: no offers.
MITSUBISHI PISTACHIO used: no offers.
MITSUBISHI PROUDIA new: no offers.
NISSAN ALTIMA used: collected 4 offers.
MITSUBISHI PROUDIA used: no offers.
NISSAN ARIYA new: no offers.
MITSUBISHI RAIDER new: no offers.
NISSAN ARIYA used: no offers.
MITSUBISHI RAIDER used: no offers.
NISSAN ARMADA new: no offers.
MITSUBISHI RVR new: no offers.
NISSAN MURANO new: collected 48 offers.
NISSAN ARMADA used: collected 4 offers.
MITSUBISHI RVR used: collected 9 offers.
NISSAN AUSTER new: no offers.
MITSUBISHI SAPPORO new: no offers.
NISSAN AUSTER used: no offers.
NISSAN AVENIR new: no offers.
MERCEDES GLE_KLASSE new: collected 996 offers.
NISSAN AVENIR used: collected 3 offers.
NISSAN BASSARA new: no offers.
MITSUBISHI SAPPORO used: collected 1 offers.
MITSUBISHI SAVRIN new: no offers.
MITSUBISHI SAVRIN used: no offers.
MITSUBISHI SIGMA new: no offers.
MITSUBISHI SIGMA used: no offers.
MITSUBISHI SPACE_GEAR new: no offers.
NISSAN BASSARA used: collected 4 offers.
NISSAN BE_1 new: no offers.
NISSAN BE_1 used: no offers.
NISSAN BLUEBIRD new: no offers.
MITSUBISHI SPACE_GEAR used: collected 5 offers.
NISSAN BLUEBIRD used: collected 9 offers.
MITSUBISHI SPACE_RUNNER new: no offers.
NISSAN BLUEBIRD_MAXIMA new: no offers.
NISSAN BLUEBIRD_MAXIMA used: no offers.
NISSAN BLUEBIRD_SYLPHY new: no offers.
MERCEDES GLE_KLASSE used: collected 99 offers.
NISSAN MURANO used: collected 191 offers.
NISSAN BLUEBIRD_SYLPHY used: collected 2 offers.
NISSAN NAVARA new: no offers.
NISSAN CARAVAN_COACH new: no offers.
MITSUBISHI SPACE_RUNNER used: collected 4 offers.
MITSUBISHI SPACE_STAR new: no offers.
MERCEDES GLE_KLASSE_AMG new: collected 43 offers.
NISSAN CARAVAN_COACH used: collected 1 offers.
NISSAN CEDRIC new: no offers.

NISSAN NAVARA used: collected 29 offers.
NISSAN NOTE new: no offers.
MITSUBISHI SPACE_STAR used: collected 26 offers.
MITSUBISHI SPACE_WAGON new: no offers.
NISSAN CEDRIC used: collected 7 offers.
MERCEDES GLE_KLASSE_AMG used: collected 17 offers.
NISSAN CEFIRO new: no offers.
NISSAN CEFIRO used: collected 14 offers.
MITSUBISHI SPACE_WAGON used: collected 20 offers.
MITSUBISHI STARION new: no offers.
NISSAN CHERRY new: no offers.
MITSUBISHI STARION used: no offers.
NISSAN CHERRY used: no offers.
MITSUBISHI STRADA new: no offers.
NISSAN CIMA new: no offers.
MITSUBISHI STRADA used: no offers.
NISSAN CIMA used: no offers.
NISSAN CLIPPER_RIO new: no offers.
NISSAN CLIPPER_RIO used: no offers.
MITSUBISHI TOPPO new: no offers.
NISSAN CREW new: no offers.
MITSUBISHI TOPPO used: no offers.
NISSAN CREW used: no offers.
NISSAN CUBE new: no offers.
MITSUBISHI TOWN_BOX new: no offers.
MITSUBISHI TOWN_BOX used: no offers.
MITSUBISHI TREDIA new: no offers.
MITSUBISHI TREDIA used: no offers.
MITSUBISHI TRITON new: no offers.
MITSUBISHI TRITON used: no offers.
MITSUBISHI XPANDER new: no offers.
MITSUBISHI XPANDER used: no offers.
NISSAN CUBE used: collected 11 offers.
PEUGEOT 1007 new: no offers.
NISSAN DATSUN new: no offers.
PEUGEOT 1007 used: collected 1 offers.
PEUGEOT 104 new: no offers.
NISSAN NOTE used: collected 132 offers.
PEUGEOT 104 used: no offers.
NISSAN NP300 new: no offers.
PEUGEOT 106 new: no offers.
PEUGEOT 106 used: collected 1 offers.
PEUGEOT 107 new: no offers.
NISSAN DATSUN used: collected 4 offers.
NISSAN DAYZ new: no offers.
NISSAN NP300 used: collected 14 offers.
NISSAN CLIPPER new: no offers.
NISSAN CLIPPER used: no offers.
NISSAN NV200 new: no offers.
NISSAN DAYZ used: collected 3 offers.
NISSAN DAYZ_ROOX new: no offers.
NISSAN NV200 used: collected 3 offers.
NISSAN NV350_CARAVAN new: no offers.
NISSAN NV350_CARAVAN used: no offers.
NISSAN DAYZ_ROOX used: collected 1 offers.
NISSAN NX_COUPE new: no offers.
NISSAN DUALIS new: no offers.
PEUGEOT 107 used: collected 18 offers.
NISSAN DUALIS used: no offers.
PEUGEOT 108 new: no offers.
NISSAN NX_COUPE used: no offers.
PEUGEOT 108 used: no offers.
NISSAN ELGRAND new: no offers.
NISSAN OTTI new: no offers.
PEUGEOT 2008 new: no offers.
PEUGEOT 2008 used: collected 7 offers.
NISSAN ELGRAND used: collected 4 offers.
PEUGEOT 201 new: no offers.
NISSAN EXA new: no offers.
PEUGEOT 201 used: no offers.
NISSAN EXA used: no offers.
PEUGEOT 202 new: no offers.
NISSAN EXPERT new: no offers.
PEUGEOT 202 used: no offers.
PEUGEOT 203 new: no offers.
NISSAN OTTI used: collected 1 offers.
NISSAN PAO new: no offers.
NISSAN PAO used: no offers.
NISSAN PATHFINDER new: no offers.
NISSAN EXPERT used: collected 2 offers.
NISSAN FAIRLADY_Z new: no offers.
PEUGEOT 203 used: collected 1 offers.
PEUGEOT 204 new: no offers.
MERCEDES GLE_KLASSE_COUPE new: collected 374 offers.
PEUGEOT 204 used: no offers.
PEUGEOT 205 new: no offers.
PEUGEOT 205 used: no offers.
NISSAN FAIRLADY_Z used: collected 1 offers.
PEUGEOT 205_GTI new: no offers.
NISSAN FIGARO new: no offers.
NISSAN FIGARO used: no offers.PEUGEOT 205_GTI used: no offers.

NISSAN FUGA new: no offers.
PEUGEOT 206 new: no offers.
NISSAN PATHFINDER used: collected 136 offers.
NISSAN PATROL new: no offers.
NISSAN FUGA used: collected 2 offers.
NISSAN GLORIA new: no offers.
MERCEDES GLE_KLASSE_COUPE used: collected 65 offers.
NISSAN GLORIA used: collected 3 offers.
NISSAN GT_R new: no offers.
NISSAN PATROL used: collected 88 offers.
NISSAN PINO new: no offers.
NISSAN GT_R used: collected 7 offers.
NISSAN HOMY new: no offers.
NISSAN HOMY used: no offers.
NISSAN PINO used: no offers.
NISSAN HYPERMINI new: no offers.
NISSAN PIXO new: no offers.
NISSAN HYPERMINI used: no offers.
NISSAN PIXO used: no offers.
NISSAN JUKE new: no offers.
NISSAN PRAIRIE new: no offers.
PEUGEOT 206 used: collected 131 offers.
MERCEDES GLE_KLASSE_COUPE_AMG new: collected 53 offers.
PEUGEOT 207 new: no offers.
NISSAN PRAIRIE used: collected 1 offers.
NISSAN PRESAGE new: no offers.
MERCEDES GLE_KLASSE_COUPE_AMG used: collected 17 offers.
MERCEDES GLK_KLASSE new: no offers.
NISSAN PRESAGE used: collected 8 offers.
NISSAN PRESEA new: no offers.
NISSAN PRESEA used: collected 1 offers.
PEUGEOT 207 used: collected 78 offers.
NISSAN PRESIDENT new: no offers.
PEUGEOT 208 new: no offers.
NISSAN PRESIDENT used: collected 1 offers.
NISSAN PRIMASTAR new: no offers.
NISSAN PRIMASTAR used: no offers.
PEUGEOT 208 used: collected 6 offers.
PEUGEOT 208_GTI new: no offers.
NISSAN PRIMERA new: no offers.
PEUGEOT 208_GTI used: no offers.
MERCEDES GLK_KLASSE used: collected 139 offers.
NISSAN JUKE used: collected 212 offers.
NISSAN JUKE_NISMO new: no offers.
NISSAN JUKE_NISMO used: collected 1 offers.
NISSAN KICKS new: no offers.
NISSAN KICKS used: no offers.
NISSAN KIX new: no offers.
PEUGEOT 3008 new: collected 28 offers.
NISSAN KIX used: collected 1 offers.
NISSAN LAFESTA new: no offers.
NISSAN LAFESTA used: collected 1 offers.
NISSAN LANGLEY new: no offers.
NISSAN LANGLEY used: no offers.
NISSAN LARGO new: no offers.
PEUGEOT 3008 used: collected 70 offers.
NISSAN LARGO used: collected 4 offers.
PEUGEOT 301 new: no offers.
NISSAN LATIO new: no offers.
NISSAN LATIO used: no offers.
NISSAN LAUREL new: no offers.
PEUGEOT 301 used: collected 10 offers.
PEUGEOT 304 new: no offers.
PEUGEOT 304 used: no offers.
PEUGEOT 305 new: no offers.
PEUGEOT 305 used: no offers.
PEUGEOT 306 new: no offers.
NISSAN LAUREL used: collected 13 offers.
NISSAN LEAF new: no offers.
NISSAN PRIMERA used: collected 212 offers.
NISSAN PULSAR new: no offers.
PEUGEOT 306 used: collected 7 offers.
PEUGEOT 307 new: no offers.
NISSAN LEAF used: collected 33 offers.
NISSAN LEOPARD new: no offers.
NISSAN LEOPARD used: no offers.
NISSAN LIBERTA_VILLA new: no offers.
NISSAN PULSAR used: collected 5 offers.
NISSAN LIBERTA_VILLA used: no offers.
NISSAN LIBERTY new: no offers.
NISSAN LIBERTY used: collected 6 offers.
NISSAN LIVINA new: no offers.
NISSAN LIVINA used: no offers.
MAZDA CAPELLA new: no offers.
MAZDA CAPELLA used: collected 9 offers.
MAZDA CAROL new: no offers.
PEUGEOT 307 used: collected 128 offers.
PEUGEOT 308 new: no offers.
MAZDA CAROL used: collected 1 offers.
MAZDA CHANTEZ new: no offers.
MAZDA CHANTEZ used: no offers.
MAZDA COSMO new: no offers.
MAZDA COSMO used: no offers.
MAZDA CRONOS new: no offers.
MAZDA CRONOS used: no offers.
MAZDA CX_3 new: no offers.
MAZDA CX_3 used: no offers.
MAZDA CX_30 new: no offers.
MAZDA CX_30 used: no offers.
NISSAN QASHQAI new: collected 213 offers.
MERCEDES GLS_KLASSE new: collected 554 offers.
PEUGEOT 308 used: collected 292 offers.
PEUGEOT 308_GTI new: no offers.
PEUGEOT 308_GTI used: no offers.
PEUGEOT 309 new: no offers.
PEUGEOT 309 used: no offers.
MAZDA CX_5 new: collected 159 offers.
PEUGEOT 4007 new: no offers.
MERCEDES GLS_KLASSE used: collected 85 offers.
MERCEDES GLS_KLASSE_AMG new: collected 13 offers.
PEUGEOT 4007 used: collected 23 offers.
PEUGEOT 4008 new: no offers.
MERCEDES GLS_KLASSE_AMG used: collected 5 offers.
MERCEDES M_KLASSE new: no offers.
PEUGEOT 4008 used: collected 5 offers.
FIAT 238 new: no offers.
FIAT 238 used: no offers.
FIAT 500 new: no offers.
FIAT 500 used: collected 11 offers.
FIAT 500L new: no offers.
FIAT 500L used: no offers.
FIAT 500X new: no offers.
FIAT 500X used: no offers.
FIAT 508 new: no offers.
FIAT 508 used: no offers.
FIAT 600 new: no offers.
FIAT 600 used: no offers.
FIAT 900T new: no offers.
FIAT 900T used: no offers.
FIAT ALBEA new: no offers.
FIAT ALBEA used: collected 44 offers.
FIAT ARGENTA new: no offers.
FIAT ARGENTA used: no offers.
FIAT BARCHETTA new: no offers.
FIAT BARCHETTA used: no offers.
FIAT BRAVA new: no offers.
MAZDA CX_5 used: collected 250 offers.
MAZDA CX_7 new: no offers.
FIAT BRAVA used: collected 7 offers.
FIAT BRAVO new: no offers.
NISSAN QASHQAI used: collected 552 offers.
NISSAN QASHQAI_PLUS_2 new: no offers.
FIAT BRAVO used: collected 8 offers.
FIAT CINQUECENTO new: no offers.
FIAT CINQUECENTO used: no offers.
FIAT COUPE new: no offers.
NISSAN QASHQAI_PLUS_2 used: collected 40 offers.
NISSAN QUEST new: no offers.
FIAT COUPE used: collected 2 offers.
FIAT CROMA new: no offers.
FIAT CROMA used: no offers.
FIAT DOBLO new: no offers.
NISSAN QUEST used: collected 1 offers.
NISSAN RNESSA new: no offers.
MERCEDES M_KLASSE used: collected 372 offers.
MERCEDES M_KLASSE_AMG new: no offers.
FIAT DOBLO used: collected 46 offers.
FIAT DUNA new: no offers.
FIAT DUNA used: no offers.
FIAT FIORINO new: no offers.
NISSAN RNESSA used: collected 3 offers.
NISSAN RASHEEN new: no offers.
NISSAN RASHEEN used: no offers.
NISSAN ROGUE new: no offers.
NISSAN ROGUE used: no offers.
MERCEDES M_KLASSE_AMG used: collected 30 offers.
NISSAN ROOX new: no offers.
MERCEDES MAYBACH_G_650 new: no offers.
NISSAN ROOX used: no offers.MERCEDES MAYBACH_G_650 used: no offers.

NISSAN SAFARI new: no offers.
MAZDA CX_7 used: collected 278 offers.
MERCEDES MAYBACH_GLS new: collected 2 offers.
MAZDA CX_8 new: no offers.
MERCEDES MAYBACH_GLS used: no offers.
MAZDA CX_8 used: no offers.
FIAT FIORINO used: collected 1 offers.
FIAT FREEMONT new: no offers.
NISSAN SAFARI used: collected 3 offers.
NISSAN SENTRA new: no offers.
FIAT FREEMONT used: collected 1 offers.
FIAT FULLBACK new: no offers.
MAZDA CX_9 new: collected 3 offers.
NISSAN SENTRA used: collected 30 offers.
NISSAN SERENA new: no offers.
FIAT FULLBACK used: collected 2 offers.
FIAT IDEA new: no offers.
MAZDA CX_9 used: collected 35 offers.
MAZDA DEMIO new: no offers.
FIAT IDEA used: no offers.
FIAT LINEA new: no offers.
NISSAN SERENA used: collected 41 offers.
NISSAN SILVIA new: no offers.
MAZDA DEMIO used: collected 13 offers.
MAZDA EFINI_MS_6 new: no offers.
FIAT LINEA used: collected 3 offers.
MAZDA EFINI_MS_6 used: no offers.
MAZDA EFINI_MS_8 new: no offers.
FIAT MAREA new: no offers.
NISSAN SILVIA used: collected 1 offers.
MAZDA EFINI_MS_8 used: no offers.
MAZDA EFINI_MS_9 new: no offers.
MERCEDES S_CLASS_MAYBACH new: collected 107 offers.
NISSAN SKYLINE new: no offers.MAZDA EFINI_MS_9 used: no offers.

MAZDA ETUDE new: no offers.
MAZDA ETUDE used: no offers.
MAZDA EUNOS_100 new: no offers.
MAZDA EUNOS_100 used: no offers.
MAZDA EUNOS_300 new: no offers.
MAZDA EUNOS_300 used: no offers.
MAZDA EUNOS_500 new: no offers.
MAZDA EUNOS_500 used: no offers.
NISSAN SKYLINE used: collected 19 offers.
MAZDA EUNOS_800 new: no offers.
NISSAN SKYLINE_CROSSOVER new: no offers.
MAZDA EUNOS_800 used: no offers.
NISSAN SKYLINE_CROSSOVER used: no offers.
MAZDA EUNOS_COSMO new: no offers.
NISSAN STAGEA new: no offers.
MAZDA EUNOS_COSMO used: no offers.
MAZDA FAMILIA new: no offers.
FIAT MAREA used: collected 9 offers.
FIAT MULTIPLA new: no offers.
FIAT MULTIPLA used: no offers.
FIAT PALIO new: no offers.
NISSAN STAGEA used: collected 2 offers.
NISSAN STANZA new: no offers.
NISSAN STANZA used: no offers.
NISSAN SUNNY new: no offers.
MERCEDES S_CLASS_MAYBACH used: collected 56 offers.
MERCEDES METRIS new: no offers.
MERCEDES METRIS used: no offers.
MERCEDES R_KLASSE new: no offers.
MAZDA FAMILIA used: collected 10 offers.
MAZDA FLAIR new: no offers.
MAZDA FLAIR used: no offers.
MAZDA FLAIR_CROSSOVER new: no offers.
FIAT PALIO used: collected 6 offers.
MAZDA FLAIR_CROSSOVER used: no offers.
FIAT PANDA new: no offers.
MAZDA FLAIR_WAGON new: no offers.
MAZDA FLAIR_WAGON used: no offers.
NISSAN SUNNY used: collected 20 offers.
MAZDA LANTIS new: no offers.
MERCEDES R_KLASSE used: collected 28 offers.
MERCEDES R_KLASSE_AMG new: no offers.
NISSAN TEANA new: no offers.
MERCEDES R_KLASSE_AMG used: no offers.
MAZDA LANTIS used: collected 1 offers.
MAZDA LAPUTA new: no offers.
MAZDA LAPUTA used: no offers.
MAZDA LUCE new: no offers.
MAZDA LUCE used: no offers.
FIAT PANDA used: collected 8 offers.
FIAT PUNTO new: no offers.
MAZDA MILLENIA new: no offers.
MAZDA MILLENIA used: collected 3 offers.
MAZDA MPV new: no offers.
MAZDA MPV used: collected 50 offers.
MAZDA MX_3 new: no offers.
FIAT PUNTO used: collected 27 offers.
FIAT QUBO new: no offers.
FIAT QUBO used: no offers.
FIAT REGATA new: no offers.
FIAT REGATA used: no offers.
MAZDA MX_3 used: collected 3 offers.
FIAT RITMO new: no offers.
MAZDA MX_30 new: no offers.
FIAT RITMO used: no offers.
MAZDA MX_30 used: no offers.
FIAT SCUDO new: no offers.
MAZDA MX_5 new: no offers.
FIAT SCUDO used: collected 2 offers.
FIAT SEDICI new: no offers.
MERCEDES S_KLASSE new: collected 150 offers.
MAZDA MX_5 used: collected 6 offers.
MAZDA MX_6 new: no offers.
MAZDA MX_6 used: no offers.
MAZDA NAVAJO new: no offers.
MAZDA NAVAJO used: no offers.
MAZDA PERSONA new: no offers.
MAZDA PERSONA used: no offers.
MAZDA PREMACY new: no offers.
FIAT SEDICI used: collected 1 offers.
FIAT SEICENTO new: no offers.
FIAT SEICENTO used: no offers.
FIAT SIENA new: no offers.
FIAT SIENA used: no offers.
FIAT STILO new: no offers.
FIAT STILO used: collected 1 offers.
MAZDA PREMACY used: collected 7 offers.
FIAT STRADA new: no offers.
MAZDA PROCEED new: no offers.
MAZDA PROCEED used: no offers.FIAT STRADA used: no offers.

FIAT TEMPRA new: no offers.
MAZDA PROCEED_LEVANTE new: no offers.
MAZDA PROCEED_LEVANTE used: no offers.
MAZDA PROCEED_MARVIE new: no offers.
FIAT TEMPRA used: collected 3 offers.
FIAT TIPO new: no offers.
NISSAN TEANA used: collected 285 offers.
MAZDA PROCEED_MARVIE used: collected 1 offers.
NISSAN TERRA new: no offers.
NISSAN TERRA used: no offers.
MAZDA PROTEGE new: no offers.
FIAT TIPO used: collected 2 offers.
FIAT ULYSSE new: no offers.
FIAT ULYSSE used: collected 2 offers.
FIAT UNO new: no offers.
FIAT UNO used: no offers.
FIAT X_1_9 new: no offers.
FIAT X_1_9 used: no offers.
RENAULT 10 new: no offers.
MAZDA PROTEGE used: collected 6 offers.
RENAULT 10 used: no offers.
MAZDA R_360 new: no offers.
RENAULT 11 new: no offers.
MAZDA R_360 used: no offers.
RENAULT 11 used: no offers.
MAZDA REVUE new: no offers.
RENAULT 12 new: no offers.
RENAULT 12 used: no offers.
RENAULT 14 new: no offers.
RENAULT 14 used: no offers.
NISSAN TERRANO new: collected 100 offers.
RENAULT 15 new: no offers.
RENAULT 15 used: no offers.
RENAULT 16 new: no offers.
RENAULT 16 used: no offers.
MAZDA REVUE used: collected 1 offers.
RENAULT 17 new: no offers.
MAZDA ROADSTER new: no offers.
RENAULT 17 used: no offers.
MAZDA ROADSTER used: no offers.
MAZDA RX_7 new: no offers.
RENAULT 18 new: no offers.
RENAULT 18 used: no offers.
RENAULT 19 new: no offers.
RENAULT 19 used: collected 10 offers.
RENAULT 20 new: no offers.
MAZDA RX_7 used: collected 2 offers.
MAZDA RX_8 new: no offers.
MAZDA RX_8 used: collected 22 offers.
RENAULT 20 used: collected 1 offers.
MAZDA SCRUM new: no offers.
RENAULT 21 new: no offers.
MAZDA SCRUM used: no offers.
MAZDA SENTIA new: no offers.
MAZDA SENTIA used: no offers.
MAZDA SPIANO new: no offers.
MAZDA SPIANO used: no offers.
MAZDA TRIBUTE new: no offers.
RENAULT 21 used: collected 1 offers.
RENAULT 25 new: no offers.
RENAULT 25 used: no offers.
RENAULT 30 new: no offers.
RENAULT 30 used: no offers.
RENAULT 4 new: no offers.
RENAULT 4 used: no offers.
NISSAN TERRANO used: collected 131 offers.
NISSAN TERRANO_REGULUS new: no offers.
RENAULT 4CV new: no offers.
RENAULT 4CV used: no offers.
RENAULT 5 new: no offers.
MAZDA TRIBUTE used: collected 13 offers.
MAZDA VERISA new: no offers.
NISSAN TERRANO_REGULUS used: collected 1 offers.
NISSAN TIIDA new: no offers.
RENAULT 5 used: collected 1 offers.
RENAULT 6 new: no offers.
MAZDA VERISA used: collected 2 offers.
RENAULT 6 used: no offers.
MAZDA XEDOS_6 new: no offers.
RENAULT 8 new: no offers.
RENAULT 8 used: no offers.
RENAULT 9 new: no offers.
RENAULT 9 used: no offers.
RENAULT ALASKAN new: no offers.
RENAULT ALASKAN used: no offers.
MAZDA XEDOS_6 used: collected 9 offers.
MAZDA XEDOS_9 new: no offers.
MERCEDES S_KLASSE used: collected 555 offers.
MAZDA XEDOS_9 used: collected 5 offers.
NISSAN TIIDA used: collected 138 offers.
NISSAN TINO new: no offers.
MERCEDES S_KLASSE_AMG new: collected 3 offers.
JAGUAR E_PACE new: collected 10 offers.
RENAULT ARKANA new: collected 133 offers.
NISSAN TINO used: collected 2 offers.
NISSAN TITAN new: no offers.
NISSAN TITAN used: no offers.
NISSAN URVAN new: no offers.
RENAULT ARKANA used: collected 16 offers.
MERCEDES S_KLASSE_AMG used: collected 63 offers.
RENAULT AVANTIME new: no offers.
NISSAN URVAN used: collected 1 offers.
MERCEDES SIMPLEX new: no offers.JAGUAR E_PACE used: collected 6 offers.

NISSAN VANETTE new: no offers.
JAGUAR E_TYPE new: no offers.
JAGUAR E_TYPE used: no offers.
MERCEDES SIMPLEX used: collected 1 offers.
MERCEDES SL_KLASSE new: no offers.
RENAULT AVANTIME used: collected 1 offers.
NISSAN VANETTE used: collected 5 offers.
NISSAN VERSA new: no offers.RENAULT CAPTUR new: no offers.

RENAULT CAPTUR used: no offers.
NISSAN VERSA used: no offers.
RENAULT CARAVELLE new: no offers.
NISSAN WINGROAD new: no offers.
RENAULT CARAVELLE used: no offers.
RENAULT CLIO new: no offers.
MERCEDES SL_KLASSE used: collected 32 offers.
MERCEDES SL_KLASSE_AMG new: no offers.
JAGUAR F_PACE new: collected 42 offers.
MERCEDES SL_KLASSE_AMG used: collected 10 offers.
MERCEDES SLC_KLASSE new: no offers.
RENAULT CLIO used: collected 34 offers.
RENAULT CLIO_RS new: no offers.
NISSAN WINGROAD used: collected 10 offers.
MERCEDES SLC_KLASSE used: collected 1 offers.
MERCEDES SLC_KLASSE_AMG new: no offers.
MERCEDES SLC_KLASSE_AMG used: no offers.
MERCEDES SLK_KLASSE new: no offers.
JAGUAR F_PACE used: collected 36 offers.
MERCEDES SLK_KLASSE used: collected 32 offers.
MERCEDES SLK_KLASSE_AMG new: no offers.
MERCEDES SLK_KLASSE_AMG used: no offers.
RENAULT CLIO_RS used: collected 5 offers.
MERCEDES SLR_KLASSE new: no offers.
RENAULT CLIO_V6 new: no offers.
RENAULT CLIO_V6 used: no offers.
RENAULT DAUPHINE new: no offers.
RENAULT DAUPHINE used: no offers.
RENAULT DOKKER new: no offers.
JAGUAR F_TYPE new: collected 5 offers.
MERCEDES SLR_KLASSE used: collected 2 offers.
MERCEDES SLS_AMG new: no offers.
JAGUAR F_TYPE used: collected 9 offers.
RENAULT DOKKER used: collected 14 offers.
MERCEDES SLS_AMG used: collected 4 offers.
JAGUAR I_PACE new: collected 3 offers.
JAGUAR I_PACE used: no offers.
JAGUAR MARK_2 new: no offers.
JAGUAR MARK_2 used: collected 1 offers.
RENAULT DUSTER new: collected 90 offers.
JAGUAR MARK_IX new: no offers.
JAGUAR MARK_IX used: no offers.
JAGUAR S_TYPE new: no offers.
MERCEDES V_KLASSE new: collected 100 offers.
JAGUAR S_TYPE used: collected 15 offers.
JAGUAR X_TYPE new: no offers.
JAGUAR X_TYPE used: collected 19 offers.
JAGUAR XE new: no offers.
MERCEDES V_KLASSE used: collected 80 offers.
MERCEDES VANEO new: no offers.
JAGUAR XE used: collected 9 offers.
MERCEDES VANEO used: collected 5 offers.
MERCEDES VIANO new: no offers.
JAGUAR XF new: collected 2 offers.
NISSAN X_TRAIL new: collected 388 offers.
MERCEDES VIANO used: collected 77 offers.
MERCEDES VITO new: collected 4 offers.
JAGUAR XF used: collected 72 offers.
JAGUAR XFR new: no offers.
RENAULT DUSTER used: collected 401 offers.
RENAULT ESPACE new: no offers.
JAGUAR XFR used: collected 4 offers.
JAGUAR XJ new: no offers.
RENAULT ESPACE used: collected 12 offers.
RENAULT FLORIDE new: no offers.
RENAULT FLORIDE used: no offers.
RENAULT FLUENCE new: no offers.
MERCEDES VITO used: collected 88 offers.
MERCEDES W100 new: no offers.
JAGUAR XJ used: collected 32 offers.
MERCEDES W100 used: no offers.
JAGUAR XJ220 new: no offers.
MERCEDES W105 new: no offers.
JAGUAR XJ220 used: no offers.
JAGUAR XJR new: no offers.
MERCEDES W105 used: no offers.
MERCEDES W108 new: no offers.
MERCEDES W108 used: no offers.
MERCEDES W110 new: no offers.
MERCEDES W110 used: no offers.
MERCEDES W111 new: no offers.
JAGUAR XJR used: collected 1 offers.
JAGUAR XJS new: no offers.
JAGUAR XJS used: no offers.
JAGUAR XK new: no offers.
MERCEDES W111 used: collected 4 offers.
MERCEDES W114 new: no offers.
MERCEDES W114 used: collected 1 offers.
MERCEDES W115 new: no offers.
MERCEDES W115 used: no offers.
MERCEDES W120 new: no offers.
MERCEDES W120 used: no offers.
MERCEDES W121 new: no offers.
JAGUAR XK used: collected 8 offers.
RENAULT FLUENCE used: collected 101 offers.
MERCEDES W121 used: no offers.
JAGUAR XKR new: no offers.
RENAULT FREGATE new: no offers.
MERCEDES W123 new: no offers.
RENAULT FREGATE used: no offers.
RENAULT FUEGO new: no offers.
RENAULT FUEGO used: no offers.
RENAULT KADJAR new: no offers.
RENAULT KADJAR used: no offers.
RENAULT KANGOO new: no offers.
MERCEDES W123 used: collected 32 offers.
MERCEDES W124 new: no offers.
JAGUAR XKR used: collected 14 offers.
RENAULT KANGOO used: collected 47 offers.
FIAT 124 new: no offers.
FIAT 124 used: no offers.
FIAT 124_SPIDER new: no offers.
FIAT 124_SPIDER used: no offers.
FIAT 124_SPORT_SPIDER new: no offers.
FIAT 124_SPORT_SPIDER used: collected 2 offers.
FIAT 125 new: no offers.
NISSAN X_TRAIL used: collected 538 offers.
NISSAN XTERRA new: no offers.
NISSAN XTERRA used: no offers.
MAZDA 1000 new: no offers.
MAZDA 1000 used: no offers.
MAZDA 121 new: no offers.
FIAT 125 used: collected 1 offers.
MERCEDES W124 used: collected 65 offers.
FIAT 126 new: no offers.
MERCEDES W128 new: no offers.
FIAT 126 used: no offers.
FIAT 127 new: no offers.
FIAT 127 used: no offers.
FIAT 128 new: no offers.
MAZDA 121 used: collected 4 offers.
MAZDA 1300 new: no offers.
MAZDA 1300 used: no offers.
MAZDA 2 new: no offers.
FIAT 128 used: collected 1 offers.
FIAT 130 new: no offers.
MERCEDES W128 used: collected 4 offers.
FIAT 130 used: no offers.
FIAT 131 new: no offers.MERCEDES W136 new: no offers.

FIAT 131 used: no offers.
FIAT 132 new: no offers.
FIAT 132 used: no offers.
RENAULT LAGUNA new: no offers.
MAZDA 2 used: collected 14 offers.
MERCEDES W136 used: collected 1 offers.
MERCEDES W142 new: no offers.
MAZDA 3 new: no offers.
MERCEDES W142 used: no offers.
MERCEDES W186 new: no offers.
RENAULT KAPTUR new: collected 180 offers.
MERCEDES W186 used: collected 1 offers.
MERCEDES W188 new: no offers.
RENAULT LAGUNA used: collected 76 offers.
RENAULT LATITUDE new: no offers.
MERCEDES W188 used: collected 1 offers.
MERCEDES W189 new: no offers.
MERCEDES W189 used: no offers.
AUDI TYP_R new: no offers.
AUDI TYP_R used: no offers.
AUDI V8 new: no offers.
AUDI V8 used: no offers.
BMW 02 new: no offers.
RENAULT LATITUDE used: collected 11 offers.
RENAULT LODGY new: no offers.
RENAULT LODGY used: no offers.
BMW 02 used: collected 1 offers.
BMW 1ER new: no offers.
RENAULT KAPTUR used: collected 121 offers.
RENAULT KOLEOS new: no offers.
RENAULT LOGAN new: collected 121 offers.
MAZDA 3 used: collected 393 offers.
MAZDA 3MPS new: no offers.
RENAULT KOLEOS used: collected 58 offers.
RENAULT KWID new: no offers.
RENAULT KWID used: no offers.
SUZUKI LANDY new: no offers.
SUZUKI LANDY used: no offers.
SUZUKI LIANA new: no offers.
MAZDA 3MPS used: collected 10 offers.
MAZDA 323 new: no offers.
MAZDA 323 used: collected 42 offers.
MAZDA 5 new: no offers.
BMW 1ER used: collected 195 offers.
BMW M1 new: no offers.
BMW M1 used: no offers.
MAZDA 5 used: collected 21 offers.
SUZUKI LIANA used: collected 57 offers.
SUZUKI MR_WAGON new: no offers.
SUZUKI MR_WAGON used: no offers.
SUZUKI PALETTE new: no offers.
SUZUKI PALETTE used: no offers.
SUZUKI RENO new: no offers.
SUZUKI RENO used: no offers.
SUZUKI SAMURAI new: no offers.
SUZUKI SAMURAI used: no offers.
SUZUKI SIDEKICK new: no offers.
MAZDA 6 new: collected 48 offers.
BMW 2ER new: collected 78 offers.
SUZUKI SIDEKICK used: collected 1 offers.
SUZUKI SOLIO new: no offers.
SUZUKI SOLIO used: collected 1 offers.
SUZUKI SPACIA new: no offers.
SUZUKI SPACIA used: no offers.
SUZUKI SPLASH new: no offers.
BMW 2ER used: collected 10 offers.
BMW 2ACTIVETOURER new: no offers.
BMW 2ACTIVETOURER used: collected 2 offers.
BMW 2GRANDTOURER new: no offers.
SUZUKI SPLASH used: collected 9 offers.
SUZUKI SWIFT new: no offers.
BMW 2GRANDTOURER used: collected 3 offers.
BMW 2000_C_CS new: no offers.
BMW 2000_C_CS used: no offers.
SUZUKI SWIFT used: collected 45 offers.
SUZUKI SX4 new: collected 37 offers.
MAZDA 6 used: collected 487 offers.
MAZDA 6_MPS new: no offers.
SUZUKI SX4 used: collected 118 offers.
SUZUKI TWIN new: no offers.
RENAULT LOGAN used: collected 581 offers.
SUZUKI TWIN used: no offers.
RENAULT MEGANE new: no offers.SUZUKI VERONA new: no offers.

SUZUKI VERONA used: no offers.
MAZDA 6_MPS used: collected 9 offers.
MAZDA 616 new: no offers.
MAZDA 616 used: no offers.
MAZDA 626 new: no offers.
SUZUKI VITARA new: collected 108 offers.
MAZDA 626 used: collected 60 offers.
MAZDA 818 new: no offers.
MAZDA 818 used: no offers.
MAZDA 929 new: no offers.
MAZDA 929 used: no offers.
MAZDA ATENZA new: no offers.
BMW 3ER new: collected 436 offers.
SUZUKI VITARA used: collected 32 offers.
SUZUKI WAGON_R new: no offers.
MAZDA ATENZA used: collected 1 offers.
MAZDA AUTOZAM_AZ3 new: no offers.
SUZUKI WAGON_R used: collected 4 offers.
SUZUKI WAGON_R_PLUS new: no offers.
RENAULT MEGANE used: collected 257 offers.
RENAULT MEGANE_RS new: no offers.
SUZUKI WAGON_R_PLUS used: collected 1 offers.
MAZDA AUTOZAM_AZ3 used: collected 2 offers.
SUZUKI X_90 new: no offers.
MAZDA AXELA new: no offers.
SUZUKI X_90 used: no offers.
RENAULT MEGANE_RS used: collected 1 offers.
SUZUKI XBEE new: no offers.
RENAULT MODUS new: no offers.
SUZUKI XBEE used: no offers.
SUZUKI XL_7 new: no offers.
SUZUKI XL_7 used: no offers.
MINI MINI new: no offers.
MINI MINI used: no offers.
MINI MINI new: no offers.
MINI MINI used: no offers.
MINI GEMINI new: no offers.
MINI GEMINI used: no offers.
MINI FLAMINIA new: no offers.
MINI FLAMINIA used: no offers.
MINI CABRIO new: no offers.
MAZDA AXELA used: collected 3 offers.
MAZDA AUTOZAM_AZ1 new: no offers.
RENAULT MODUS used: collected 3 offers.
RENAULT RODEO new: no offers.
RENAULT RODEO used: no offers.
MAZDA AUTOZAM_AZ1 used: no offers.
RENAULT SAFRANE new: no offers.
MAZDA AZ_OFFROAD new: no offers.
MAZDA AZ_OFFROAD used: no offers.
MAZDA AZ_WAGON new: no offers.
MINI CABRIO used: collected 3 offers.MAZDA AZ_WAGON used: no offers.

MAZDA B_SERIES new: no offers.
MINI CLUBMAN new: collected 29 offers.
RENAULT SAFRANE used: collected 3 offers.
MAZDA B_SERIES used: collected 8 offers.
MAZDA BIANTE new: no offers.
MINI CLUBMAN used: collected 13 offers.
MAZDA BIANTE used: collected 2 offers.
MAZDA BONGO new: no offers.
MAZDA BONGO used: collected 10 offers.
MAZDA BONGO_FRIENDEE new: no offers.
MINI COUNTRYMAN new: collected 118 offers.
MAZDA BONGO_FRIENDEE used: collected 1 offers.
MAZDA BT_50 new: no offers.
MINI COUNTRYMAN used: collected 47 offers.
MINI COUPE new: no offers.
RENAULT SANDERO new: collected 150 offers.
MINI COUPE used: collected 4 offers.
MAZDA BT_50 used: collected 17 offers.
PORSCHE 911_R new: no offers.
PORSCHE 911_R used: no offers.
PORSCHE 912 new: no offers.
PORSCHE 912 used: no offers.
PORSCHE 914 new: no offers.
PORSCHE 914 used: no offers.
PORSCHE 918_SPYDER new: no offers.
PORSCHE 918_SPYDER used: no offers.
PORSCHE 924 new: no offers.
PORSCHE 924 used: no offers.
PORSCHE 928 new: no offers.
PORSCHE 928 used: collected 1 offers.
PORSCHE 944 new: no offers.
PORSCHE 944 used: no offers.
PORSCHE 959 new: no offers.
PORSCHE 959 used: no offers.
PORSCHE 968 new: no offers.
MINI HATCH new: collected 85 offers.
PORSCHE 968 used: collected 1 offers.
PORSCHE BOXSTER new: no offers.
PORSCHE BOXSTER used: collected 14 offers.
PORSCHE CARRERA_GT new: no offers.
PORSCHE CARRERA_GT used: no offers.
PORSCHE CAYENNE new: collected 31 offers.
BMW 3ER used: collected 747 offers.
BMW 3_15 new: no offers.
MINI HATCH used: collected 105 offers.
BMW 3_15 used: no offers.
BMW 315 new: no offers.
MINI PACEMAN new: no offers.
BMW 315 used: no offers.
BMW 3200 new: no offers.
BMW 3200 used: no offers.
BMW 321 new: no offers.
MINI PACEMAN used: collected 3 offers.
MINI ROADSTER new: no offers.
MINI ROADSTER used: no offers.
MINI MINICA new: no offers.
MINI MINICA used: no offers.
BMW 321 used: collected 2 offers.
MINI MINICAB new: no offers.
BMW 326 new: no offers.
MINI MINICAB used: no offers.
MINI PAJERO_MINI new: no offers.
MINI PAJERO_MINI used: no offers.
MINI HYPERMINI new: no offers.
MINI HYPERMINI used: no offers.
MINI PADMINI new: no offers.
MINI PADMINI used: no offers.
MINI MINI new: no offers.
MINI MINI used: no offers.
VOLVO 120_SERIES new: no offers.
VOLVO 120_SERIES used: no offers.
VOLVO 140 new: no offers.
BMW 326 used: collected 1 offers.
BMW 327 new: no offers.
RENAULT SANDERO used: collected 310 offers.
BMW 327 used: no offers.
RENAULT SANDERO_RS new: no offers.
BMW 340 new: no offers.
RENAULT SANDERO_RS used: no offers.
RENAULT SCENIC new: no offers.
VOLVO 140 used: collected 1 offers.
VOLVO 164 new: no offers.
VOLVO 164 used: no offers.
VOLVO 240_SERIES new: no offers.
BMW 340 used: collected 2 offers.
BMW 4 new: no offers.
VOLVO 240_SERIES used: collected 9 offers.
VOLVO 260 new: no offers.
VOLVO 260 used: no offers.
VOLVO 300_SERIES new: no offers.
PORSCHE CAYENNE used: collected 301 offers.
PORSCHE CAYENNE_COUPE new: collected 19 offers.
BMW 4 used: collected 64 offers.
VOLVO 300_SERIES used: collected 2 offers.
VOLVO 440 new: no offers.
RENAULT SCENIC used: collected 107 offers.
RENAULT SPORT_SPYDER new: no offers.
RENAULT SPORT_SPYDER used: no offers.
RENAULT CLIO_SYMBOL new: no offers.
PORSCHE CAYENNE_COUPE used: collected 7 offers.
BMW 5ER new: collected 13 offers.
VOLVO 440 used: collected 2 offers.
VOLVO 460 new: no offers.
PORSCHE CAYMAN new: collected 1 offers.
PORSCHE CAYMAN used: collected 6 offers.
RENAULT CLIO_SYMBOL used: collected 85 offers.
RENAULT TALISMAN new: no offers.
RENAULT TALISMAN used: no offers.
RENAULT TRAFIC new: no offers.
VOLVO 460 used: collected 12 offers.
PORSCHE CAYMAN_GT4 new: collected 1 offers.
VOLVO 480 new: no offers.
VOLVO 480 used: no offers.
VOLVO 66 new: no offers.
RENAULT TRAFIC used: collected 6 offers.
VOLVO 66 used: no offers.
RENAULT TWINGO new: no offers.
VOLVO 740 new: no offers.
VOLVO 740 used: collected 17 offers.
VOLVO 760 new: no offers.
RENAULT TWINGO used: collected 3 offers.
PORSCHE CAYMAN_GT4 used: collected 2 offers.
RENAULT TWIZY new: no offers.
PORSCHE MACAN new: collected 7 offers.
VOLVO 760 used: collected 3 offers.
VOLVO 780 new: no offers.
VOLVO 780 used: no offers.
VOLVO 850 new: no offers.
RENAULT TWIZY used: collected 1 offers.
RENAULT VEL_SATIS new: no offers.
PORSCHE MACAN used: collected 49 offers.
VOLVO 850 used: collected 30 offers.
VOLVO 940 new: no offers.
RENAULT VEL_SATIS used: collected 3 offers.
PORSCHE PANAMERA new: collected 6 offers.
RENAULT VIVASTELLA new: no offers.
RENAULT VIVASTELLA used: no offers.
RENAULT WIND new: no offers.
RENAULT WIND used: no offers.
RENAULT ZOE new: no offers.
RENAULT ZOE used: no offers.
RENAULT QM5 new: no offers.
RENAULT QM5 used: no offers.
RENAULT QM6 new: no offers.
RENAULT QM6 used: no offers.
RENAULT SM3 new: no offers.
VOLVO 940 used: collected 27 offers.
RENAULT SM3 used: no offers.
VOLVO 960 new: no offers.
RENAULT SM5 new: no offers.
RENAULT SM5 used: no offers.
RENAULT SM7 new: no offers.
RENAULT SM7 used: no offers.
AUDI 100 new: no offers.
VOLVO 960 used: collected 18 offers.
VOLVO C30 new: no offers.
VOLVO C30 used: collected 26 offers.
VOLVO C70 new: no offers.
AUDI 100 used: collected 92 offers.
AUDI 200 new: no offers.
PORSCHE PANAMERA used: collected 106 offers.
AUDI 200 used: collected 3 offers.
AUDI 50 new: no offers.
AUDI 50 used: no offers.
AUDI 80 new: no offers.
VOLVO C70 used: collected 13 offers.
PORSCHE TAYCAN new: collected 1 offers.
VOLVO LAPLANDER new: no offers.
PORSCHE TAYCAN used: no offers.
VOLVO LAPLANDER used: no offers.
INFINITI EX new: no offers.
VOLVO P1800 new: no offers.
VOLVO P1800 used: no offers.
VOLVO P1900 new: no offers.
VOLVO P1900 used: no offers.
VOLVO S40 new: no offers.
INFINITI EX used: collected 39 offers.
INFINITI FX new: no offers.
VOLVO S40 used: collected 107 offers.
AUDI 80 used: collected 170 offers.
AUDI 90 new: no offers.
AUDI 90 used: collected 9 offers.
VOLVO S60 new: collected 13 offers.
AUDI 920 new: no offers.
AUDI 920 used: collected 1 offers.
AUDI A1 new: no offers.
INFINITI FX used: collected 198 offers.
INFINITI G35 new: no offers.
AUDI A1 used: collected 33 offers.
AUDI A2 new: no offers.
AUDI A2 used: collected 2 offers.
INFINITI G35 used: collected 79 offers.
INFINITI I new: no offers.
VOLVO S60 used: collected 192 offers.
VOLVO S60_CROSS_COUNTRY new: no offers.
VOLVO S60_CROSS_COUNTRY used: no offers.
AUDI A3 new: collected 29 offers.
VOLVO S70 new: no offers.
INFINITI I used: collected 1 offers.
INFINITI J30 new: no offers.
INFINITI J30 used: no offers.
VOLVO S70 used: collected 14 offers.
INFINITI JX new: no offers.
VOLVO S80 new: no offers.
INFINITI JX used: collected 14 offers.
INFINITI M new: no offers.
VOLVO S80 used: collected 144 offers.
INFINITI M used: collected 68 offers.
INFINITI Q new: no offers.

AUDI A3 used: collected 184 offers.
BMW 5ER used: collected 938 offers.
INFINITI Q used: collected 2 offers.
BMW 501 new: no offers.
INFINITI Q30 new: no offers.
BMW 501 used: no offers.
BMW 502 new: no offers.
VOLVO S90 new: collected 23 offers.
BMW 502 used: no offers.
BMW 503 new: no offers.
BMW 503 used: no offers.
BMW 507 new: no offers.
BMW 507 used: no offers.
VOLVO S90 used: collected 18 offers.
VOLVO V40 new: no offers.
INFINITI Q30 used: collected 2 offers.
INFINITI Q40 new: no offers.
INFINITI Q40 used: no offers.
BMW 6ER new: collected 1 offers.
VOLVO V40 used: collected 12 offers.
VOLVO V40_CC new: no offers.
INFINITI Q50 new: collected 3 offers.
VOLVO V40_CC used: collected 20 offers.
INFINITI Q50 used: collected 37 offers.
VOLVO V50 new: no offers.
VOLVO V50 used: collected 6 offers.
VOLVO V60 new: no offers.
INFINITI Q60 new: collected 2 offers.
AUDI A4 new: collected 258 offers.
VOLVO V60 used: collected 3 offers.
BMW 6ER used: collected 110 offers.
BMW 600 new: no offers.
BMW 600 used: no offers.
INFINITI Q60 used: collected 4 offers.
INFINITI Q70 new: no offers.
VOLVO V60_CROSS_COUNTRY new: collected 24 offers.
VOLVO V60_CROSS_COUNTRY used: collected 2 offers.
VOLVO V70 new: no offers.
VOLVO V70 used: collected 17 offers.
INFINITI Q70 used: collected 11 offers.
VOLVO V90 new: no offers.
VOLVO V90 used: no offers.
INFINITI QX30 new: no offers.
INFINITI QX30 used: collected 1 offers.
VOLVO V90_CROSS_COUNTRY new: collected 7 offers.
BMW 7ER new: collected 62 offers.
INFINITI QX4 new: no offers.
INFINITI QX4 used: collected 6 offers.
VOLVO V90_CROSS_COUNTRY used: collected 11 offers.
VOLVO XC40 new: collected 44 offers.
INFINITI QX50 new: collected 48 offers.
VOLVO XC40 used: collected 3 offers.
INFINITI QX50 used: collected 23 offers.
INFINITI QX56 new: no offers.
AUDI A4 used: collected 469 offers.
INFINITI QX56 used: collected 64 offers.
INFINITI QX60 new: collected 9 offers.
AUDI A4_ALLROAD new: collected 23 offers.
BMW 7ER used: collected 315 offers.
BMW 700 new: no offers.
BMW 700 used: no offers.
AUDI A4_ALLROAD used: collected 28 offers.
INFINITI QX60 used: collected 34 offers.
INFINITI QX70 new: no offers.
AUDI A5 new: collected 33 offers.
BMW 8ER new: collected 29 offers.
INFINITI QX70 used: collected 76 offers.
BMW 8ER used: collected 23 offers.
BMW E3 new: no offers.
INFINITI QX80 new: collected 2 offers.
BMW E3 used: collected 2 offers.
BMW E9 new: no offers.
BMW E9 used: no offers.
BMW I3 new: no offers.
VOLVO XC60 new: collected 303 offers.
AUDI A5 used: collected 143 offers.
INFINITI QX80 used: collected 25 offers.
SUBARU 1000 new: no offers.
BMW I3 used: collected 14 offers.
SUBARU 1000 used: no offers.
SUBARU 360 new: no offers.
SUBARU 360 used: no offers.
SUBARU ALCYONE new: no offers.
SUBARU ALCYONE used: no offers.
SUBARU ASCENT new: no offers.
SUBARU ASCENT used: no offers.
SUBARU BAJA new: no offers.
BMW I8 new: collected 1 offers.
AUDI A6 new: collected 50 offers.
BMW I8 used: no offers.
BMW IX3 new: no offers.
BMW IX3 used: no offers.
SUBARU BAJA used: collected 1 offers.
SUBARU BIGHORN new: no offers.
SUBARU BIGHORN used: no offers.
SUBARU BISTRO new: no offers.
SUBARU BISTRO used: no offers.
SUBARU BRAT new: no offers.
SUBARU BRAT used: no offers.
SUBARU BRZ new: no offers.
SUBARU BRZ used: no offers.
SUBARU DEX new: no offers.
SUBARU DEX used: no offers.
SUBARU DIAS_WAGON new: no offers.
SUBARU DIAS_WAGON used: no offers.
SUBARU DOMINGO new: no offers.
BMW M2 new: collected 3 offers.
VOLVO XC60 used: collected 185 offers.
VOLVO XC70 new: no offers.
SUBARU DOMINGO used: collected 1 offers.
SUBARU EXIGA new: no offers.
BMW M2 used: collected 2 offers.
BMW M3 new: no offers.
SUBARU EXIGA used: collected 1 offers.
BMW M3 used: collected 11 offers.
BMW M4 new: no offers.
VOLVO XC70 used: collected 78 offers.
BMW M4 used: collected 5 offers.
SUBARU FORESTER new: collected 85 offers.
BMW M5 new: collected 6 offers.
BMW M5 used: collected 28 offers.
BMW M6 new: no offers.
VOLVO XC90 new: collected 170 offers.
BMW M6 used: collected 11 offers.
BMW M8 new: collected 3 offers.
BMW M8 used: no offers.
BMW NEW_CLASS new: no offers.
BMW NEW_CLASS used: no offers.
SUBARU FORESTER used: collected 201 offers.
SUBARU IMPREZA new: no offers.
AUDI A6 used: collected 605 offers.
SUBARU IMPREZA used: collected 80 offers.
SUBARU IMPREZA_WRX new: no offers.
BMW X1 new: collected 84 offers.
AUDI ALLROAD new: collected 1 offers.
SUBARU IMPREZA_WRX used: collected 36 offers.
SUBARU IMPREZA_WRX_STI new: no offers.
VOLVO XC90 used: collected 251 offers.
PORSCHE 356 new: no offers.
SUBARU IMPREZA_WRX_STI used: collected 19 offers.
SUBARU JUSTY new: no offers.
SUBARU JUSTY used: no offers.
PORSCHE 356 used: collected 3 offers.
PORSCHE 718_SPYDER new: no offers.
AUDI ALLROAD used: collected 75 offers.
PORSCHE 718_SPYDER used: no offers.
SUBARU LEGACY new: collected 13 offers.
PORSCHE 911 new: collected 5 offers.
AUDI A7 new: collected 3 offers.
PORSCHE 911 used: collected 44 offers.
PORSCHE 911_GT2 new: no offers.
SUBARU LEGACY used: collected 100 offers.
SUBARU LEGACY_LANCASTER new: no offers.
BMW X1 used: collected 185 offers.
PORSCHE 911_GT2 used: collected 1 offers.
PORSCHE 911_GT3 new: no offers.
SUBARU LEGACY_LANCASTER used: collected 1 offers.
SUBARU LEONE new: no offers.
SUBARU LEONE used: no offers.
SUBARU LEVORG new: no offers.
AUDI A7 used: collected 74 offers.
BMW X2 new: collected 19 offers.
PORSCHE 911_GT3 used: collected 2 offers.
SKODA CITIGO new: no offers.
SKODA CITIGO used: no offers.
SKODA FABIA new: no offers.
SUBARU LEVORG used: collected 1 offers.
SUBARU LIBERO new: no offers.
AUDI A8 new: collected 31 offers.
BMW X2 used: collected 17 offers.
SUBARU LIBERO used: collected 1 offers.
SUBARU LUCRA new: no offers.
SUBARU LUCRA used: no offers.
SUBARU OUTBACK new: collected 8 offers.
SKODA FABIA used: collected 196 offers.
SKODA FABIA_RS new: no offers.
SKODA FABIA_RS used: collected 2 offers.
SKODA FAVORIT new: no offers.
AUDI A8 used: collected 171 offers.
AUDI CABRIOLET new: no offers.
AUDI CABRIOLET used: no offers.
AUDI COUPE new: no offers.
SUBARU OUTBACK used: collected 72 offers.
SUBARU PLEO new: no offers.
SUBARU PLEO used: no offers.
SUBARU R1 new: no offers.
SKODA FAVORIT used: collected 1 offers.
SKODA FELICIA new: no offers.
SUBARU R1 used: collected 1 offers.
SUBARU R2 new: no offers.
AUDI COUPE used: collected 4 offers.
SUBARU R2 used: collected 4 offers.
SUBARU REX new: no offers.
SUBARU REX used: no offers.
SUBARU SAMBAR new: no offers.
BMW X3 new: collected 258 offers.
AUDI E_TRON new: collected 33 offers.
SUBARU SAMBAR used: collected 1 offers.
SUBARU STELLA new: no offers.
SKODA FELICIA used: collected 52 offers.
SKODA FORMAN new: no offers.
SKODA FORMAN used: no offers.
SKODA KAMIQ new: no offers.
SKODA KAMIQ used: no offers.
AUDI E_TRON used: collected 1 offers.
SUBARU STELLA used: collected 2 offers.
AUDI E_TRON_SPORTBACK new: collected 1 offers.
SUBARU SVX new: no offers.
AUDI E_TRON_SPORTBACK used: no offers.
AUDI NSU_RO_80 new: no offers.
AUDI NSU_RO_80 used: no offers.
AUDI Q2 new: no offers.
AUDI Q2 used: no offers.
SUBARU SVX used: collected 1 offers.
SUBARU TRAVIQ new: no offers.
AUDI Q3 new: collected 29 offers.
SKODA KAROQ new: collected 56 offers.
SKODA KAROQ used: collected 1 offers.
SUBARU TRAVIQ used: collected 1 offers.
SUBARU TREZIA new: no offers.
SUBARU TREZIA used: no offers.
SUBARU B9_TRIBECA new: no offers.
BMW X3 used: collected 283 offers.
BMW X3_M new: no offers.
SUBARU B9_TRIBECA used: collected 33 offers.
SUBARU VIVIO new: no offers.
BMW X3_M used: collected 1 offers.
SUBARU VIVIO used: no offers.
AUDI Q3 used: collected 114 offers.
SUBARU WRX new: collected 4 offers.
SKODA KODIAQ new: collected 90 offers.
SUBARU WRX used: collected 5 offers.
SUBARU WRX_STI new: collected 2 offers.
AUDI Q3_SPORTBACK new: collected 45 offers.
AUDI Q3_SPORTBACK used: no offers.
BMW X4 new: collected 76 offers.
SUBARU WRX_STI used: collected 1 offers.
SUBARU XT new: no offers.
SUBARU XT used: no offers.
SKODA KODIAQ used: collected 89 offers.
SKODA KODIAQ_RS new: no offers.
BMW X4 used: collected 99 offers.
SKODA KODIAQ_RS used: no offers.
BMW X4_M new: no offers.
BMW X4_M used: no offers.
SUBARU XV new: collected 32 offers.
SKODA OCTAVIA new: collected 2 offers.
SUBARU XV used: collected 20 offers.
SKODA 100_SERIES new: no offers.
SKODA 100_SERIES used: collected 1 offers.
SKODA 120 new: no offers.
SKODA 120 used: collected 1 offers.
SKODA 1200 new: no offers.
SKODA 1200 used: no offers.
LEXUS SC new: no offers.
AUDI Q5 new: collected 250 offers.
BMW X5 new: collected 188 offers.
LEXUS SC used: collected 5 offers.
LEXUS UX new: no offers.
LEXUS UX used: collected 3 offers.
VOLKSWAGEN 181 new: no offers.
VOLKSWAGEN 181 used: no offers.
VOLKSWAGEN AMAROK new: collected 7 offers.
VOLKSWAGEN AMAROK used: collected 43 offers.
AUDI Q5 used: collected 171 offers.
VOLKSWAGEN ARTEON new: no offers.
VOLKSWAGEN ARTEON used: no offers.
VOLKSWAGEN ATLAS new: no offers.
AUDI Q7 new: collected 21 offers.
VOLKSWAGEN ATLAS used: collected 1 offers.
VOLKSWAGEN BEETLE new: no offers.
VOLKSWAGEN BEETLE used: collected 19 offers.
VOLKSWAGEN BORA new: no offers.
VOLKSWAGEN BORA used: collected 39 offers.
AUDI Q7 used: collected 236 offers.
AUDI Q8 new: collected 12 offers.
VOLKSWAGEN CADDY new: collected 56 offers.
AUDI Q8 used: collected 20 offers.
AUDI QUATTRO new: no offers.
AUDI QUATTRO used: no offers.
AUDI R8 new: no offers.
AUDI R8 used: collected 5 offers.
AUDI R8_LMP new: no offers.
AUDI R8_LMP used: no offers.
AUDI RS2 new: no offers.
AUDI RS2 used: no offers.
AUDI RS3 new: no offers.
VOLKSWAGEN CADDY used: collected 124 offers.
VOLKSWAGEN CALIFORNIA new: no offers.
AUDI RS3 used: collected 1 offers.
AUDI RS4 new: no offers.
VOLKSWAGEN CALIFORNIA used: collected 3 offers.
AUDI RS4 used: collected 2 offers.
AUDI RS5 new: no offers.
AUDI RS5 used: collected 2 offers.
AUDI RS6 new: no offers.
BMW X5 used: collected 671 offers.
AUDI RS6 used: collected 7 offers.
AUDI RS7 new: no offers.
VOLKSWAGEN CARAVELLE new: collected 98 offers.
BMW X5_M new: collected 30 offers.
AUDI RS7 used: collected 4 offers.
AUDI RSQ3 new: no offers.
BMW X5_M used: collected 42 offers.
SKODA OCTAVIA used: collected 1134 offers.
SKODA OCTAVIA_RS new: no offers.
AUDI RSQ3 used: collected 3 offers.
AUDI RS_Q3_SPORTBACK new: no offers.
AUDI RS_Q3_SPORTBACK used: no offers.
AUDI RS_Q8 new: no offers.
AUDI RS_Q8 used: no offers.
AUDI S1 new: no offers.
AUDI S1 used: no offers.
AUDI S2 new: no offers.
AUDI S2 used: no offers.
VOLKSWAGEN CARAVELLE used: collected 133 offers.
AUDI S3 new: no offers.
VOLKSWAGEN CORRADO new: no offers.
SKODA OCTAVIA_RS used: collected 24 offers.
SKODA POPULAR new: no offers.
AUDI S3 used: collected 3 offers.
AUDI S4 new: no offers.
SKODA POPULAR used: collected 1 offers.
VOLKSWAGEN CORRADO used: collected 3 offers.
VOLKSWAGEN DERBY new: no offers.
VOLKSWAGEN DERBY used: no offers.
VOLKSWAGEN EOS new: no offers.
AUDI S4 used: collected 9 offers.
AUDI S5 new: no offers.
VOLKSWAGEN EOS used: collected 2 offers.
VOLKSWAGEN EUROVAN new: no offers.
AUDI S5 used: collected 11 offers.
AUDI S6 new: no offers.
SKODA RAPID new: collected 96 offers.
VOLKSWAGEN EUROVAN used: collected 2 offers.
VOLKSWAGEN FOX new: no offers.
BMW X6 new: collected 185 offers.
VOLKSWAGEN FOX used: collected 1 offers.
AUDI S6 used: collected 5 offers.
VOLKSWAGEN GOL new: no offers.
AUDI S7 new: no offers.
VOLKSWAGEN GOL used: no offers.
VOLKSWAGEN GOLF new: no offers.
AUDI S7 used: collected 1 offers.
AUDI S8 new: no offers.
AUDI S8 used: collected 10 offers.
AUDI SQ2 new: no offers.
AUDI SQ2 used: no offers.
AUDI SQ5 new: collected 1 offers.
AUDI SQ5 used: collected 3 offers.
AUDI SQ7 new: collected 1 offers.
AUDI SQ7 used: no offers.
AUDI SQ8 new: collected 1 offers.
AUDI SQ8 used: no offers.
AUDI TT new: no offers.
AUDI TT used: collected 34 offers.
AUDI TT_RS new: no offers.
SKODA RAPID used: collected 335 offers.
AUDI TT_RS used: no offers.
SKODA ROOMSTER new: no offers.
AUDI TTS new: no offers.
AUDI TTS used: collected 2 offers.
BMW X6 used: collected 312 offers.
SKODA ROOMSTER used: collected 16 offers.
SKODA SCALA new: no offers.
SKODA SCALA used: no offers.
SKODA SUPERB new: collected 5 offers.
BMW X6_M new: collected 64 offers.
VOLKSWAGEN GOLF used: collected 433 offers.
VOLKSWAGEN GOLF_COUNTRY new: no offers.
VOLKSWAGEN GOLF_COUNTRY used: no offers.
VOLKSWAGEN GOLF_GTI new: no offers.
VOLKSWAGEN GOLF_GTI used: collected 23 offers.
VOLKSWAGEN GOLF_PLUS new: no offers.
SKODA SUPERB used: collected 201 offers.
SKODA YETI new: no offers.
BMW X6_M used: collected 61 offers.
VOLKSWAGEN GOLF_PLUS used: collected 66 offers.
VOLKSWAGEN GOLF_R new: no offers.
VOLKSWAGEN GOLF_R used: collected 7 offers.
VOLKSWAGEN GOLF_R32 new: no offers.
VOLKSWAGEN GOLF_R32 used: collected 1 offers.
VOLKSWAGEN GOLF_SPORTSVAN new: no offers.
VOLKSWAGEN GOLF_SPORTSVAN used: no offers.
VOLKSWAGEN ID3 new: no offers.
VOLKSWAGEN ID3 used: no offers.
VOLKSWAGEN ID4 new: no offers.
VOLKSWAGEN ID4 used: no offers.
VOLKSWAGEN ILTIS new: no offers.
VOLKSWAGEN ILTIS used: no offers.
BMW X7 new: collected 146 offers.
SKODA YETI used: collected 201 offers.
CITROEN 2CV new: no offers.
CITROEN 2CV used: no offers.
CITROEN AMI new: no offers.
CITROEN AMI used: no offers.
CITROEN AX new: no offers.
CITROEN AX used: no offers.
CITROEN BERLINGO new: no offers.
BMW X7 used: collected 37 offers.
BMW Z1 new: no offers.
VOLKSWAGEN JETTA new: collected 149 offers.
BMW Z1 used: no offers.
BMW Z3 new: no offers.
BMW Z3 used: collected 2 offers.
BMW Z3M new: no offers.
CITROEN BERLINGO used: collected 119 offers.
BMW Z3M used: collected 1 offers.
CITROEN BX new: no offers.
BMW Z4 new: collected 2 offers.
CITROEN BX used: collected 1 offers.
CITROEN C_CROSSER new: no offers.
BMW Z4 used: collected 10 offers.
BMW Z4_M new: no offers.
BMW Z4_M used: no offers.
BMW Z8 new: no offers.
BMW Z8 used: no offers.
SUZUKI AERIO new: no offers.
CITROEN C_CROSSER used: collected 30 offers.
CITROEN C_ELYSEE new: no offers.
SUZUKI AERIO used: collected 4 offers.
SUZUKI ALTO new: no offers.
CITROEN C_ELYSEE used: collected 19 offers.
CITROEN C_QUATRE new: no offers.
CITROEN C_QUATRE used: no offers.
CITROEN C_TRIOMPHE new: no offers.
CITROEN C_TRIOMPHE used: no offers.
CITROEN C_ZERO new: no offers.
CITROEN C_ZERO used: no offers.
CITROEN C1 new: no offers.
SUZUKI ALTO used: collected 3 offers.
SUZUKI ALTO_LAPIN new: no offers.
SUZUKI ALTO_LAPIN used: no offers.
SUZUKI APV new: no offers.
SUZUKI APV used: no offers.
SUZUKI BALENO new: no offers.
VOLKSWAGEN JETTA used: collected 327 offers.
VOLKSWAGEN K70 new: no offers.
VOLKSWAGEN K70 used: no offers.
VOLKSWAGEN KARMANN_GHIA new: no offers.
CITROEN C1 used: collected 8 offers.
CITROEN C2 new: no offers.
CITROEN C2 used: collected 8 offers.
CITROEN C3 new: no offers.
VOLKSWAGEN KARMANN_GHIA used: collected 1 offers.
SUZUKI BALENO used: collected 18 offers.
SUZUKI CAPPUCCINO new: no offers.
SUZUKI CAPPUCCINO used: no offers.
SUZUKI CARA new: no offers.
SUZUKI CARA used: no offers.
SUZUKI CARRY new: no offers.
SUZUKI CARRY used: no offers.
SUZUKI CELERIO new: no offers.
SUZUKI CELERIO used: no offers.
SUZUKI CERVO_CLASSIC new: no offers.
SUZUKI CERVO_CLASSIC used: no offers.
SUZUKI CULTUS new: no offers.
VOLKSWAGEN LAVIDA new: collected 1 offers.
VOLKSWAGEN LAVIDA used: no offers.
VOLKSWAGEN LUPO new: no offers.
CITROEN C3 used: collected 59 offers.
VOLKSWAGEN LUPO used: collected 4 offers.
VOLKSWAGEN LUPO_GTI new: no offers.
SUZUKI CULTUS used: collected 2 offers.
VOLKSWAGEN LUPO_GTI used: no offers.
SUZUKI EQUATOR new: no offers.
SUZUKI EQUATOR used: no offers.
SUZUKI ERTIGA new: no offers.
SUZUKI ERTIGA used: no offers.
SUZUKI ESCUDO new: no offers.
CITROEN C3_AIRCROSS new: collected 6 offers.
SUZUKI ESCUDO used: collected 11 offers.
SUZUKI ESTEEM new: no offers.
VOLKSWAGEN MULTIVAN new: collected 29 offers.
CITROEN C3_AIRCROSS used: collected 1 offers.
CITROEN C3_PICASSO new: no offers.
SUZUKI ESTEEM used: collected 1 offers.
SUZUKI EVERY new: no offers.
CITROEN C3_PICASSO used: collected 13 offers.
SUZUKI EVERY used: collected 1 offers.
SUZUKI FORENZA new: no offers.
CITROEN C4 new: collected 4 offers.
SUZUKI FORENZA used: collected 1 offers.
SUZUKI FRONTE new: no offers.
SUZUKI FRONTE used: no offers.
SUZUKI GRAND_VITARA new: no offers.

VOLKSWAGEN MULTIVAN used: collected 151 offers.
VOLKSWAGEN PARATI new: no offers.
VOLKSWAGEN PARATI used: no offers.
VOLKSWAGEN PASSAT new: collected 36 offers.
CITROEN C4 used: collected 299 offers.
CITROEN C4_AIRCROSS new: no offers.
SUZUKI GRAND_VITARA used: collected 266 offers.
SUZUKI HUSTLER new: no offers.
CITROEN C4_AIRCROSS used: collected 5 offers.
CITROEN C4_CACTUS new: no offers.
CITROEN C4_CACTUS used: no offers.
CITROEN C4_PICASSO new: no offers.
SUZUKI HUSTLER used: collected 3 offers.
SUZUKI IGNIS new: no offers.
SUZUKI IGNIS used: collected 15 offers.
CITROEN C4_PICASSO used: collected 71 offers.
CITROEN C4_SPACETOURER new: no offers.
CITROEN C4_SPACETOURER used: no offers.
CITROEN C5 new: no offers.
CITROEN C5 used: collected 94 offers.
CITROEN C5_AIRCROSS new: collected 32 offers.
SUZUKI JIMNY new: collected 173 offers.
CITROEN C5_AIRCROSS used: collected 1 offers.
CITROEN C6 new: no offers.
CITROEN C6 used: collected 1 offers.
CITROEN C8 new: no offers.
CITROEN C8 used: no offers.
CITROEN CX new: no offers.
CITROEN CX used: no offers.
CITROEN DS new: no offers.
SUZUKI JIMNY used: collected 38 offers.
SUZUKI KEI new: no offers.
SUZUKI KEI used: collected 1 offers.
CITROEN DS used: collected 1 offers.
CITROEN DS3 new: no offers.
SUZUKI KIZASHI new: no offers.
CITROEN DS3 used: collected 9 offers.
CITROEN DS4 new: no offers.
SUZUKI KIZASHI used: collected 1 offers.
CITROEN DS4 used: collected 27 offers.
CITROEN DS5 new: no offers.
CITROEN DS5 used: collected 4 offers.
CITROEN DYANE new: no offers.
CITROEN DYANE used: no offers.
CITROEN E_MEHARI new: no offers.
CITROEN E_MEHARI used: no offers.
CITROEN EVASION new: no offers.
CITROEN EVASION used: no offers.
CITROEN GS new: no offers.
CITROEN GS used: no offers.
CITROEN JUMPY new: no offers.
CITROEN JUMPY used: collected 10 offers.
CITROEN LN new: no offers.
CITROEN LN used: no offers.
CITROEN NEMO new: no offers.
CITROEN NEMO used: no offers.
CITROEN SAXO new: no offers.
CITROEN SAXO used: no offers.
CITROEN SM new: no offers.
CITROEN SM used: no offers.
VOLKSWAGEN PASSAT used: collected 904 offers.
VOLKSWAGEN PASSAT_NA new: no offers.
VOLKSWAGEN PASSAT_NA used: no offers.
VOLKSWAGEN PASSAT_CC new: no offers.
CITROEN SPACETOURER new: collected 55 offers.
CITROEN SPACETOURER used: collected 9 offers.
CITROEN TRACTION_AVANT new: no offers.
CITROEN TRACTION_AVANT used: no offers.
CITROEN VISA new: no offers.
CITROEN VISA used: no offers.
CITROEN XANTIA new: no offers.
VOLKSWAGEN PASSAT_CC used: collected 131 offers.
VOLKSWAGEN PHAETON new: no offers.
CITROEN XANTIA used: collected 3 offers.
CITROEN XM new: no offers.
CITROEN XM used: no offers.
CITROEN XSARA new: no offers.
VOLKSWAGEN PHAETON used: collected 20 offers.
VOLKSWAGEN POINTER new: no offers.
CITROEN XSARA used: collected 5 offers.
VOLKSWAGEN POINTER used: collected 17 offers.
CITROEN XSARA_PICASSO new: no offers.
CITROEN XSARA_PICASSO used: collected 28 offers.
CITROEN ZX new: no offers.
CITROEN ZX used: collected 1 offers.
LEXUS CT new: no offers.
LEXUS CT used: collected 8 offers.
LEXUS ES new: collected 35 offers.
LEXUS ES used: collected 72 offers.
LEXUS GS new: no offers.
VOLKSWAGEN POLO new: collected 409 offers.
LEXUS GS used: collected 69 offers.
LEXUS GS_F new: no offers.
LEXUS GS_F used: no offers.
LEXUS GX new: no offers.
LEXUS GX used: collected 49 offers.
LEXUS HS new: no offers.
LEXUS HS used: collected 1 offers.
LEXUS IS new: no offers.
LEXUS IS used: collected 48 offers.
LEXUS IS_F new: no offers.
LEXUS IS_F used: no offers.
LEXUS LC new: no offers.
LEXUS LC used: no offers.
LEXUS LFA new: no offers.
LEXUS LFA used: no offers.
LEXUS LM new: no offers.
LEXUS LM used: collected 1 offers.
LEXUS LS new: no offers.
LEXUS LS used: collected 65 offers.
LEXUS LX new: no offers.
LEXUS LX used: collected 148 offers.
LEXUS NX new: collected 66 offers.
VOLKSWAGEN POLO used: collected 708 offers.
VOLKSWAGEN POLO_GTI new: no offers.
LEXUS NX used: collected 70 offers.
LEXUS RC new: no offers.
VOLKSWAGEN POLO_GTI used: collected 1 offers.
LEXUS RC used: no offers.
VOLKSWAGEN POLO_R_WRC new: no offers.
LEXUS RC_F new: no offers.
VOLKSWAGEN POLO_R_WRC used: no offers.
VOLKSWAGEN QUANTUM new: no offers.
VOLKSWAGEN QUANTUM used: no offers.
LEXUS RC_F used: no offers.
VOLKSWAGEN ROUTAN new: no offers.
VOLKSWAGEN ROUTAN used: no offers.
VOLKSWAGEN SANTANA new: no offers.
VOLKSWAGEN SANTANA used: no offers.
VOLKSWAGEN SCIROCCO new: no offers.
LEXUS RX new: collected 3 offers.
VOLKSWAGEN SCIROCCO used: collected 16 offers.
VOLKSWAGEN SCIROCCO_R new: no offers.
VOLKSWAGEN SCIROCCO_R used: no offers.
VOLKSWAGEN SHARAN new: no offers.
VOLKSWAGEN SHARAN used: collected 69 offers.
VOLKSWAGEN T_CROSS new: no offers.
VOLKSWAGEN T_CROSS used: no offers.
VOLKSWAGEN T_ROC new: no offers.
VOLKSWAGEN T_ROC used: no offers.
VOLKSWAGEN T_ROC_R new: no offers.
VOLKSWAGEN T_ROC_R used: no offers.
VOLKSWAGEN TARO new: no offers.
VOLKSWAGEN TARO used: collected 1 offers.
VOLKSWAGEN TERAMONT new: no offers.
LEXUS RX used: collected 214 offers.
VOLKSWAGEN TERAMONT used: collected 9 offers.
VOLKSWAGEN TIGUAN new: collected 312 offers.
VOLKSWAGEN TIGUAN used: collected 466 offers.
VOLKSWAGEN TOUAREG new: collected 92 offers.
VOLKSWAGEN TOUAREG used: collected 475 offers.
VOLKSWAGEN TOURAN new: no offers.
VOLKSWAGEN TOURAN used: collected 74 offers.
VOLKSWAGEN TRANSPORTER new: collected 3 offers.
VOLKSWAGEN TRANSPORTER used: collected 165 offers.
VOLKSWAGEN TYPE_1 new: no offers.
VOLKSWAGEN TYPE_1 used: collected 5 offers.
VOLKSWAGEN TYPE_166 new: no offers.
VOLKSWAGEN TYPE_166 used: no offers.
VOLKSWAGEN TYPE_2 new: no offers.
VOLKSWAGEN TYPE_2 used: collected 1 offers.
VOLKSWAGEN TYPE_3 new: no offers.
VOLKSWAGEN TYPE_3 used: no offers.
VOLKSWAGEN TYPE_4 new: no offers.
VOLKSWAGEN TYPE_4 used: no offers.
VOLKSWAGEN UP new: no offers.
VOLKSWAGEN UP used: no offers.
VOLKSWAGEN VENTO new: no offers.
VOLKSWAGEN VENTO used: collected 14 offers.
VOLKSWAGEN XL1 new: no offers.
VOLKSWAGEN XL1 used: no offers.
Total time: 25 mins.

Так как парсинг проводился в несколько этапов, то произведем некоторые 
манипуляции с данными, до их слияния/сохранения для загрузки на Kaggle

In [63]:
df_1 = pd.read_csv('cars_prices_multiprocessing.csv')
df_1.shape

(162913, 35)

In [64]:
df_2 = pd.read_csv('cars_prices_multiprocessing_08_11_2020.csv')
df_2.shape

(56457, 36)

In [65]:
# В данные попадает аж 187 раз заголовоки для csv-таблицы. Удалим их
df_1 = df_1.loc[df_1.brand != 'brand']
display(df_1.shape)

df_2 = df_2.loc[df_2.brand != 'brand']
display(df_2.shape)

(161714, 35)

(55508, 36)

In [66]:
# Проверим наличие дубликатов по sell_id
display(df_1.sell_id.unique().shape)

display(df_2.sell_id.unique().shape)

(55884,)

(54256,)

In [67]:
# Удалим дубли по признаку sell_id
df_1.drop_duplicates(subset=['sell_id'], inplace=True)
display(df_1.shape)

df_2.drop_duplicates(subset=['sell_id'], inplace=True)
display(df_2.shape)

(55884, 35)

(54256, 36)

### Первичная обработка данных

При парсинге первого датасета df_1 мной была допущена ошика при получении значения ПТC, которая привела к тому, что значения Дубликат нет совсем, вместо него записано значение Оригинал.  
Стоит попробовать отдельно спарсить правильное значение этого признака, но перед этим сделаем быструю проверки есть ли какое либо влияние на стоимость авто значений этого признака.

In [454]:
df_2.ПТС.unique()

array(['ORIGINAL', 'DUPLICATE', nan], dtype=object)

In [455]:
df_2.isnull().sum()

bodyType                    2
brand                       0
color_hex                   0
description              1643
engineDisplacement          2
enginePower                 2
equipment_dict          12339
fuelType                    2
image                       0
mileage                     0
modelDate                   2
model_info                  0
model_name                  0
name                        2
numberOfDoors               2
parsing_unixtime            0
priceCurrency             215
productionDate              0
sell_id                     0
section                     0
url_saleid                  0
super_gen                   2
vehicleConfiguration        2
vehicleTransmission         2
vendor                      0
Владельцы               12799
ПТС                       333
Привод                      2
Руль                        0
Состояние                 886
Таможня                     0
price                     215
price_timestamp           215
auto_class                299
price_segment               2
seller_type                 0
dtype: int64

In [68]:
# удалим объекты с пропусками в след. признаках, а так же где нет цены, так как кол-во пропусков там минимально
cols_to_dropna = 'bodyType engineDisplacement enginePower fuelType modelDate name numberOfDoors super_gen vehicleConfiguration vehicleTransmission Привод price price_timestamp price_segment'.split(' ')


df_1 = df_1.dropna(subset=cols_to_dropna)
df_2 = df_2.dropna(subset=cols_to_dropna)

In [69]:
df_1.price = df_1.price.astype('int64')
df_1.sell_id = df_1.sell_id.astype('int64')

df_2.price = df_2.price.astype('int64')
df_2.sell_id = df_2.sell_id.astype('int64')

In [20]:
df_2[['ПТС', 'price']].groupby('ПТС').median()

             price
ПТС
DUPLICATE   420000
ORIGINAL   1050000

Значение признака price меняется в 2.5 раза в зависимости значения признака ПТС, поэтому признак ПТС является значимым и его необходимо актуализировать.  
К сожалению, ввиду

## Удаление не корректных данных по  ПТС и конкатенация двух трейнов

In [70]:
def convert_to_datetime(t_stamps):
    """
    Функция получает массив временных меток и
    преобразует каждый элемент к формату datetime
    :param t_stamps: a list of unix time stamps
    :return a list of datetime objects
    """
    
    return [datetime.fromtimestamp(t_stamp) for t_stamp in t_stamps.astype('float64')]





test = pd.read_csv('test_26_10_2020.csv', parse_dates=['parsing_unixtime'],
                    date_parser=convert_to_datetime)

test.shape

(34686, 32)

In [71]:
###
# Посмотрим какое кол-во объявлений из трейна есть в тесте.  Это нужно для того, чтобы постараться по максимуму свосстановить корректные значения признака ПТС в трейне из теста по признаку sel_id

train_1_ids = df_1.sell_id.unique()
train_2_ids = df_2.sell_id.unique()
test_ids = test.sell_id.unique()

diff_train_1_train_2_ids = set(train_1_ids) - set(train_2_ids)
common_tr_1_tr_2_and_test_ids = set(diff_train_1_train_2_ids) & set(test_ids)

print(f"В тесте есть: {len(common_tr_1_tr_2_and_test_ids)} записей")

# Сокращаем df_1 до тех записей, которые есть в common_tr_1_tr_2_and_test_ids
df_1 = df_1[df_1.sell_id.isin(common_tr_1_tr_2_and_test_ids)]
df_1.shape

В тесте есть: 3669 записей

(3669, 35)

In [72]:
# Теперь пройдемся по каждой строке df_1 и заменим значение признака ПТС
test_ids = test.sell_id.unique()

def fill_pts_value_from_test(row):
    curr_sell_id = row['sell_id']
    
    if curr_sell_id in test_ids:
        pts_in_test = test[test.sell_id == curr_sell_id].ПТС.iloc[0]
        row['ПТС'] = pts_in_test
    
    return row

df_1 = df_1.apply(fill_pts_value_from_test, axis=1)

In [75]:
# ОТЛИЧНО - ЗАМЕНИЛИ ЗНАЧЕНИЯ НА ТЕ, КОТОРЫЕ ЕСТЬ В ТЕСТЕ.

df_1.ПТС.value_counts()

Оригинал    3247
Дубликат     422
Name: ПТС, dtype: int64

### Объединение df_1 и df_2

In [79]:
# для df_1
cols_to_del_df_1 = ['model', 'price_timestamp']
cols_to_add_df_1 = ['section', 'url_saleid']

df_1.drop(labels=cols_to_del_df_1, axis=1, inplace=True)
for col in cols_to_add_df_1:
    df_1[col] = np.nan

# для df_2
cols_to_del_df_2 = ['price_timestamp']
df_2.drop(labels=cols_to_del_df_2, axis=1, inplace=True)

In [80]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3669 entries, 18 to 162894
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bodyType              3669 non-null   object
 1   brand                 3669 non-null   object
 2   color_hex             3669 non-null   object
 3   description           3479 non-null   object
 4   engineDisplacement    3669 non-null   object
 5   enginePower           3669 non-null   object
 6   equipment_dict        2728 non-null   object
 7   fuelType              3669 non-null   object
 8   image                 3669 non-null   object
 9   mileage               3669 non-null   object
 10  modelDate             3669 non-null   object
 11  model_info            3669 non-null   object
 12  model_name            3669 non-null   object
 13  name                  3669 non-null   object
 14  numberOfDoors         3669 non-null   object
 15  parsing_unixtime      3669 non-null   object
 16  priceCurrency         3669 non-null   object
 17  productionDate        3669 non-null   object
 18  sell_id               3669 non-null   int64
 19  super_gen             3669 non-null   object
 20  vehicleConfiguration  3669 non-null   object
 21  vehicleTransmission   3669 non-null   object
 22  vendor                3669 non-null   object
 23  Владельцы             3669 non-null   object
 24  ПТС                   3669 non-null   object
 25  Привод                3669 non-null   object
 26  Руль                  3669 non-null   object
 27  Состояние             3664 non-null   object
 28  Таможня               3669 non-null   object
 29  price                 3669 non-null   int64
 30  auto_class            3653 non-null   object
 31  price_segment         3669 non-null   object
 32  seller_type           3669 non-null   object
 33  section               0 non-null      float64
 34  url_saleid            0 non-null      float64
dtypes: float64(2), int64(2), object(31)
memory usage: 1.0+ MB

In [81]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54039 entries, 0 to 56456
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bodyType              54039 non-null  object
 1   brand                 54039 non-null  object
 2   color_hex             54039 non-null  object
 3   description           52410 non-null  object
 4   engineDisplacement    54039 non-null  object
 5   enginePower           54039 non-null  object
 6   equipment_dict        41780 non-null  object
 7   fuelType              54039 non-null  object
 8   image                 54039 non-null  object
 9   mileage               54039 non-null  object
 10  modelDate             54039 non-null  object
 11  model_info            54039 non-null  object
 12  model_name            54039 non-null  object
 13  name                  54039 non-null  object
 14  numberOfDoors         54039 non-null  object
 15  parsing_unixtime      54039 non-null  object
 16  priceCurrency         54039 non-null  object
 17  productionDate        54039 non-null  object
 18  sell_id               54039 non-null  int64
 19  section               54039 non-null  object
 20  url_saleid            54039 non-null  object
 21  super_gen             54039 non-null  object
 22  vehicleConfiguration  54039 non-null  object
 23  vehicleTransmission   54039 non-null  object
 24  vendor                54039 non-null  object
 25  Владельцы             41240 non-null  object
 26  ПТС                   53706 non-null  object
 27  Привод                54039 non-null  object
 28  Руль                  54039 non-null  object
 29  Состояние             53164 non-null  object
 30  Таможня               54039 non-null  object
 31  price                 54039 non-null  int64
 32  auto_class            53743 non-null  object
 33  price_segment         54039 non-null  object
 34  seller_type           54039 non-null  object
dtypes: int64(2), object(33)
memory usage: 14.8+ MB

In [83]:
df = df_1.append(df_2, sort=False).reset_index(drop=True)
df.shape

(57708, 35)

In [86]:
# Write to csv-file
df.to_csv('car_price_multiprocessing_full_dataset_08_11_2020.csv', index=False, encoding='utf-8')

## Read the parsed data

In [88]:
df = pd.read_csv('car_price_multiprocessing_full_dataset_08_11_2020.csv')

In [91]:
df.tail()

,bodyType,brand,color_hex,description,engineDisplacement,enginePower,equipment_dict,fuelType,image,mileage,...,Привод,Руль,Состояние,Таможня,price,auto_class,price_segment,seller_type,section,url_saleid
57703,седан,VOLKSWAGEN,040001,"Машина в хорошем состоянии для своих лет,при о...",1984,115,NaN,GASOLINE,//avatars.mds.yandex.net/get-autoru-vos/219862...,260000,...,FORWARD_CONTROL,LEFT,NaN,Растаможен,40000,C,MEDIUM,PRIVATE,used,1092168300-c499de7e
57704,седан,VOLKSWAGEN,22A0F8,"Полностью обслужена,все дно переварили в июле,...",1984,115,"{'passenger-seat-updown': True, 'airbag-passen...",GASOLINE,//avatars.mds.yandex.net/get-autoru-vos/218118...,250000,...,FORWARD_CONTROL,LEFT,Не требует ремонта,Растаможен,100000,C,MEDIUM,PRIVATE,used,1100541674-b598d47f
57705,седан,VOLKSWAGEN,97948F,Покупалась временно до покупки нового Авто. Ст...,1781,90,NaN,GASOLINE,//avatars.mds.yandex.net/get-autoru-vos/220317...,180580,...,FORWARD_CONTROL,LEFT,Не требует ремонта,Растаможен,65000,C,MEDIUM,PRIVATE,used,1096783262-25c15bab
57706,седан,VOLKSWAGEN,EE1D19,"В хорошем состоянии, сел и поехал. Масло мен...",1781,90,"{'engine-proof': True, 'ptf': True, 'airbag-dr...",GASOLINE,//avatars.mds.yandex.net/get-autoru-vos/215936...,177000,...,FORWARD_CONTROL,LEFT,Не требует ремонта,Растаможен,110000,C,MEDIUM,PRIVATE,used,1099086896-a15245c2
57707,седан,VOLKSWAGEN,0000CC,NaN,1595,75,"{'alloy-wheel-disks': True, 'tinted-glass': Tr...",GASOLINE,//avatars.mds.yandex.net/get-autoru-vos/217450...,320000,...,FORWARD_CONTROL,LEFT,Не требует ремонта,Растаможен,100000,C,MEDIUM,PRIVATE,used,1101194108-28aff187

### Произведем первичные преобразования значений в признаках:
- fuelType
- color - создадим, а color_hex удалим
- Руль
- Привод

In [92]:
# преобразуем значения признака fuelType
fuel_type_converter = {
    'GASOLINE': 'бензин',
    'DIESEL': 'дизель',
    'HYBRID': 'гибрид',
    'ELECTRO': 'электро',
    'LPG': 'газ',
}

color_convertor = {
    '040001': 'черный',
    'FAFBFB': 'белый',
    '0000CC': 'синий',
    '97948F': 'серый',
    'CACECB': 'серебристый',
    '200204': 'коричневый',
    'EE1D19': 'красный',
    '007F00': 'зелёный',
    '22A0F8': 'голубой',
    'C49648': 'бежевый.',
    'DEA522': 'золотистый',
    'FF8649': 'оранжевый',
    '660099': 'фиолетовый',
    '4A2197': 'пурпурный',
    'FFD600': 'жёлтый',
    'FFC0CB': 'розовый',    
}

#  Нужно применить
wheel_convertor = {
    'LEFT': 'левый',
    'RIGHT': 'правый',
}

transmission_converter = {
    'MECHANICAL': 'механическая',
    'AUTOMATIC': 'автоматическая',
    'ROBOT': 'роботизированная',
    'VARIATOR': 'вариаторная'
}

gear_type_convertor = {
    'REAR_DRIVE': 'задний',
    'ALL_WHEEL_DRIVE': 'полный',
    'FORWARD_CONTROL': 'передний',
}

pts_convertor = {
    'ORIGINAL': 'Оригинал',
    'DUPLICATE': 'Дубликат',
}

def convert_features(data):
    data.fuelType.replace(fuel_type_converter, inplace=True)

    # преобразуем значения цветов из hex-формата в строчное название цвета
    data['color'] = data.color_hex.apply(lambda x: color_convertor[x])
    data.drop(labels='color_hex', axis=1, inplace=True)
    
    # Преобразуем признак steering_wheel
    data['Руль'].replace(wheel_convertor, inplace=True)
    
    # Преобразуем признак vehicleTransmission
    data.vehicleTransmission.replace(transmission_converter, inplace=True)
    
    # Преобразуем признак gear_type
    data['Привод'].replace(gear_type_convertor, inplace=True)
    
    # Преобразуем признак ПТС
    data['ПТС'].replace(pts_convertor, inplace=True)
    
    # Переведем в верхний регистра название бренда
    data.brand = data.brand.str.upper()
    
    return data

In [93]:
# df = convert_features(mult_df)
df = convert_features(df)

In [95]:
df.isnull().sum()

bodyType                    0
brand                       0
description              1819
engineDisplacement          0
enginePower                 0
equipment_dict          13200
fuelType                    0
image                       0
mileage                     0
modelDate                   0
model_info                  0
model_name                  0
name                        0
numberOfDoors               0
parsing_unixtime            0
priceCurrency               0
productionDate              0
sell_id                     0
super_gen                   0
vehicleConfiguration        0
vehicleTransmission         0
vendor                      0
Владельцы               12799
ПТС                       333
Привод                      0
Руль                        0
Состояние                 880
Таможня                     0
price                       0
auto_class                312
price_segment               0
seller_type                 0
section                  3669
url_saleid               3669
color                       0
dtype: int64

In [325]:
# удалим объекты с пропусками в след. признаках, а так же где нет цены, так как кол-во пропусков там минимально
cols_to_dropna = 'bodyType engineDisplacement enginePower fuelType modelDate name numberOfDoors super_gen vehicleConfiguration vehicleTransmission Привод price price_timestamp price_segment'.split(' ')

df = df.dropna(subset=cols_to_dropna)

### Запишем получившийся датасет в csv-файл

In [96]:
df.to_csv('car_price_08_11_2020_final.csv', index=False, encoding='utf-8')

In [7]:
import numpy as np

In [11]:
np.linspace(start = 100, stop = 1500, num = 50)

array([ 100.        ,  128.57142857,  157.14285714,  185.71428571,
        214.28571429,  242.85714286,  271.42857143,  300.        ,
        328.57142857,  357.14285714,  385.71428571,  414.28571429,
        442.85714286,  471.42857143,  500.        ,  528.57142857,
        557.14285714,  585.71428571,  614.28571429,  642.85714286,
        671.42857143,  700.        ,  728.57142857,  757.14285714,
        785.71428571,  814.28571429,  842.85714286,  871.42857143,
        900.        ,  928.57142857,  957.14285714,  985.71428571,
       1014.28571429, 1042.85714286, 1071.42857143, 1100.        ,
       1128.57142857, 1157.14285714, 1185.71428571, 1214.28571429,
       1242.85714286, 1271.42857143, 1300.        , 1328.57142857,
       1357.14285714, 1385.71428571, 1414.28571429, 1442.85714286,
       1471.42857143, 1500.        ])